@model LifeOne.Models.AdminManagement.AEntity.MAdminWallet
@using LifeOne.Models.Manager;
@{
    ViewBag.Title = "FranchisePaymentRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .hide {
        display: none;
    }
</style>

@{
    int count = 0;
    string msg = (string)TempData["msg"];
    string code = Convert.ToString(TempData["code"]);
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        }
        else
        {
            <div class="alert alert-danger m-t-30" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        }
    }

}
<!-- Start Content-->
<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Franchise Payment Request Approve/Decline</h4>
            <nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#-">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Franchise Payment Approve/Decline</li>
                </ol>
            </nav>
        </div>
        <div class="pbutton">
            <div class="right text-right">
                <span>
                    @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                </span>
                <span>
                    <a href="@Url.Action("ExportToExcelFranchisePaymentRequestList","Wallet",new {page=Model!=null && Model.Pager!=null&&Model.Pager.EndPage>0?Model.Pager.CurrentPage:1 })" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                </span><span>
                    <button type="button" id="btnpdf" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                </span>
            </div>
        </div>
    </div>


    <div id="no-more-tables">
        <div class="row">

            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">

                        @*@using (Html.BeginForm("WalletRequest", null, FormMethod.Post))
                            {*@
                        <form action="/FranchisePaymentRequest" method="post">
                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Login ID</label>
                                                    <input type="text" name="LoginID" id="LoginID" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="DisplayName" id="DisplayName" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>PinCode</label>
                                                    <input type="text" name="PinCode" id="PinCode" placeholder="" maxlength="6" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    @Html.DropDownListFor(m => m.IsApprove, new List<SelectListItem>() {
                                                  new SelectListItem { Text="--Select--",Value=""},
                                                  new SelectListItem { Text="Pending",Value="false"},
                                                  new SelectListItem { Text="Approved",Value="true"}
                                  }, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                    <a class="btn btn-secondary" href="" style="margin-top:1.5em;">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="table-responsive" >
                            <table id="myTable" class="table  mb-0">
                                <thead>

                                    <tr>
                                        <th>S.No.</th>
                                        <th>Login</th>
                                        <th>Associate Name</th>
                                        <th>Company Name/Bank Details</th>
                                        @*<th>TransactionNo</th>*@
                                        <th>Requested Amount</th>
                                        <th>Approved Amount</th>
                                        <th>No. of Payment</th>
                                        <th>PinCode</th>
                                            <th>Request Date</th>
                                        <th>Status</th>
                                        <th class="hide">View Slip</th>
                                        @*<th>Action</th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.objList)
                                    {
                                    <tr>
                                        <td>@(count = count + 1)</td>
                                        <td>@item.LoginId</td>
                                        <td>@item.DisplayName</td>
                                        <td>@item.CompanyName</td>
                                        @*<td>@item.TransactionNo</td>*@
                                        <td>@item.RequestAmount</td>
                                        <td>@item.Amount</td>
                                        <td>
                                            <a href="#" onclick="OpenPopUpForViewPaymentInfo(@item.Pk_RequestId)">@item.PaymentCount</a>

                                        </td>
                                        <td>@item.PinCode</td>
                                        @*<td>@item.PaymentMode</td>
        <td>@item.RequestedDate</td>*@

                                        <td>
                                            @if (@item.PaymentStatus == "Approved")
                                            {

                                                <a class="label label-success">@item.PaymentStatus</a>
                                            }
                                            @if (@item.PaymentStatus == "Pending")
                                            {
                                                <a class="label label-warning">@item.PaymentStatus</a>
                                            }
                                            @if (@item.PaymentStatus == "Declined")
                                            {
                                                <a class="label label-warning">@item.PaymentStatus</a>
                                            }

                                        </td>

                                        <td class="hide">
                                            <a onclick="OpenPopUp('@item.SlipUpload');" data-toggle="modal" data-rel="tooltips" ToolTip="Approve Request" data-target="#myModal4"><i class="fa fa-eye fa-x"></i></a>

                                        </td>

                                        <!--<td data-title="Action:">-->
                                        @*<button type="button" class="btn btn-sm btn-secondary" ng-click="GetOtherDetails();" title="View"><i class="fa fa-eye" aria-hidden="true"></i> View</button>*@

                                        <!--@if (PermissionManager.IsActionPermit("Franchise Payment Request Approval", ViewOptions.FormUpdate))
        {

            if (@item.PaymentStatus == "Pending")
            {
                <a href="/ApproveFranchisePaymentRequest?Id=@item.Pk_RequestId" onclick="return confirm('are you sure to approve this request?')" class="btn btn-sm btn-success" tooltip="Approve" data-original-title="" title="Approve Payment">
                    Approve
                </a>
                <a href="#" id="btnDecline" class="btn btn-sm btn-danger" data-toggle="modal" data-rel="tooltips" ToolTip="Decline Request" data-target="#myModal5" onclick=" return FillIdForDecline(@item.Pk_RequestId);">
                    Decline
                </a>
            }

        }

    </td>-->
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <footer class="card-footer bg-white p-2">
                            <div class="d-md-flex align-items-center justify-content-between">

                                @if (Model != null)
                                {
                                    if (Model.Pager != null)
                                    {
                                        if (Model.Pager.EndPage > 1)
                                        {
                                            <div> <small class="text-muted inline">showing @Model.objList.Count  of @Model.objList[0].TotalRecords items</small> </div>
                                            <div>
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    @if (Model.Pager.CurrentPage > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="/FranchisePaymentRequest?Name=@Model.DisplayName&LoginId=@Model.LoginId&IsApprove=@Model.IsApprove">First</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="/FranchisePaymentRequest?page=@(Model.Pager.CurrentPage - 1)&Name=@Model.DisplayName&LoginId=@Model.LoginId&IsApprove=@Model.IsApprove">Previous</a>
                                                        </li>
                                                    }
                                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                    {
                                                        <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                            <a class="page-link" href="/FranchisePaymentRequest?page=@page&Name=@Model.DisplayName&LoginId=@Model.LoginId&IsApprove=@Model.IsApprove">@page</a>
                                                        </li>
                                                    }
                                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="/FranchisePaymentRequest?page=@(Model.Pager.CurrentPage + 1)&Name=@Model.DisplayName&LoginId=@Model.LoginId&IsApprove=@Model.IsApprove">Next</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="/FranchisePaymentRequest?page=@(Model.Pager.TotalPages)&Name=@Model.DisplayName&LoginId=@Model.LoginId&IsApprove=@Model.IsApprove">Last</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </footer>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
    </div>


    <div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="card-title">View Image</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style="max-height:500px">
                        <img src="" class="img-bordered img-responsive" id="SlipImg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Decline Request</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <textarea class="form-control" id="ApprovelRemark" name="ApprovelRemark" maxlength="500"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" id="Save" name="Save" class="btn btn-success" value="Decline" onclick="return validate();" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden" name="HDNPk_RequestId" id="HDNPk_RequestId" />
                </div>

            </div>
        </div>

    </div>

    <div class="modal fade in" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title">View Payment History</h5>
                        <button type="button" class="close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>*@

                    <button type="button" class="close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">View Payment History</h4>



                </div>
                <div class="modal-body">
                    <div class="table-responsive" >
                        <table class="table  mb-0" id="tblPaymentHistory">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Login</th>
                                    <th>TransactionNo</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Request Date</th>
                                    <th>View Slip</th>
                                    <th>Remark</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function OpenPopUp(Img) {
            debugger;
            if (Img != "") {
                $('#SlipImg').attr('src', Img);
            }
            else {
                $('#SlipImg').attr('src', '~/Content/WebsiteCss/assets/images/others/logo.png');
            }
        }

        function FillIdForDecline(Id) {

            $('#HDNPk_RequestId').val(Id);
        }

        function validate() {
            if ($('#HDNPk_RequestId').val() == "" || $('#HDNPk_RequestId').val() == "0" || $('#HDNPk_RequestId').val() == null || $('#HDNPk_RequestId').val() == undefined) {
                alert('Something Went Wrong!!!Please Try again ');
                return false;

            }
            else if ($('#ApprovelRemark').val() == '' || $('#ApprovelRemark').val() == null || $('#ApprovelRemark').val() == undefined) {
                $('#ApprovelRemark').focus();
                return false;
            }
            else {
                var _model =
                {
                    ApprovelRemark: $('#ApprovelRemark').val(),
                    Pk_RequestId: $('#HDNPk_RequestId').val()

                }
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    contentType: 'application/json;charset=utf-8',
                    traditional: true,
                    url: '/Admin/Wallet/DeclineFranchisePaymentRequest',
                    data: JSON.stringify({ model: _model }),
                    success: function (respons) {

                        if (respons.Flag == 1) {

                            window.setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        }
                        else {
                            window.setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        }
                    }
                });
            }
        }

        function OpenPopUpForViewPaymentInfo(Pk_RequestId) {
            debugger
            $("#myModal6").modal('show');
            OpenPopUpForViewPaymentInfoDetail(Pk_RequestId);
        }

        function OpenPopUpForViewPaymentInfoDetail(Pk_RequestId) {
            if (Pk_RequestId > 0) {
                $("#tblPaymentHistory tbody").empty();
                var model = {
                    Pk_RequestId: Pk_RequestId
                };
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    contentType: 'application/json;charset=utf-8',
                    traditional: true,
                    url: '/Admin/Wallet/GetFranchiseRequestPaymentHistory',
                    data: JSON.stringify(model),
                    success: function (respons) {
                        debugger
                        if (respons != null) {
                            var c = 0;
                            var rows = "";


                            $.each(respons, function (index, item) {
                                var Comstatus = "";
                                if (item.CompanionStatus == 2) {
                                    Comstatus = "<label class='label label-success'>Companion</label>"
                                }

                                c = c + 1;
                                rows += "<tr><td>" + c + "<td>" + item.LoginId + "<br/>" + Comstatus + "</td><td>" + item.TransactionNo + "</td><td><input style='width: 80px;'  id='Actual" + c + "' value=" + item.Amount + " /></td><td>" + item.PaymentMode + "</td><td>" + item.RequestedDate + "</td><td><a href=" + item.SlipUpload + " target='_blank'><img src=" + item.SlipUpload + " width='50' height='50'  /></a></td>" + ManegeButtonOnStatus(item.PaymentStatus, item.Pk_RequestId, Pk_RequestId, c, item.ApprovelRemark) + "</tr > ";
                            });
                            $("#tblPaymentHistory tbody").append(rows);

                        }
                    }
                });
            }
        }

        function ManegeButtonOnStatus(status, Id, Pk_RequestId, c, Remark) {
            debugger
            var html = "";
            //if (Remark != null && Remark != undefined) {
            //    html = "<td><input type='text' id='D" + c + "' value='" + Remark + "' readonly/></td>"
            //}
            //else {
            //    html = "<td><input type='text' id='D" + c + "'/></td>"
            //}
            if (status == "Pending" || status == null || status == '') {
                html += "<td><input type='text' id='D" + c + "'/></td><td><button onclick='ApprovePaymenthistory(" + Id + ',' + Pk_RequestId + ',' + c + ',"Approve"' + ")' class='btn btn-sm btn-success' tooltip='Approve' title='Approve Payment'>Approve</button> &nbsp;<button onclick='ApprovePaymenthistory(" + Id + ',' + Pk_RequestId + ',' + c + ',"Decline"' + ")' class='btn btn-sm btn-danger' tooltip='Approve' title='Decline Payment'>Decline</button></td>";

            } else {
                if (status == 'Declined' || status == 'Approved') {
                    if (Remark != null && Remark != undefined) {
                        html = "<td><input type='text' id='D" + c + "' value='" + Remark + "' readonly/></td>"
                    }
                    else {
                        html = "<td><input type='text' id='D" + c + "' readonly/></td>"
                    }

                    if (status == 'Declined') {
                        html += "<td><label class='label label-danger'>" + status + "</label></td>";
                    }
                    else {
                        html += "<td><label class='label label-success'>" + status + "</label></td>";
                    }
                }
            }

            return html;
        }

        function ApprovePaymenthistory(Id, Pk_RequestId, RowID, Status) {
            debugger
            var textBoxValue = '';
            if (Status == 'Decline') {
                textBoxValue = $("#D" + RowID).val();
                if (textBoxValue == null || textBoxValue == undefined || textBoxValue == '') {
                    $("#D" + RowID).focus();
                    return false;
                }
            }

            var editActualAmount = $("#Actual" + RowID).val();
            var model = {
                Id: Id,
                Pk_RequestId: Pk_RequestId,
                Remark: textBoxValue,
                StatusValue: Status,
                ActualAmount: editActualAmount
            }



            $.ajax({
                type: 'post',
                datatype: 'json',
                contentType: 'application/json;charset=utf-8',
                traditional: true,
                url: '/Admin/Wallet/Proc_FranchisePaymentRequestApproveUpdateChild',
                data: JSON.stringify(model),
                success: function (respons) {
                    debugger
                    if (respons != null) {
                        OpenPopUpForViewPaymentInfoDetail(Pk_RequestId);
                    }
                }
            });
        }

        function closeModal() {
            window.location.href = "/FranchisePaymentRequest";
        }
    </script>
    <script>

         $('#btnpdf').click(function () {
        var col = [8, 0]; // coloms to remove

        var tbl = $('#myTable').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 35,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Payment Request Details',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "Payment Request Details");
        doc.page++;
        doc.save('PaymentRequestDetails.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('myTable').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Payment Request Details</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
        </script>

