@model LifeOne.Models.AdminManagement.AEntity.MAdminProductType
@using LifeOne.Models.Manager;
@{
    ViewBag.Title = "ProductType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


@{
    string msg = (string)TempData["msg"];
    string code = Convert.ToString(TempData["code"]);
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        }
        else
        {
            <div class="alert alert-success m-t-30" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>




        }
    }

}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Product Type Master</h4>
            @*<nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#-">Masters</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Product Type</li>
                </ol>
            </nav>*@
        </div>
        <div class="pbutton">
            <div class="right text-right">
                @*<span>
                        <button type="button" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnprint"><i class="fa fa-print"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                    </span>*@

                @if (PermissionManager.IsActionPermit("Product Type", ViewOptions.FormSave))
                {
                    <a href="" id="btnAdd" class="btn btn-success btn-sm" onclick="return ResetPopup();" data-toggle="modal" title="Add New" Target="_blank" data-rel="tooltips" ToolTip="Edit" data-target="#myModal4">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New
                    </a>
                }
            </div>
        </div>
    </div>



    <div id="no-more-tables">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-9">
                                @*<h4 class="header-title mt-0 mb-1">Product Type List</h4>*@
                            </div>
                            @*<div class="col-md-3 pull-right text-right" style="position:relative">

                                    <a class="btn btn-outline-warning small advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom">Search&nbsp;<i class="fa fa-search"></i></a>

                                </div>*@
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-12">
                                <div class="alert alert-warning" style="color:#727272 !important">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Login Id</label>
                                                <input type="text" name="LoginID" id="LoginID" placeholder="Enter Login Id" class="form-control">

                                            </div>
                                        </div>


                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label style="display:block;"></label>
                                                <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                <a href="/ProductType" class="btn btn-secondary" style="margin-top:1.5em;">Reset</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive" >
                            <table id="myTable" class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#Sn.</th>
                                        <th>Product Type Name</th>                                       
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.objList)
                                    {
                                        <tr>
                                            <td>@(count = count + 1)</td>
                                            <td>@item.ProductType</td>
                                           
                                            <td class="text-right">
                                               
                                                    @if (PermissionManager.IsActionPermit("Product Type", ViewOptions.FormUpdate))
                                                    {
                                                        <button type="button" class="btn btn-primary btn-sm" onclick="return OpenPopUp('@item.Pk_ProductTypeId','@item.ProductType','true','@item.ProductTypeImage')" data-toggle="modal" Target="_blank" data-rel="tooltips" ToolTip="Edit" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                                                    }
                                               
                                                @if (PermissionManager.IsActionPermit("Product Type", ViewOptions.FormDelete))
                                                {
                                                    <a href="/ProducType/ProductTypeDelete?Id=@item.Pk_ProductTypeId" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
    </div>

    @using (Html.BeginForm("ProductTypeSave", "ProducType", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Add/Update Product Type</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                @Html.HiddenFor(m => m.Pk_ProductTypeId, new { @id = "Pk_ProductTypeId" })


                                <div class="col-md-12">
                                    <label class="form-control-placeholder" for="name">Product Type Name</label>
                                    <input type="text" class="form-control" name="ProductType" id="ProductType">
                                    
                                    
                                        <label class="form-control-placeholder" for="name">Product Type Image</label><br/>
                                        <img src="@Model.ProductTypeImage" id="imagePreview" class="" onerror="this.src='/Content/Associate/assets/images/no-img.jpg'" style="height:60px;width:60px;">
                                        @Html.TextBoxFor(m => m.file, new { @type = "file", @id = "file", @onchange = "UploadFile()" })

                                        @*<input type="Submit" value="Update" name="Update" class="btn btn-warning " onclick="return UploadFile() " id="BtnChangePassword">*@
                                        @*@Html.HiddenFor(m => m.file, new { @type = "file", @class = "input-text form-control", @onchange = "ShowImagePreview(this)" })*@
                                        <input type="file" onchange="ShowImagePreview(this)" hidden />

                                </div>


                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="Save" name="Save" class="btn btn-primary" value="Save" onclick="return validate();" />

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>

        </div>
    }

</div>
<script>
    function ResetPopup() {
        $("#Loginid").val("")
        $("#IsActive").prop("checked", false);
        $("#hf_fk_memid").val("")
        $('#Save').val('Save')
        $('#ProductType').val("");
        $("#Save").show();
    }

    function OpenPopUp(pk_id, name, isSpaceOrbit, ProductTypeImage) {
        debugger;
        //data - target="#myModal4"
        //$("#myModal4").modal("show");
        $('#Pk_ProductTypeId').val(pk_id);
        //$('#imagePreview').val(ProductTypeImage);
        $('#imagePreview').attr('src',ProductTypeImage);
        $('#Save').val('Update')
        $('#ProductType').val(name);
        //if (isSpaceOrbit == "true") {
        //    $('#IsSpaceOrbit').prop('checked', 'checked');
        //}
        //else {
        //    $('#IsSpaceOrbit').prop('checked', '');
        //}
    }

    function validate() {
        if ($('#ProductType').val() == '' || $('#ProductType').val() == null || $('#ProductType').val() == undefined) {
            $('#ProductType').focus();
            return false;
        }
    }

    function UploadFile() {
        debugger;
        /*    var Id = $(obj).attr("Id");*/
        var data = new FormData();
        // var Change = $('[name="file"]').val();
        var files = $("#file").get(0).files;
        if (files.length == 0) {
            /*       data.append("subdir", subdir);*/

            alert("Please select Image to upload.");
            return false;
        }
        else {

        }
        var extension = $("#file").val().split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "JPEG" && extension != "BMP") {
            alert("Invalid image file format.Only jpg,jpeg,png,bmp files are allow");
            return false;
        }

        //$.ajax({
        //    url: '/Admin/ProductType/Uploadfile',
        //    type: "POST",
        //    processData: false,
        //    data: data,
        //    dataType: 'json',
        //    contentType: false,
        //    success: function (response) {

        //        if (response.Flag == 1) {
        //            alert(response.Msg);
        //        }
        //        else {
        //            alert(response.Msg);
        //        }
        //        setTimeout(
        //            window.location.reload()
        //            , 50);
        //    }
        //});

    }
    function ShowImagePreview(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    document.getElementById('file').onchange = function () {
        var src = URL.createObjectURL(this.files[0])
        document.getElementById('imagePreview').src = src
    }
</script>


