@model LifeOne.Models.AdminManagement.AEntity.MAdminProductMaster
@using LifeOne.Models.Manager;
@{
    ViewBag.Title = "ProductMasterList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}




@{
    string msg = (string)TempData["msg"];
    string code = (string)TempData["code"];
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30 msgdiv" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        }
        else
        {
            <div class="alert alert-danger m-t-30 msgdiv" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        }
    }
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Product Master</h4>
            <nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#-">Masters</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Product</li>
                </ol>
            </nav>
        </div>
        <div class="pbutton">
            <div class="right text-right">
                <span>
                    <a href="/Admin/ProductMaster/ExportToExcelProductMaster" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                </span> @*<span>
            <button onclick="printDiv('DivProductList')" type="button" class="btn btn-success btn-rounded btnprint"><i class="fa fa-print"></i></button>
        </span>*@ <span>
                    <button id="btnpdf" type="button" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                </span>

                @if (PermissionManager.IsActionPermit("Product Master", ViewOptions.FormSave))
                {
                    <a href="/ProductMaster" id="btnAdd" class="btn btn-success btn-sm">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New
                    </a>
                }

            </div>
        </div>
    </div>



    @using (Html.BeginForm("ProductMasterList", "ProductMaster", FormMethod.Post, new { enctype = "multypart/form-data" }))
    {

        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-9">
                            @*<h4 class="header-title mt-0 mb-1">Product List</h4>*@
                        </div>
                    </div>

                    <div class="table-responsive fixTableHead" id="DivProductList">
                        <table id="myTable" class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>#Sn.</th>
                                    <th>Vendor Name</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>MRP</th>
                                    <th>Sale Price</th>
                                    <th>Offer Quantity</th>
                                    <th>BV</th>
                                    <th>PV</th>
                                    <th>Unit</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {

                                    foreach (var item in Model.ProductMasterList)
                                    {
                                <tr>
                                    <td data-title="#Sn">@count</td>
                                    <td data-title="News Heading">@item.SupplierName</td>
                                    <td data-title="News Heading">@item.ProductName</td>
                                    <td>@item.ProductType</td>
                                    <td data-title="News">@item.MRP</td>
                                    <td data-title="Preference">@item.SalesPrice</td>
                                    <td data-title="Preference">@item.OfferQuantity</td>
                                    <td>
                                        @item.BV
                                    </td>
                                    <td>
                                        @item.PV
                                    </td>
                                    <td>@item.Unit</td>
                                    <td data-title="Date">@item.SGST</td>
                                    <td data-title="Date">@item.CGST</td>
                                    <td data-title="Date">@item.IGST</td>
                                    <td>@item.Status</td>
                                    <td data-title="Action">

                                        @if (PermissionManager.IsActionPermit("Product Master", ViewOptions.FormUpdate))
                                        {
                                            <a href="/ProductMaster?id=@item.Pk_ProductId" class="btn btn-primary btn-sm" style="display:@ViewBag.edit;">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        }
                                        @if (PermissionManager.IsActionPermit("Product Master", ViewOptions.FormDelete))
                                        {
                                            <a href="/Admin/ProductMaster/ProductMasterDelete?id=@item.Pk_ProductId" id="btnDelete" class="btn btn-danger btn-sm" onclick="return confirm('are you sure to delete this record?')" ToolTip="Delete" style="display:@ViewBag.delete;">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                        @*<div id="loader">
                                <img src="~/Content/img/player_loading.gif" />
                            </div>*@
                    </div><!-- /.box-body -->
                </div>
            </div><!-- /.box -->

        </div><!-- /.col -->
    }


</div>

<script>
    $('#btnpdf').click(function () {
        debugger;
        var col = [0]; // coloms to remove

        var tbl = $('#myTable').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 35,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Product List',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();
        $.each(table1, function (i, row) {
            rowCount++;
            $.each(row, function (j, cellContent) {
                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);
                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "ProductList");
        doc.page++;
        doc.save('ProductList.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }

        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();
            }
            data.push(rowData);
        }
        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('DepartmentTable').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>PaymentDetailsReport</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

    // PRINT THE CONTENTS-----------------------------
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>