@model LifeOne.Models.HomeManagement.HEntity.MLogin
@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-b{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
        padding: 22px;
    }
    @@media (max-width: 992px) {
      
    }

</style>
@*<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>
<link href="~/Content/NewAssests/css/stylesheet.css" rel="stylesheet" />
<link href="~/Content/NewAssests/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/NewAssests/css/all.min.css" rel="stylesheet" />*@

<main id="content" class="login-page-bg">
    <section class="">
        <div class="container">
            <div class=" text-center pt-13 mb-12 mb-lg-15">
                <div class="text-center"><img width="150" src="~/Content/WebsiteCss/assets/images/others/logo.png" alt=""></div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-10 mx-auto">
                    <div class="row no-gutters">
                        <div class="col-lg-6 form-b mx-auto mb-15 p-5">
                            <h2 class="fs-4 mb-10 text-center">Log In</h2>
                            @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
                            {

                                <div class="mb-3">
                                    <label for="emailAddress" class="form-label">User Id</label>
                                    <input type="text" class="form-control" name="Login" required />
                                    @*@Html.TextBoxFor(Model => Model.Login, new { @class = "form-content" })*@
                                    <span class="small">@Html.ValidationMessageFor(Model => Model.Login, "", new { @class = "text-danger" })</span>
                                </div>
                                <div class="mb-3">
                                    <label for="loginPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="Password" required>
                                    @*@Html.TextBoxFor(Model => Model.Password, new { @type = "password", @class = "form-content" })*@
                                    <span class="small">@Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })</span>
                                </div>

                                <div class="d-grid my-4">
                                    <input id="submit-btn" class="btn btn-primary" type="submit" name="submit" value="LOGIN" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>









<!--<div id="main-wrapper" class="login-register">
    <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <!-- Welcome Text
            ========================= -->
            <!--<div class="col-md-6">
                <div class="hero-wrap d-flex align-items-center h-100">
                    <div class="hero-mask opacity-8 bgsecond"></div>
                    <div class="hero-bg hero-bg-scroll" style="background-image:url('/Content/NewAssests/img/bg/login-bg.jpg');"></div>
                    <div class="hero-content w-100 min-vh-100 d-flex flex-column">
                        <div class="row g-0">
                            <div class="col-10 col-lg-9 mx-auto">
                                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="#-" title="lifeoneindia"><img width="470" src="~/home-assets/images/Lifeone-logo.png" alt="lifeoneindia"></a> </div>
                            </div>
                        </div>
                        <div class="row g-0 my-auto">
                            <div class="col-10 col-lg-9 mx-auto">
                                <h1 class="text-11 text-white mb-4">Welcome back!</h1>
                                <p class="text-4 text-white lh-base mb-5">We are glad to see you again! Get access to your Orders, Wishlist and Recommendations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Welcome Text End -->
            <!-- Login Form
            ========================= -->
            <!--<div class="col-md-6 d-flex">
                <div class="container my-auto py-5">
                    <div class="row g-0">
                       
                        <div class="col-10 col-lg-9 col-xl-8 mx-auto">
                            <span class="text-danger" style="font-size:20px;">@TempData["Msg"]</span>
                            <h3 class="fw-600 mb-4">Admin Log In</h3>
                            
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Login Form End -->
        <!--</div>
    </div>
</div>-->

<!-- Styles Switcher -->
<!-- Styles Switcher End -->
@*<div class="card card-body ">
        <div class="site-main loginbg ">

            <div id="card">
                <div id="card-content">
                    <div id="card-title">
                        <h2>Sign In</h2>
                        <div class="underline-title"></div>
                    </div>
                    @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
                    {

                        <label for="user-email" style="padding-top:13px">
                            &nbsp;User Id
                        </label><br />
                        @Html.TextBoxFor(Model => Model.Login, new { @class = "form-content" })
                        <span class="small">@Html.ValidationMessageFor(Model => Model.Login, "", new { @class = "text-danger" })</span>
                        <div class="form-border"></div>
                        <label for="user-email" style="padding-top:13px">
                            &nbsp;Password
                        </label><br />
                        @Html.TextBoxFor(Model => Model.Password, new { @type = "password", @class = "form-content" })
                        <span class="small">@Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })</span>
                        <div class="form-border"></div>

                        <input id="submit-btn" type="submit" name="submit" value="LOGIN" />

                    }
                </div>
            </div>


            affiliate-shopping-section end
            <section class="ttm-row history-section bg-img3 ttm-bgcolor-grey ttm-bg ttm-bgimage-yes clearfix hide">
                <div class="container">
                    <div class="row">
                        row
                        <div class="col-lg-8 offset-lg-2">
                            section title
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h2 class="title">Our Sevices <span></span></h2>
                                </div>
                            </div>
                            section title end
                        </div>
                    </div>
                    row end
                    row
                    <div class="row">
                        <div class="icons-slide owl-carousel">
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/refer-icon.png" alt="">
                                    <h5>Refer & Earn</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/offer-icon.png" alt="">
                                    <h5>Offers</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/reward-icon.png" alt="">
                                    <h5>Rewards</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/prepaid-mobile-recharge.png" alt="">
                                    <h5>Prepaid Mobile Recharge</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/postpaid-mobile-recharge.png" alt="">
                                    <h5>Post-Paid Mobile Bill Payment</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/dth-icon.png" alt="">
                                    <h5>DTH Recharge</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/flight-booking-icon.png" alt="">
                                    <h5>Flight Ticket Booking</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/bus-booking-icon.png" alt="">
                                    <h5>Bus Ticket Booking</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/hotel-booking-icon.png" alt="">
                                    <h5>Hotel Booking</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/bus-booking-icon.png" alt="">
                                    <h5>Online Shopping</h5>
                                </a>
                            </div>
                            <div class="featured-icon-box text-center">
                                <a href="#">
                                    <img class="img-fluid lazyload" src="~/Content/assests/images/icon/affiliate-icon.png" alt="">
                                    <h5>Affiliate Shopping</h5>
                                </a>
                            </div>

                        </div>
                    </div>
                    row end
                </div>
            </section>
            affiliate-shopping-section end

        </div>
    </div>*@

@*<style>


        label {
            font-family: "Raleway", sans-serif;
            font-size: 11pt;
        }

        #card {
            background: #fbfbfb;
            border-radius: 8px;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
            height: 370px;
            margin: 6rem auto 8.1rem auto;
            width: 329px;
        }

        #card-content {
            padding: 12px 44px;
        }

        #card-title {
            font-family: "Raleway Thin", sans-serif;
            letter-spacing: 4px;
            padding-bottom: 23px;
            padding-top: 13px;
            text-align: center;
        }

        #signup {
            color: #ff9205;
            font-family: "Raleway", sans-serif;
            font-size: 10pt;
            margin-top: 16px;
            text-align: center;
        }

        #submit-btn {
            background: -webkit-linear-gradient(right, #ff9205, #ff9205);
            border: none;
            border-radius: 21px;
            box-shadow: 0px 1px 8px #ff9205;
            cursor: pointer;
            color: white;
            font-family: "Raleway SemiBold", sans-serif;
            height: 42.3px;
            margin: 45px;
            margin-top: 50px;
            transition: 0.25s;
            width: 153px;
        }

            #submit-btn:hover {
                box-shadow: 0px 1px 18px #ff9205;
            }

        .form {
            align-items: left;
            display: flex;
            flex-direction: column;
        }

        .form-border {
            background: -webkit-linear-gradient(right, #ff9205, #ff9205);
            height: 1px;
            width: 100%;
        }

        .form-content {
            background: none;
            border: none;
            outline: none;
            padding-top: 14px;
            width: 241px;
        }

        .underline-title {
            background: -webkit-linear-gradient(right, #ff9205, #ff9205);
            height: 2px;
            margin: -1.1rem auto 0 auto;
            width: 89px;
        }
    </style>*@

<script src="~/Content/NewAssests/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/NewAssests/js/jquery.min.js"></script>
<script src="~/Content/NewAssests/js/theme.js"></script>
<script>
    $(document).ready(function () {

        $(".footer").hide();
        $(".navbar-nav").hide();

        if ('@ViewBag.UserType' != null && '@ViewBag.UserType' != '') {
            if ('@ViewBag.UserType' == "5") {
                alert(1);
                $('#SMSList').show();
            }
        }
        if ('@TempData["Msg"]' != null && '@TempData["Msg"]' != '') {
            swal('', '@TempData["Msg"]', 'warning');
        }

    });

</script>


