
@model LifeOne.Models.Products
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var categoryid = "";
}
@{

    decimal TotalAmount = 0;
    var Quantity = "";
}
<link rel="stylesheet" type="text/css" href="~/Content/NewAssests/vendor/owl-carousel/owl.carousel.min.css">

<style>
    .owl-stage-outer {
        max-width: 100%;
    }

    .category-media {
        min-height: 220px;
        max-height: 220px;
    }
</style>
<main class="main">
    <div class="page-content">
        <section class="intro-section">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img width="100%" src="~/Content/NewAssests/images/hero-slider-01a.jpg" alt="intro-banner" />
                    </div>
                    <div class="carousel-item">
                        <img width="100%" src="~/Content/NewAssests/images/hero-slider-09a.jpg" alt="intro-banner" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="intro-slider animation-slider owl-carousel owl-theme row cols-1 gutter-no mb-2"
                 data-owl-options="{
                    'items': 1,
                    'loop': true,
                 'autoplay': true,
                 'autoplayTimeout': 3000,
                    'dots': false,
                    'autoplay': true
                }">

            </div>
            <div class="intro-banners gutter-sm row">
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="banner banner-1 banner-fixed content-middle overlay-dark appear-animate"
                         data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.5s'
                            }">
                        <figure>
                            <img src="~/Content/NewAssests/images/demos/demo19/banner/1.jpg" alt="banner" width="380" height="207"
                                 style="background-color: rgb(233, 233, 233);" />
                        </figure>
                        <div class="banner-content">
                            @*<h3 class="banner-title font-weight-bold">For Men’s</h3>
                            <h4 class="banner-subtitle text-uppercase text-body mb-0">
                                Starting at ₹29
                            </h4>*@
                            @*<hr class="bg-grey">*@
                            <a href="/Home/Products" class="btn btn-link btn-underline">
                                Shop Now<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2 order-lg-auto order-sm-last">
                    <div class="banner banner-2 banner-fixed content-middle content-center overlay-effect4 appear-animate"
                         data-animation-options="{
                                'name': 'fadeIn',
                                'delay': '.3s'
                            }">
                        <figure>
                            <img src="~/Content/NewAssests/images/demos/demo19/banner/3.jpg" alt="banner" width="350" height="177"
                                 style="background-color: rgb(29, 29, 29);" />
                        </figure>
                        <div class="banner-content">
                            @*<h4 class="mb-2 text-uppercase text-primary font-weight-normal">
                                GEt 40% Off Your
                                Entire Order!
                            </h4>
                            <h3 class="banner-title font-weight-bold text-white">
                                Black
                                Friday Sale
                            </h3>
                            <p class="mt-1">
                                Use code <strong class="text-white">BLKFRI40</strong> at checkout.
                            </p>*@
                            <a href="/Home/Products" class="btn btn-primary btn-outline text-white">
                                Shop Now
                                <i class="d-icon-arrow-right ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="banner banner-3 banner-fixed content-middle overlay-dark appear-animate"
                         data-animation-options="{
                                'name': 'fadeInRightShorter',
                                'delay': '.5s'
                            }">
                        <figure>
                            <img src="~/Content/NewAssests/images/demos/demo19/banner/2.jpg" alt="banner" width="380" height="207"
                                 style="background-color: rgb(233, 233, 233);" />
                        </figure>
                        <div class="banner-content">
                            @*<h3 class="banner-title font-weight-bold">For Women’s</h3>
                            <h4 class="banner-subtitle text-uppercase text-body mb-0">
                                Starting at ₹29
                            </h4>*@
                            @*<hr class="bg-grey">*@
                            <a href="/Home/Products" class="btn btn-link btn-underline">
                                Shop Now<i class="d-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @if (Model.dtCategory != null && Model.dtCategory.Rows.Count > 0)
        {
            <section class="product-wrapper grey-section pt-10 pb-6 appear-animate">
                <div class="container-fluid mb-10">
                    <h2 class="title title-simple text-center pt-8">Shop by categories</h2>
                    <div class="owl-carousel owl-theme row owl-dot-grey cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
                         data-owl-options="{
                     'items':@Model.dtCategory.Rows[0]["TotalRecords"].ToString(),
                     'margin': 20,
                     'loop': false,
                     'autoplay': true,
                     'autoplayTimeout': 3000,
                     'autoplayHoverPause': true,
                     'responsive': {
                         '0': { 'items': 2 },
                         '576': { 'items': 3 },
                         '768': { 'items': 4 },
                         '992': { 'items': 5, 'dots': false },
                         '1200': { 'items': 5, 'dots': false }
                     }
                   }">
                        <!-- Dynamic Content -->
                        @{
                            if (Model.DtDetails != null)
                            {
                                for (int i = 0; i < Model.dtCategory.Rows.Count; i++)
                                {
                                    <div class="category category-absolute category-classic overlay-zoom mr-1" data-animation-options="{
                                'name': 'fadeIn',
                                'delay': '.3s'
                            }">
                                        <a href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.dtCategory.Rows[i]["PK_ProductTypeId"].ToString())">
                                            <figure class="category-media">
                                                <img src="@Model.dtCategory.Rows[i]["ProductTypeImage"].ToString()" alt="category" width="348" height="348" />
                                            </figure>
                                        </a>
                                        <div class="category-content">
                                            <a class="pro-c" href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.dtCategory.Rows[i]["PK_ProductTypeId"].ToString())">
                                                <h4 class="category-name">@Model.dtCategory.Rows[i]["ProductType"].ToString()</h4>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </section>
        }
        @*<section class="product-wrapper grey-section pt-10 pb-6 appear-animate">
            <div class="container-fluid mb-10">
                <h2 class="title title-simple text-center pt-8">Shop by categories</h2>
                <div class="owl-carousel owl-theme row owl-dot-grey cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
                    data-owl-options="{
                        'items': 6,
                        'margin': 20,
                        'loop': false,
                        'autoplay': true,
                        'autoplayTimeout': 3000,
                        'autoplayHoverPause': true,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '576': {
                                'items': 3
                            },
                            '768': {
                                'items': 4
                            },
                            '992': {
                                'items': 5,
                                'dots': false
                            },
                            '1200': {
                                'items': 5,
                                'dots': false
                            }
                        }
                 }">
                    @{
                        if (Model.DtDetails != null)
                        {
                            for (int i = 0; i < Model.dtCategory.Rows.Count; i++)
                            {

                                <div class="category category-absolute category-classic overlay-zoom mr-1" data-animation-options="{
             'name': 'fadeIn',
             'delay': '.3s'
         }">
                                    <a href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z",@Model.dtCategory.Rows[i]["PK_ProductTypeId"].ToString())">
                                        <figure class="category-media">
                                            <img src="@Model.dtCategory.Rows[i]["ProductTypeImage"].ToString()" alt="category" width="348"
                                                 height="348" />
                                        </figure>
                                    </a>
                                    <div class="category-content">
                                        <a class="pro-c" href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z",@Model.dtCategory.Rows[i]["PK_ProductTypeId"].ToString())">
                                            <h4 class="category-name">@Model.dtCategory.Rows[i]["ProductType"].ToString()</h4>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </section>*@

        <section class="banner-group container-fluid mt-10 pt-6 pb-8 mb-10 appear-animate">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner1 banner banner-fixed overlay-effect1">
                        <figure style=" background-color:#27262b">
                            <img src="~/Content/NewAssests/images/demos/demo19/banner/4.jpg" alt="banner" width="881" height="150" />
                        </figure>
                        <div class="banner-content y-50">
                            <h4 class="banner-subtitle text-uppercase text-body mb-0" style="color:#fff !important;">
                                New Arrivals
                            </h4>
                            @*<h3 style="color:#fff" class="banner-title font-weight-bolder ls-m mb-0" data-animation-options="{
                                        'name': 'blurIn',
                                        'delay': '.4s'
                                    }">
                                Season Training Shoes
                            </h3>
                            <hr class="bg-grey border-no">
                            <h4 class="font-weight-normal mb-0 ls-normal" style="color:#fff;">
                                Only from <span class="text-primary font-weight-semi-bold">₹78.99</span>
                            </h4>*@
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="banner2 banner banner-fixed overlay-effect1">
                        <figure style="background-color: #231f1c">
                            <img src="~/Content/NewAssests/images/demos/demo19/banner/5.jpg" alt="banner" width="881" height="150" />
                        </figure>
                        <div class="banner-content y-50">
                            <h4 class="banner-subtitle text-uppercase mb-0">
                                Top Products
                            </h4>
                            @*<h3 class="banner-title font-weight-bolder ls-m mb-0 appear-animate text-white"
                                data-animation-options="{
                                        'name': 'blurIn',
                                        'delay': '.4s'
                                    }">
                                Suitable Women Wear
                            </h3>
                            <hr class="bg-grey border-no">
                            <h4 class="font-weight-normal mb-0 ls-normal">
                                Only from <span class="text-primary font-weight-semi-bold">₹121.99</span>
                            </h4>*@
                        </div>
                    </div>
                </div>
            </div>

        </section>
        @if (Model.DtDetails != null && Model.DtDetails.Rows.Count > 0)
        {
            <section class="product-wrapper grey-section pt-10 pb-6 appear-animate">
                <div class="container-fluid mb-10">
                    <h2 class="title title-simple text-center pt-8">Shop Products</h2>
                    <div class="owl-carousel owl-theme row owl-dot-grey cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
                         data-owl-options="{
                            'items':@Model.DtDetails.Rows[0]["TotalRecords"].ToString(),
                            'margin': 20,
                            'autoplay': true,
                 'autoplayTimeout': 3000,
                            'loop': false,
                            'responsive': {
                                '0': {
                                    'items': 2
                                },
                                '576': {
                                    'items': 3
                                },
                                '768': {
                                    'items': 4
                                },
                                '992': {
                                    'items': 5
                                },
                                '1200': {
                                    'items': 6,
                                    'dots': false
                                }
                            }
                        }">
                        @{
                            if (Model.DtDetails != null)
                            {

                                for (int i = 0; i < Model.DtDetails.Rows.Count; i++)
                                {
                                    <div class="product text-center">
                                        <figure class="product-media">
                                            <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">
                                                <img src="@Model.DtDetails.Rows[i]["ProductImage"].ToString()" alt="product" width="280"
                                                     height="315">
                                                @*<img src="@Model.DtDetails.Rows[i]["ProductImage"].ToString()"  alt="product" width="300"
                                                height="338">*@
                                            </a>
                                            @*<div class="product-label-group">
                                                <label class="product-label label-sale">27% off</label>
                                            </div>*@
                                            <div class="product-action-vertical">
                                                @*<a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                      data-target="#addCartModal" title="Add to cart">
                                                    <i class="d-icon-bag"></i>
                                                </a>*@
                                                <a href="/Home/ShoppingCartList?id=@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString()" class="btn-product-icon btn-cart"
                                                   title="Add to cart" value="Add" name="Add" onclick="return fAddToCart(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">
                                                    <i class="d-icon-bag"></i>
                                                </a>
                                                @*<input type="submit" class="btn-product-icon btn-cart" name="Add" value="Add" onclick="return fAddToCart(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())" />*@
                                                @*<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
                                                    <i class="d-icon-heart"></i>
                                                </a>*@
                                            </div>
                                            <div class="product-action">
                                                <a class="btn-product btn-quickview" title="Quick View" href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">Quick View</a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">
                                                <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">@Model.DtDetails.Rows[i]["ProductName"].ToString()</a>
                                            </h3>
                                            <div class="product-price">
                                                <ins class="new-price">₹@Model.DtDetails.Rows[i]["DP"].ToString()</ins><del class="old-price">₹@Model.DtDetails.Rows[i]["OfferedPrice"].ToString()</del>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "1")
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    }
                                                    @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "2")
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    }
                                                    @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "3")
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    }
                                                    @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "4")
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    }
                                                    @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "5")
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>

                                                    }
                                                </div>
                                                @if (@Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "0")
                                                {

                                                }
                                                else
                                                {
                                                    <a href="#" class="rating-reviews">@Model.DtDetails.Rows[i]["ReviewCount"].ToString()</a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </section>
        }
        @if (Model.DtDetails != null && Model.DtDetails.Rows.Count > 0)
        {
            <section class="product-wrapper container-fluid pt-10 appear-animate mb-5">
                <h2 class="title title-simple text-center pt-7">Featured Products</h2>
                <div class="owl-carousel owl-theme row owl-dot-grey cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2"
                     data-owl-options="{
                        'items':@Model.DtDetails.Rows[0]["TotalRecords"].ToString(),
                        'margin': 20,
                 'autoplay': true,
                 'autoplayTimeout': 3000,
                        'loop': false,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '576': {
                                'items': 3
                            },
                            '768': {
                                'items': 4
                            },
                            '992': {
                                'items': 5
                            },
                            '1200': {
                                'items': 6,
                                'dots': false
                            }
                        }
                    }">
                    @{
                        if (Model.DtDetails != null)
                        {
                            for (int i = 0; i < Model.DtDetails.Rows.Count; i++)
                            {
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">
                                            <img src="@Model.DtDetails.Rows[i]["ProductImage"].ToString()" alt="product" width="300"
                                                 height="338">
                                            <img src="@Model.DtDetails.Rows[i]["ProductImage"].ToString()" alt="product" width="300"
                                                 height="338">
                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="/Home/ShoppingCartList?id=@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString()" class="btn-product-icon btn-cart" data-toggle="modal" title="Add to cart" value="Add" name="Add" onclick="return fAddToCart(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())"
                                               data-target="#addCartModal">
                                                <i class="d-icon-bag"></i>
                                            </a>
                                            @*<a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
                                                <i class="d-icon-heart"></i>
                                            </a>*@
                                        </div>
                                        <div class="product-action">
                                            <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())" class="btn-product btn-quickview" title="Quick View">Quick View</a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h3 class="product-name">
                                            <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">@Model.DtDetails.Rows[i]["ProductName"].ToString()</a>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">₹@Model.DtDetails.Rows[i]["DP"].ToString()</ins><del class="old-price">₹@Model.DtDetails.Rows[i]["OfferedPrice"].ToString()</del>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "1")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "2")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "3")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "4")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "5")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                            </div>
                                            @if (@Model.DtDetails.Rows[i]["ReviewCount"].ToString() == "0")
                                            {

                                            }
                                            else
                                            {
                                                <a href="#" class="rating-reviews">@Model.DtDetails.Rows[i]["ReviewCount"].ToString()</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </section>
        }
        @{
            if (ViewBag.PopupStatus == "Active")
            {
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>*@
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align:center;">
                                <img src="@ViewBag.ImageUrl" style="height:300px;width:200px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

</main>
<script src="~/Content/NewAssests/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/NewAssests/vendor/owl-carousel/owl.carousel.min.js"></script>
<script>   
    function getproduct(Fk_CategoryId) {
        var obj = {};
        obj.Fk_CategoryId = Fk_CategoryId;
        $.ajax({
            url: '/Home/ProductListDetail',
            type: 'Post',
            data: { Fk_CategoryId: obj.Fk_CategoryId },
            success: function (response) {
                if (response != null) {
                    console.log(response);
                    var str = "";
                    $("#CatwaisePRoduct").html;

                    alert(response);
                    $("#CatwaisePRoduct").text(response[0].Fk_CategoryId);


                }

            }, error: function () {
                alert('Some Thing wrong!');


            }
        });
    }

    function getproductdetails(ProductId) {

        $('#qty_amount').val('1');
        $.ajax({
            url: '/Home/ProductDetailsListView',
            type: 'Post',
            data: { Id: ProductId },
            success: function (response) {
                debugger;

                if (response != null) {
                    var str = "";

                    $("#productAvgstr").html("")
                    //console.log(response);
                    $('#txtproductName').text(response[0].ProductName);
                    $('#txtproductdetails').text(response[0].ProductDescription);
                    $('#CategoryName').text(response[0].CategoryName);
                    $('#offeredPrice').text(response[0].DP);
                    $('#mrp').text(response[0].MRP);
                    $('#productimage').text(response[0].ProductImage);
                    $('#Pk_ProductId').text(response[0].Pk_ProductId);
                    /*$('#reviewCount').text(response[0].ReviewCount);*/
                    $('#productimage').attr('src', response[0].ProductImage);

                    if (response[0].AvgRating == "1") {
                        str += '<li><i class="fas fa-star"></i></li>'

                    }
                    else if (response[0].AvgRating == "2") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "3") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "4") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "5") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    $("#productAvgstr").html(str)
                }

            }, error: function () {
                //alert('Some Thing wrong!');
                $("#pre-loader").hide();

            }
        });
    }

    function fAddToCartLife(Add, productId) {
        var Add = Add;
        var productId = productId;
        window.location.href = '/Home/Products?ProductId=' + productId + '&Add=' + Add
    }
</script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            items: 6,
            margin: 20,
            loop: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: { items: 2 },
                576: { items: 3 },
                768: { items: 4 },
                992: { items: 5, dots: false },
                1200: { items: 5, dots: false }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#exampleModal').modal('show');
    });

    function closePopup() {
        $("#exampleModal").modal("hide");
    }
</script>
