
@model LifeOne.Models.ProductsDetail
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Content/dist/css/quantitybutton.css" rel="stylesheet" />*@
@{

    decimal TotalAmount = 0;
    var Quantity = "";
}
<style>


    .card-wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }

    img {
        width: 100%;
        display: block;
    }

    .img-display {
        overflow: hidden;
    }

    .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }

        .img-showcase img {
            min-width: 100%;
        }

    .img-select {
        display: flex;
    }

    .img-item {
        margin: 0.3rem;
    }

        .img-item:nth-child(1),
        .img-item:nth-child(2),
        .img-item:nth-child(3) {
            margin-right: 0;
        }

        .img-item:hover {
            opacity: 0.8;
        }

    .product-content {
        padding: 2rem 1rem;
    }

    .product-title {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }

        .product-title::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 80px;
            background: #12263a;
        }

    .product-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }

        .product-link:hover {
            opacity: 0.9;
        }

    .product-rating {
        color: #ffc107;
    }

        .product-rating span {
            font-weight: 600;
            color: #252525;
        }

    .product-price {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
    }

        .product-price span {
            font-weight: 400;
        }

    .last-price span {
        color: #f64749;
        text-decoration: line-through;
    }

    .new-price span {
        color: #256eff;
    }

    .product-detail h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }

    .product-detail p {
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    .product-detail ul {
        margin: 1rem 0;
        font-size: 0.9rem;
    }

        .product-detail ul li {
            margin: 0;
            list-style: none;
            background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;
        }

            .product-detail ul li span {
                font-weight: 400;
            }




    @@media screen and (min-width: 992px) {
        .card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }

        .card-wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .product-content {
            padding-top: 0;
        }
    }
</style>
<main class="main border-top single-product">
    <div class="page-content mb-10 pb-6 d-flex justify-content-center">
        <div class="col-md-10 mt-10">
            @{
                if (Model != null)
                {
                  
                        <div class="row product product-single">
                            <!-- card left -->
                            <div class="col-md-6">
                                <div class="product-imgs">
                                    <div class="img-display">
                                        <div class="img-showcase">
                                            <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            <img src="@Model.ProductImage" alt="@Model.ProductName">
                                        </div>
                                    </div>
                                    <div class="img-select">
                                        <div class="img-item">
                                            <a href="#" data-id="1">
                                                <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            </a>
                                        </div>
                                        <div class="img-item">
                                            <a href="#" data-id="2">
                                                <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            </a>
                                        </div>
                                        <div class="img-item">
                                            <a href="#" data-id="3">
                                                <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            </a>
                                        </div>
                                        <div class="img-item">
                                            <a href="#" data-id="4">
                                                <img src="@Model.ProductImage" alt="@Model.ProductName">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card right -->
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <div class="product-details">
                                        <h1 class="product-name pt-2">@Model.ProductName</h1>
                                        <div class="product-price">₹@Model.MRP</div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                @if (Model.ReviewCount == "1")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.ReviewCount == "2")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.ReviewCount == "3")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.ReviewCount == "4")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                                @if (Model.ReviewCount == "5")
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                }
                                            </div>
                                            @if (@Model.ReviewCount == "0")
                                            {

                                            }
                                            else
                                            {
                                                <a href="#product-tab-reviews" class="link-to-tab rating-reviews">
                                                    @Model.ReviewCount
                                                </a>
                                            }

                                        </div>
                                        <p class="product-short-desc mb-5">
                                            @Model.ProductDescription
                                        </p>
                                        <hr class="product-divider">

                                        <div class="product-form product-qty">
                                            <div class="d-flex justify-content-start">
                                                <span id="Pk_ProductId" style="display:none;"></span>
                                                <div class="input-group mr-3">
                                                    <button class=" d-icon-minus" onclick="return quantityChangeMinus();"></button>
                                                    <input class="quantity form-control" type="number" min="1"
                                                           value="1" id="Quantity123" onchange="return GetAddQTY();">
                                                    <button class=" d-icon-plus" onclick="return quantityChangePluse();"></button>
                                                </div>
                                                <a href="#" onclick="return addcartdata('@Model.Pk_ProductId')" class="btn btn-sm btn-primary" id="btnAddCard">
                                                    <i class="d-icon-bag"></i>&nbsp; Add
                                                    To Cart
                                                </a>
                                                @*<button type="submit" class="btn-hover-bg-primary btn-hover-border-primary btn btn-lg btn-dark w-100" name="Add" value="Add to Cart" id="AddQuty" style="display:none">
                                                        Add To Bag
                                                    </button>*@
                                            </div>
                                        </div>
                                        <hr class="product-divider mb-3">

                                    
                                        <div class="review-form-section">
                                            <div class="review-overlay"></div>
                                            <div class="review-form-wrapper">
                                                <div class="title-wrapper text-left">
                                                    <h3 class="title title-simple text-left text-normal">
                                                        Add
                                                        a Review
                                                    </h3>
                                                    <p>
                                                        Your email address will not be published. Required
                                                        fields are marked *
                                                    </p>
                                                </div>
                                                <div class="rating-form">
                                                    <label for="rating" class="text-dark">
                                                        Your rating *
                                                    </label>
                                                    <span class="rating-stars selected">
                                                        <a class="star-1" href="#">1</a>
                                                        <a class="star-2" href="#">2</a>
                                                        <a class="star-3" href="#">3</a>
                                                        <a class="star-4 active" href="#">4</a>
                                                        <a class="star-5" href="#">5</a>
                                                    </span>

                                                    <select name="rating" id="rating" required=""
                                                            style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select>
                                                </div>
                                                <form action="#">
                                                    <textarea id="reply-message" cols="30" rows="6"
                                                              class="form-control mb-4" placeholder="Comment *"
                                                              required></textarea>

                                                    <div class="review-medias">
                                                        <div class="file-input form-control image-input"
                                                             style="background-image: url(images/product/placeholder.png);">
                                                            <div class="file-input-wrapper">
                                                            </div>
                                                            <label class="btn-action btn-upload"
                                                                   title="Upload Media">
                                                                <input type="file"
                                                                       accept=".png, .jpg, .jpeg"
                                                                       name="riode_comment_medias_image_1">
                                                            </label>
                                                            <label class="btn-action btn-remove"
                                                                   title="Remove Media">
                                                            </label>
                                                        </div>
                                                        <div class="file-input form-control image-input"
                                                             style="background-image: url(images/product/placeholder.png);">
                                                            <div class="file-input-wrapper">
                                                            </div>
                                                            <label class=" btn-action btn-upload"
                                                                   title="Upload Media">
                                                                <input type="file"
                                                                       accept=".png, .jpg, .jpeg"
                                                                       name="riode_comment_medias_image_2">
                                                            </label>
                                                            <label class="btn-action btn-remove"
                                                                   title="Remove Media">
                                                            </label>
                                                        </div>
                                                        <div class="file-input form-control video-input"
                                                             style="background-image: url(images/product/placeholder.png);">
                                                            <video class="file-input-wrapper"
                                                                   controls=""></video>
                                                            <label class="btn-action btn-upload"
                                                                   title="Upload Media">
                                                                <input type="file" accept=".avi, .mp4"
                                                                       name="riode_comment_medias_video_1">
                                                            </label>
                                                            <label class="btn-action btn-remove"
                                                                   title="Remove Media">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        Upload images and videos. Maximum count: 3, size: 2MB
                                                    </p>
                                                    <button type="submit"
                                                            class="btn btn-primary btn-rounded">
                                                        Submit<i class="d-icon-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- End Reply -->
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                }
            }

        </div>

    </div>
    
</main>

<script>

    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;

    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage() {
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

        document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);
</script>
<script>


    function quantityChangePluse() {
        debugger;
        var qt = $('#Quantity123').val();
        var newValue = parseInt(qt) + 1;
        $('#Quantity123').val(newValue);
    }
    function quantityChangeMinus() {
        debugger;
        var qt = $('#Quantity123').val();
        if (qt == "1") {
            return false;
        }
        var newValue = parseInt(qt) - 1;
        $('#Quantity123').val(newValue);
    }

    function addcartdata(productid) {
        window.location.href = "/Home/ShoppingCartList?id=" + productid + "&&qty=" + $('#Quantity123').val()+"&&add=add";
        
    }

</script>