@model LifeOne.Models.HomeManagement.HEntity.MLogin
@{
    ViewBag.Title = "FranchiseLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-main">
    <div class="ttm-row loginId padding-section">
        <div class="container">
            <div class="loginIdWrap">
                <h2>LifeOne ID</h2>
                <h3>Manage your LifeOne ID</h3>
                @using (Html.BeginForm("FranchiseLogin", "Home", FormMethod.Post))
                {
                    <div class="form-group position-relative">
                        @*<input class="idinput1" placeholder="LifeOne ID" type="text" value="" />*@
                        @Html.TextBoxFor(Model => Model.Login, new { @class = "idinput1", @placeholder = "LifeOne ID" })
                        <span class="small">@Html.ValidationMessageFor(Model => Model.Login, "", new { @class = "text-danger" })</span>
                        @*<input class="inputpass" placeholder="Password" type="password" value="" />*@
                        @Html.TextBoxFor(Model => Model.Password, new { @type = "password", @class = "inputpass", @placeholder = "Password" })
                        <span class="small">@Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })</span>
                        <button type="submit" class="loginbtn-icon1"> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        <span class="small"><span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span></span>
                    </div>
                }

                <p class="forogt">
                    <a href="/Home/FranchiseApplicationForm"> Don't have an account? Register here</a>
                    <a href="/Home/Franchise_ForgotPassword?_=@Request.QueryString["_"]"> Forgot LifeOne ID or Password?</a>
                </p>

            </div>
        </div>
    </div>

    <!-- affiliate-shopping-section end -->
    <section class="ttm-row history-section bg-img3 ttm-bgcolor-grey ttm-bg ttm-bgimage-yes clearfix">
        <div class="container">
            <div class="row">
                <!-- row -->
                <div class="col-lg-8 offset-lg-2">
                    <!-- section title -->
                    <div class="section-title with-desc text-center clearfix">
                        <div class="title-header">
                            <h2 class="title">Our Sevices <span></span></h2>
                        </div>
                    </div>
                    <!-- section title end -->
                </div>
            </div>
            <!-- row end -->
            <!-- row -->
            <div class="row">
                <div class="icons-slide owl-carousel">
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/refer-icon.png" alt="">
                            <h5>Refer & Earn</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/offer-icon.png" alt="">
                            <h5>Offers</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/reward-icon.png" alt="">
                            <h5>Rewards</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/prepaid-mobile-recharge.png" alt="">
                            <h5>Prepaid Mobile Recharge</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/postpaid-mobile-recharge.png" alt="">
                            <h5>Post-Paid Mobile Bill Payment</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/dth-icon.png" alt="">
                            <h5>DTH Recharge</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/flight-booking-icon.png" alt="">
                            <h5>Flight Ticket Booking</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/bus-booking-icon.png" alt="">
                            <h5>Bus Ticket Booking</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/hotel-booking-icon.png" alt="">
                            <h5>Hotel Booking</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/bus-booking-icon.png" alt="">
                            <h5>Online Shopping</h5>
                        </a>
                    </div>
                    <div class="featured-icon-box text-center">
                        <a href="#">
                            <img class="img-fluid lazyload" src="~/Content/assests/images/icon/affiliate-icon.png" alt="">
                            <h5>Affiliate Shopping</h5>
                        </a>
                    </div>

                </div>
            </div>
            <!-- row end-->
        </div>
    </section>
    <!-- affiliate-shopping-section end -->

</div>



@section body{
    <script>
        $(document).ready(function () {

                if ('@ViewBag.UserType' != null && '@ViewBag.UserType' != '') {
                    if ('@ViewBag.UserType' == "5") {
                        alert(1);
                        $('#SMSList').show();
                    }
                }
                if ('@TempData["Msg"]' != null && '@TempData["Msg"]' != '') {
                    swal('', '@TempData["Msg"]', 'warning');
                }

    });
    </script>




    @*<script>
            $.ajax({
                url: "/Home/CheckRegistrationAllowOrNot",
                type: "POST",
                success: function (result) {
                }
            });
        </script>*@
}





