@model LifeOne.Models.Reports

@{
    ViewBag.Title = "GetAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .fa {
        font-size: 14px;
        color: #fff;
    }
</style>




<div class="container">


    <div class="row d-flex justify-content-end" style="margin-top:30px;padding:10px;">
        <div class="col-md-2">
            <a href="/Home/HomeAddress" id="btnAdd" class="btn btn-success btn-sm" style="text-align:right">
                <i class="fa fa-plus" aria-hidden="true" style="text-align:right"></i> Add New Address
            </a>
        </div>
    </div>

    @using (Html.BeginForm("PaymentGatewayIntegration", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {



        <div id="no-more-tables">

            <form id="form1" method="post">

                <div class="row d-flex justify-content-center mb-5">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive" id="customers">
                                    <table class="table mb-0" id="tblCustomers">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th> Name</th>
                                                <th>MobileNo</th>
                                                <th>Landmark</th>
                                                <th>Address</th>
                                                <th>State</th>
                                                <th>City</th>
                                                <th>Pin Code</th>
                                                <th>Address Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody id="tblDiv">
                                            @if (Model != null && Model.dtaddressdetails.Rows.Count > 0)
                                            {

                                                for (var i = 0; i < Model.dtaddressdetails.Rows.Count; i++)
                                                {

                                                    <tr>
                                                        <td>
                                                            <input type="radio" id="rdDefaultAddress" name="rdDefaultAddress" groupname="rdAddress" onclick="return getAddress('@Model.dtaddressdetails.Rows[i]["Pk_AddressId"].ToString()')" />
                                                        </td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["Name"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["MobileNo"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["Landmark"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["Address"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["State"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["City"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["PinCode"].ToString()</td>
                                                        <td>@Model.dtaddressdetails.Rows[i]["AddressType"].ToString()</td>
                                                        <td>


                                                            <a href="/Home/HomeAddress?id=@Model.dtaddressdetails.Rows[i]["Pk_AddressId"]" class="btn btn-primary btn-sm" style="display: @ViewBag.edit; background-color: #f28c2b; border: #f28c2b">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a href="/Home/HomeAddressDelete?id=@Model.dtaddressdetails.Rows[i]["Pk_AddressId"]" id="btnDelete" class="btn btn-danger btn-sm" onclick="return confirm('are you sure to delete this address?')" ToolTip="Delete" style="display:@ViewBag.delete; ">
                                                                <i class="fa fa-trash"></i>
                                                            </a>

                                                        </td>
                                                        @Html.HiddenFor(m => m.Pk_AddressId)
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <!-- /.box-body -->
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class=" col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 mb-8 mb-md-0">
                                            <label>TotalAmount<span style="color:red;"></span></label>
                                            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control input-focus", @readonly = "readonly", @id = "TotalAmount" })
                                        </div>
                                        <div class="col-md-3">
                                            <label>WalletAmount<span style="color:red;"></span></label>

                                            @Html.TextBoxFor(m => m.WalletAmount, new { @class = "form-control input-focus", @readonly = "readonly",@Id= "WalletAmount" })
                                        </div>
                                        <div class="col-md-3">
                                            <label>GatewayAmount<span style="color:red;"></span></label>
                                            @Html.TextBoxFor(m => m.GatewayAmount, new { @class = "form-control input-focus", @readonly = "readonly" })
                                        </div>
                                        
                                        <div class="col-md-3" style="text-align:right;">
                                            <label style="display:block;color:white">PaymentMode</label>
                                            <input type="submit" class=" btn btn-dark btn-hover-bg-primary btn-hover-border-primary px-11"  onclick="return fcheckaddres()" value="Place Order" />
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="row">


                                </div>
                            </div>

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>

            </form>
        </div>
    }

</div>

<script>

    function fCallPaging(val) {
        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');

    }
    function getAddress(addressId) {
        $('#Pk_AddressId').val(addressId);
    }
    function fcheckaddres() {
        debugger;
        if ($('#Pk_AddressId').val() == 0 || $('#Pk_AddressId').val() == undefined || $('#Pk_AddressId').val() == NaN || $('#Pk_AddressId').val() == "" || $('#Pk_AddressId').val() == null) {
            alert('Please Add Address');
            return false;
        }
        if ($('#WalletAmount').val() < $('#TotalAmount').val()){
            alert('Invalid Wallet Amount');
            return false;
        }
    }
</script>

