
@model LifeOne.Models.Products
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var categoryid = "";
}
@{

    decimal TotalAmount = 0;
    var Quantity = "";
}

<style>
    .content-1 {
        top: 220px;
    }

    @@media (max-width: 1024px) {
        .name {
            font-size: 24px;
        }

        .name-1 {
            font-size: 15px;
            margin-bottom: 0;
        }

        .content-1 {
            top: 100px;
        }
    }

    @@media (max-width: 920px) {
        .name {
            font-size: 25px;
        }

        .name-1 {
            font-size: 16px;
            margin-bottom: 0;
        }

        .content-1 {
            top: 70px;
        }
    }

    @@media (max-width: 720px) {
        .name {
            font-size: 16px;
        }

        .name-1 {
            font-size: 10px;
            margin-bottom: 0;
        }

        .content-1 {
            top: 0px;
        }
    }
</style>

<main id="content" class="wrapper layout-page">
    <section>
        <div class="container container-xxl">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="/Content/WebsiteCss/assets/images/hero-slider/hero-slider-01.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption content-1 d-md-block">
                            <div class="z-index-2 container container-xxl">
                                <div class="hero-content text-start">
                                    <div data-animate="fadeInDown">
                                        <h1 class="mb-3 hero-title name">Reveal The<br>Beauty of Skin</h1>
                                        <p class="hero-desc mb-4 name-1 text-body-calculate">Made using clean,our products are designed for everyone.</p>
                                        @*<p class="fs-5 fw-semibold text-body-emphasis mb-7">Starting at ₹7.99 </p>*@
                                    </div>
                                    <a href="/Home/Products" data-animate="fadeInUp" class="btn btn-shop btn-dark rounded btn-hover-bg-primary btn-sm btn-md-lg btn-hover-border-primary">
                                        Shop Now
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="/Content/WebsiteCss/assets/images/hero-slider/hero-slider-09.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption content-1 d-md-block">
                            <div class="z-index-2 container container-xxl">
                                <div class="hero-content text-start">
                                    <div data-animate="fadeInDown">
                                        <h1 class="mb-3 hero-title name">Reveal The<br>Beauty of Skin</h1>
                                        <p class="hero-desc mb-4 name-1 text-body-calculate">Made using clean,our products are designed for everyone.</p>
                                        @*<p class="fs-5 fw-semibold text-body-emphasis mb-7">Starting at ₹7.99 </p>*@
                                    </div>
                                    <a href="/Home/ProductDetails" data-animate="fadeInUp" class="btn btn-shop btn-dark rounded btn-hover-bg-primary btn-sm btn-md-lg btn-hover-border-primary">
                                        Shop Now
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="pt-10">
        <div class="container container-xxl">
            <div class="row gx-30px gy-30px">
                <div class="col-12 col-lg-4" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-03 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-08.jpg" width="450" height="450" alt="Summer Collection">
                        <img class="lazy-image dark-mode-img card-img object-fit-cover" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-white-08.jpg" width="450" height="450" alt="Summer Collection"><div class="card-img-overlay d-inline-flex flex-column px-11 pt-11 pb-9">
                            <h3 class="card-title fw-semibold mb-5">Summer Collection</h3>@*<p class="card-text fs-18px fw-semibold text-body-emphasis">Starting at ₹17.99</p>*@<div class="mt-auto"><a href="/Home/Products" class="btn btn-link text-decoration-none p-0 fs-6 fw-semibold">Shop Now<svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-03 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-06.jpg" width="450" height="450" alt="What’s New?">
                        <img class="lazy-image dark-mode-img card-img object-fit-cover" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-white-06.jpg" width="450" height="450" alt="What’s New?"><div class="card-img-overlay d-inline-flex flex-column px-11 pt-11 pb-9">
                            <h3 class="card-title fw-semibold mb-5">What’s New?</h3>@*<p class="card-text fs-18px fw-semibold text-body-emphasis">Get the glow</p>*@<div class="mt-auto"><a href="/Home/Products" class="btn btn-link text-decoration-none p-0 fs-6 fw-semibold">Discover Now<svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-03 hover-zoom-in hover-shine">
                        <img class="lazy-image card-img object-fit-cover light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-07.jpg" width="450" height="450" alt="Buy 1 Get 1">
                        <img class="lazy-image dark-mode-img card-img object-fit-cover" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-white-07.jpg" width="450" height="450" alt="Buy 1 Get 1"><div class="card-img-overlay d-inline-flex flex-column px-11 pt-11 pb-9">
                            <h3 class="card-title fw-semibold mb-5">Buy 1 Get 1</h3>@*<p class="card-text fs-18px fw-semibold text-body-emphasis">Starting at ₹7.99</p>*@<div class="mt-auto"><a href="/Home/Products" class="btn btn-link text-decoration-none p-0 fs-6 fw-semibold">Discover Now<svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*@using (Html.BeginForm("Product", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <section id="our_best_seller_2">
            <div class="container container-xxl container container-xxl pt-14 pt-lg-18">
                <div class="row align-items-center mb-9 mt-3">
                    <div class="col-sm-8" data-animate="fadeInUp">
                        <h2 class="h3 mb-0">Our Bestsellers</h2>
                    </div>
                    <div class="col-sm-4 text-sm-end" data-animate="fadeInUp"><a href="/home/Products" class="btn btn-link p-0 text-body-emphasis text-decoration-none fw-semibold text-primary-hover">Shop All Products <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></a></div>
                </div>
                <div class="slick-slider" data-slick-options="{&#34;arrows&#34;:true,&#34;dots&#34;:false,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1560,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:5}},{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:5}" data-animate="fadeInUp">
                    @if (Model != null && Model.DtDetails != null && Model.DtDetails.Rows.Count > 0)
                    {
                        for (int i = 0; i < Model.DtDetails.Rows.Count; i++)
                        {
                            <div>
                                <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                                    <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                        <a href="#" class="hover-zoom-in d-block" title="@Model.DtDetails.Rows[i]["ProductName"].ToString()">
                                            <img src="#" data-src="@Model.DtDetails.Rows[i]["PrimaryImage"].ToString()" class="img-fluid lazy-image w-100" alt="" width="330" height="440">
                                        </a>
                                        
                                        <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                            <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="/Home/ShoppingCartList?id=@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString()" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart" name="Add" value="Add"
                                               onclick="return fAddToCart(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())"
                                              >
                                                <svg class="icon icon-shopping-bag-open-light">
                                                    <use xlink:href="#icon-shopping-bag-open-light"></use>
                                                </svg>
                                            </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                                <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center" onclick="return getproductdetailsList(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString());">
                                                    <svg class="icon icon-eye-light">
                                                        <use xlink:href="#icon-eye-light"></use>
                                                    </svg>
                                                </span>
                                            </a>


                                        </div>
                                    </figure>
                                    <div class="card-body text-center p-0">
                                        <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                            <del class=" text-body fw-500 me-4 fs-13px">₹@Model.DtDetails.Rows[i]["OfferedPrice"].ToString()</del>
                                            <ins class="text-decoration-none">₹@Model.DtDetails.Rows[i]["DP"].ToString()</ins>
                                        </span>
                                        <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())">@Model.DtDetails.Rows[i]["ProductName"].ToString()</a></h4>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                     }                   
                </div>
            </div>
        </section>
    }*@
    @*<section id="under_25">
            <div class="container container-xxl pt-14 pt-lg-17 pb-16 pb-lg-20 mt-3">
                <div class="row align-items-center mb-9 mt-3">
                    <div class="col-sm-8" data-animate="fadeInUp">
                        <h2 class="h3 mb-0">Under ₹25</h2>
                    </div>
                    <div class="col-sm-4 text-sm-end" data-animate="fadeInUp"><a href="#" class="btn btn-link p-0 text-body-emphasis text-decoration-none fw-semibold text-primary-hover">Shop All Products <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg></a></div>
                </div>
                <div class="slick-slider" data-slick-options="{&#34;arrows&#34;:true,&#34;dots&#34;:false,&#34;responsive&#34;:[{&#34;breakpoint&#34;:1560,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:5}},{&#34;breakpoint&#34;:1200,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:3}},{&#34;breakpoint&#34;:992,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:2}},{&#34;breakpoint&#34;:576,&#34;settings&#34;:{&#34;arrows&#34;:false,&#34;dots&#34;:true,&#34;slidesToShow&#34;:1}}],&#34;slidesToShow&#34;:5}" data-animate="fadeInUp">
                    <div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Shield Spray">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-07-270x360.jpg" class="img-fluid lazy-image w-100" alt="Shield Spray" width="330" height="440">
                                </a>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">₹29.00</span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Shield Spray</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 100%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div><div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Vital Eye Cream">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-11-270x360.jpg" class="img-fluid lazy-image w-100" alt="Vital Eye Cream" width="330" height="440">
                                </a>
                                <div class="position-absolute product-flash z-index-2 "><span class="badge badge-product-flash on-sale bg-primary">-26%</span></div>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                    <del class=" text-body fw-500 me-4 fs-13px">₹39.00</del>
                                    <ins class="text-decoration-none">₹29.00</ins>
                                </span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Vital Eye Cream</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 80%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div><div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Supreme Moisture Mask">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-08-270x360.jpg" class="img-fluid lazy-image w-100" alt="Supreme Moisture Mask" width="330" height="440">
                                </a>
                                <div class="position-absolute product-flash z-index-2 "><span class="badge badge-product-flash on-sale bg-primary">-26%</span></div>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                    <del class=" text-body fw-500 me-4 fs-13px">₹39.00</del>
                                    <ins class="text-decoration-none">₹29.00</ins>
                                </span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Supreme Moisture Mask</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 80%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div><div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Supreme Polishing Treatment">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-06-270x360.jpg" class="img-fluid lazy-image w-100" alt="Supreme Polishing Treatment" width="330" height="440">
                                </a>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">₹29.00</span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Supreme Polishing Treatment</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 100%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div><div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Scalp Moisturizing Cream">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-09-270x360.jpg" class="img-fluid lazy-image w-100" alt="Scalp Moisturizing Cream" width="330" height="440">
                                </a>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">₹29.00</span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Scalp Moisturizing Cream</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 100%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div><div>
                        <div class="card card-product grid-1 bg-transparent border-0" data-animate="fadeInUp">
                            <figure class="card-img-top position-relative mb-7 overflow-hidden ">
                                <a href="shop/product-details-v1.html" class="hover-zoom-in d-block" title="Natural Coconut Cleansing Oil">
                                    <img src="#" data-src="/Content/WebsiteCss/assets/images/products/product-12-270x360.jpg" class="img-fluid lazy-image w-100" alt="Natural Coconut Cleansing Oil" width="330" height="440">
                                </a>
                                <div class="position-absolute product-flash z-index-2 "><span class="badge badge-product-flash on-sale bg-primary">-26%</span></div>
                                <div class="position-absolute d-flex z-index-2 product-actions  horizontal">
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm add_to_cart" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
                                        <svg class="icon icon-shopping-bag-open-light">
                                            <use xlink:href="#icon-shopping-bag-open-light"></use>
                                        </svg>
                                    </a><a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm quick-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Quick View">
                                        <span data-bs-toggle="modal" data-bs-target="#quickViewModal" class="d-flex align-items-center justify-content-center">
                                            <svg class="icon icon-eye-light">
                                                <use xlink:href="#icon-eye-light"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Wishlist">
                                        <svg class="icon icon-star-light">
                                            <use xlink:href="#icon-star-light"></use>
                                        </svg>
                                    </a>
                                    <a class="text-body-emphasis bg-body bg-dark-hover text-light-hover rounded-circle square product-action shadow-sm compare" href="shop/compare.html" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare">
                                        <svg class="icon icon-arrows-left-right-light">
                                            <use xlink:href="#icon-arrows-left-right-light"></use>
                                        </svg>
                                    </a>
                                </div>
                            </figure>
                            <div class="card-body text-center p-0">
                                <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
                                    <del class=" text-body fw-500 me-4 fs-13px">₹39.00</del>
                                    <ins class="text-decoration-none">₹29.00</ins>
                                </span>
                                <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3"><a class="text-decoration-none text-reset" href="shop/product-details-v1.html">Natural Coconut Cleansing Oil</a></h4>
                                <div class="d-flex align-items-center fs-12px justify-content-center">
                                    <div class="rating">
                                        <div class="empty-stars">
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star-o">
                                                    <use xlink:href="#star-o"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="filled-stars" style="width: 80%">
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                            <span class="star">
                                                <svg class="icon star text-primary">
                                                    <use xlink:href="#star"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><span class="reviews ms-4 pt-3 fs-14px">2947 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!--<section>
        <div class="container container-xxl">
            <div class="row gx-30px gy-30px">
                <div class="col-12 col-lg-8 col-md-7" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine">
                        <img class="lazy-image w-100 card-img object-fit-cover light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-10.jpg" width="930" height="420" alt="Discover Our Autumn Skincare">
                        <img class="lazy-image dark-mode-img w-100 card-img object-fit-cover" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-white-10.jpg" width="930" height="420" alt="Discover Our Autumn Skincare"><div class="card-img-overlay p-md-12 m-2 p-9">
                            <h5 class="card-subtitle ls-1 mb-4 fw-semibold fs-15px text-body-emphasis fw-bold pb-3">NEW COLLECTION</h5><h3 class="card-title card-title lh-45px fs-3 font-primary mw-lg-60 pe-xl-25 pe-lg-10 pe-md-0 pe-sm-20">Discover Our Autumn Skincare</h3><div class="mt-7">-->@*<a href="#" class="btn btn-white">Explore More</a>*@<!--</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-5" data-animate="fadeInUp">
                    <div class="card border-0 rounded-0 banner-01 hover-zoom-in hover-shine">
                        <img class="lazy-image object-fit-cover card-img light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-09.jpg" width="690" height="420" alt="25% off Everything">
                        <img class="lazy-image dark-mode-img object-fit-cover card-img" src="#" data-src="/Content/WebsiteCss/assets/images/banner/banner-white-09.jpg" width="690" height="420" alt="25% off Everything"><div class="card-img-overlay d-inline-flex flex-column p-md-12 m-md-2 p-8">
                            <h3 class="card-title lh-45px fs-3">25% off Everything</h3><p class="card-text fs-15px text-body-emphasis mw-xl-60">Makeup with extended range in colors for every human.</p><div class="mt-7">-->@*<a href="#" class="btn btn-white">Shop Sale</a>*@<!--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section>
        <div class="container container-xxl pt-lg-20 pt-15 pb-lg-18 pb-16">
            <div class="mb-md-15 mb-11">
                <div class="text-center" data-animate="fadeInUp"><h2>Why Shop with Glowing?</h2></div>
            </div>
            <div class="row gy-30px">
                <div class="col-md-4" data-animate="fadeInUp">
                    <div class>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-11.png" width="102" height="118" alt="Guaranteed PURE">
                            <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-11.png" width="102" height="118" alt="Guaranteed PURE">
                        </div>
                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Guaranteed PURE</h3>
                            <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-animate="fadeInUp">
                    <div class>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-02.png" width="102" height="118" alt="Completely Cruelty-Free">
                            <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-02.png" width="102" height="118" alt="Completely Cruelty-Free">
                        </div>
                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Completely Cruelty-Free</h3>
                            <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-animate="fadeInUp">
                    <div class>
                        <div class="d-flex justify-content-center">
                            <img class="lazy-image img-fluid light-mode-img" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-03.png" width="102" height="118" alt="Ingredient Sourcing">
                            <img class="lazy-image dark-mode-img img-fluid" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-white-03.png" width="102" height="118" alt="Ingredient Sourcing">
                        </div>
                        <div class="card-body text-center pt-7 mt-3">
                            <h3 class="fs-4 mb-6">Ingredient Sourcing</h3>
                            <p class="mb-0 px-lg-6">All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section id="with_client_logo_2">
        <div class="container-xxl">
            <div class="bg-body-tertiary">
                <div class="container pt-14 pb-16 py-lg-17">
                    <div class="row mt-4 mb-5" data-animate="fadeInUp">
                        <div class="col-lg-9 offset-lg-1 col-xl-8 offset-xl-2">
                            <div class="slick-slider main" data-slick-options="{&quot;slidesToShow&quot;: 1,&quot;dots&quot;:false,&quot;arrows&quot;:false, &quot;asNavFor&quot;: &quot;#with_client_logo_2 .thumb&quot;}">
                                <div class="text-center d-flex justify-content-center flex-column">
                                    <div class="d-flex justify-content-center">
                                        <div class="manager">
                                            <img width="100" src="~/Content/WebsiteCss/assets/images/image-box/image 1.png" alt="">
                                        </div>
                                    </div>
                                    <h4 class="mb-0">
                                        "MESSAGE
                                        FROM OUR FOUNDERCHAIRMAN"
                                    </h4>
                                    <p class="mt-5">As we approach a new beginning of the year, I take a moment to reflect on the incredible journey we have embarked upon together. It is with immense pride and gratitude that I address each and every direct seller, the heart and soul of our OK family. Together, we have overcome challenges, celebrated triumphs, and continually pushed the boundaries of what is possible. It is your dedication, hard work, and unwavering commitment that have fueled our success. As we navigate the ever-evolving landscape of the direct selling industry, I am confident that our shared values, innovation, and resilience will continue to propel us forward. The global challenges we face only serve as opportunities for us to demonstrate our adaptability and determination. Our success is a testament to the collaborative spirit that defines our culture. We are not just colleagues; we are a family, bound by a common purpose and a shared vision for the future.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <section class="pt-14 pt-lg-16 pb-8 pb-md-12 pb-lg-16">
        <div class="container container-xxl">
            <div class="mb-11">
                <div class="text-center" data-animate="fadeInUp"><h2 class="mb-6">More to Discover</h2></div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-9 mb-md-0" data-animate="fadeInUp">
                    <div class="card border-0 hover-zoom-in">
                        <div class="image-box-4">
                            <img class="lazy-image img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-21.jpg" width="960" height="640" alt>
                        </div>
                        <div class="card-body text-body-emphasis text-center pt-9 mt-2">
                            <h5 class="card-titletext-decoration-none fs-4 d-block fw-semibold"><a class="color-inherit text-decoration-none" href="#">Find a Store</a></h5>
                            @*<a href="#" title="Shop now" class="btn btn-link fw-semibold text-body-emphasis">Our Store <i class="far fa-arrow-right fs-14px ps-2 ms-1"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-9 mb-md-0" data-animate="fadeInUp">
                    <div class="card border-0 hover-zoom-in">
                        <div class="image-box-4">
                            <img class="lazy-image img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-13.jpg" width="960" height="640" alt>
                        </div>
                        <div class="card-body text-body-emphasis text-center pt-9 mt-2">
                            <h5 class="card-titletext-decoration-none fs-4 d-block fw-semibold"><a class="color-inherit text-decoration-none" href="#">From Our Blog</a></h5>
                            @*<a href="#" title="Shop now" class="btn btn-link fw-semibold text-body-emphasis">Read more <i class="far fa-arrow-right fs-14px ps-2 ms-1"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-9 mb-md-0" data-animate="fadeInUp">
                    <div class="card border-0 hover-zoom-in">
                        <div class="image-box-4">
                            <img class="lazy-image img-fluid lazy-image" src="#" data-src="/Content/WebsiteCss/assets/images/image-box/image-box-14.jpg" width="960" height="640" alt>
                        </div>
                        <div class="card-body text-body-emphasis text-center pt-9 mt-2">
                            <h5 class="card-titletext-decoration-none fs-4 d-block fw-semibold"><a class="color-inherit text-decoration-none" href="#">Our Story</a></h5>
                            <a href="/Home/About" title="Shop now" class="btn btn-link fw-semibold text-body-emphasis">View More <i class="far fa-arrow-right fs-14px ps-2 ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    //$(document).ready(function () {
    //    $('#festivepopup').modal('show');
    //});

    //function closePopup() {
    //    $("#festivepopup").modal("hide");
    //}
    function getproduct(Fk_CategoryId) {
        var obj = {};
        obj.Fk_CategoryId = Fk_CategoryId;
        $.ajax({
            url: '/Home/ProductListDetail',
            type: 'Post',
            data: { Fk_CategoryId: obj.Fk_CategoryId },
            success: function (response) {
                if (response != null) {
                    console.log(response);
                    var str = "";
                    $("#CatwaisePRoduct").html;

                    alert(response);
                    $("#CatwaisePRoduct").text(response[0].Fk_CategoryId);


                }

            }, error: function () {
                alert('Some Thing wrong!');


            }
        });
    }

    function getproductdetails(ProductId) {

        $('#qty_amount').val('1');
        $.ajax({
            url: '/Home/ProductDetailsListView',
            type: 'Post',
            data: { Id: ProductId },
            success: function (response) {
                debugger;

                if (response != null) {
                    var str = "";

                    $("#productAvgstr").html("")
                    //console.log(response);
                    $('#txtproductName').text(response[0].ProductName);
                    $('#txtproductdetails').text(response[0].ProductDescription);
                    $('#CategoryName').text(response[0].CategoryName);
                    $('#offeredPrice').text(response[0].DP);
                    $('#mrp').text(response[0].MRP);
                    $('#productimage').text(response[0].ProductImage);
                    $('#Pk_ProductId').text(response[0].Pk_ProductId);
                    /*$('#reviewCount').text(response[0].ReviewCount);*/
                    $('#productimage').attr('src', response[0].ProductImage);

                    if (response[0].AvgRating == "1") {
                        str += '<li><i class="fas fa-star"></i></li>'

                    }
                    else if (response[0].AvgRating == "2") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "3") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "4") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    else if (response[0].AvgRating == "5") {
                        str += '<li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li> <li><i class="fas fa-star"></i></li>'
                    }
                    $("#productAvgstr").html(str)
                }

            }, error: function () {
                //alert('Some Thing wrong!');
                $("#pre-loader").hide();

            }
        });
    }

    function fAddToCartLife(Add, productId) {
        var Add = Add;
        var productId = productId;
        window.location.href = '/Home/Products?ProductId=' +productId +'&Add='+Add
    }
    //function AddToCart2() {
    //    debugger;
    //    var ProductId = $('#Pk_ProductId').text();
    //    var Qua = $('#Quantity123').val();
    //    //alert($('#Quantity123').val());
    //    // console.log(Quantity);
    //    fAddMultiQutyToCart12(ProductId, Qua);
    //    $('#AddQuty').trigger('click');

    //}

    //function AddToOneCart(ProductId) {
    //    debugger;
    //    fAddToCart(ProductId);
    //    $('#AddOneQuty').trigger('click');
    //}

    //function checkqty() {
    //    alert($('#Quantity123').val());
    //    if ($('#Quantity123').val()=="0") {
    //        $('#Quantity123').val("1");
    //    }

    //    //if (document.getElementById("Quantity123").value == 0) {
    //    //    document.getElementById("Quantity123").value == 1;
    //    //}
    //   // alert(document.getElementById("Quantity123").value);
    //}
    ////$(".checkqty").click(function () {
    ////    alert("Handler for .click() called.");
    ////});

</script>
