@model LifeOne.Models.HomeManagement.HEntity.MLogin
@{
    ViewBag.Title = " Member Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function openWin() {
        window.open("loginId1.html");
    }
</script>

<!-- Section: page title -->
<section class="pb-11 pb-lg-15 pt-15">
    <div class="container">
        <h2 class="fs-sm-40 mb-10 text-center">Login with your account</h2>
        <div class="row no-gutters">
            <div class="col-lg-10 mx-auto">
                <div class="row no-gutters">
                    <div class="col-lg-6 mb-8 mb-lg-0 pr-xl-2">
                        @using (Html.BeginForm("UserList", "Home", FormMethod.Post))
                        {
                            <div class="form-group position-relative">
                                @Html.TextBoxFor(Model => Model.Login, new { @class = "idinput", @placeholder = "Enter LoginId OR Registered Mobile No." })
                                <span class="form-control">@Html.ValidationMessageFor(Model => Model.Login, "", new { @class = "text-danger" })</span>
                                <button class="loginbtn-icon" type="submit"> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        }

                        <p class="forogt"><a href="/Home/CustomerRegistration"> Don't have an account? Register here</a></p>

                    </div>
                </div>

</section>





<script>
        $(document).ready(function () {
            debugger

                if ('@ViewBag.UserType' != null && '@ViewBag.UserType' != '') {
                    if ('@ViewBag.UserType' == "5") {
                        alert(1);
                        $('#SMSList').show();
                    }
                }
                if ('@TempData["Msg"]' != null && '@TempData["Msg"]' != '') {
                    swal('', '@TempData["Msg"]', 'warning');
                }
        });


        $(document).ready(function () {
            //called when key is pressed in textbox
            //$("#Login").keypress(function (e) {
            //    //if the letter is not digit then display error and don't type anything
            //    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //        //display error message
            //        //$("#errmsg").html("Digits Only").show().fadeOut("slow");
            //        return false;
            //    }
            //});
        });
</script>




