@model LifeOne.Models.Products
@{
    ViewBag.Title = "LifeoneWellness India Herbal Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #divload {
        width: 100%;
        height: 1100px;
        position: absolute;
        z-index: 9999;
        background: url("https://thumbs.gfycat.com/LameDifferentBalloonfish-small.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .fixedImgSize {
        max-width: 400px;
        height: 300px;
    }
</style>
@using (Html.BeginForm("Products", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <main id="content">
        <section class="py-6" style="background-color: #f8f0e0;">
            <div class="container">
                <div class="row justify-content-center no-gutters pr-lg-3 mb-3 mb-lg-0">
                    <h1 class="fs-36 mb-0 text-center"> @Model.ProductType  </h1>
                </div>
            </div>
        </section>
        <section class="border-bottom mb-9">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-site py-0 d-flex fs-15 mb-0 py-3">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" href="/Home/Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active pl-0 d-flex align-items-center text-primary" aria-current="page">
                            @Model.ProductType
                        </li>
                    </ol>
                </nav>
            </div>
        </section>

        <section class="pb-6">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-3 d-none d-xl-block pr-md-3 pr-lg-9 primary-sidebar sidebar-sticky" id="sidebar">
                        <div class="primary-sidebar-inner">
                            <h2 class="fs-34 mb-6">
                                Filter
                            </h2>

                            <div class="card border-0 mb-7">
                                <div class="card-header bg-transparent border-0 p-0">
                                    <h3 class="card-title fs-18 font-weight-500 mb-0">
                                        Categories
                                        @*@Html.DropDownListFor(m => m.Pk_SupplierId, new SelectList(ViewBag.ddlSupplierDetails, "Value", "Text"), new { @class = "form-control", @onchange = " return fGetSupplierDetails()" })*@
                                    </h3>
                                </div>
                                @if (Model != null)
                                {
                                    if (Model.dtCategory != null)
                                    {
                                        if (Model.dtCategory.Rows.Count > 0)
                                        {
                                            for (int i = 0; i <= Model.dtCategory.Rows.Count - 1; i++)
                                            {
                                                <div class="card-body px-0 pt-2 pb-0">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="mb-1">
                                                            <a href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.dtCategory.Rows[i]["PK_ProductTypeId"].ToString())"  id="Fk_CategoryId"
                                                               class="text-body hover-primary border-bottom border-white border-hover-primary d-inline-block lh-12">@Model.dtCategory.Rows[i]["ProductType"].ToString()</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            }

                                        }
                                    }
                                }


                            </div>


                        </div>
                    </div>

                    <div class="col-xl-9">
                        <div class="row">
                            @if (Model != null)
                            {
                                if (Model.DtDetails != null)
                                {
                                    if (Model.DtDetails.Rows.Count > 0)
                                    {
                                        for (int i = 0; i <= Model.DtDetails.Rows.Count - 1; i++)
                                        {
                                            <div class="col-md-4 col-sm-3 product mb-8">
                                                <div class="card border-0">
                                                    <div class="position-relative hover-zoom-in border-ddd border" style="height:400px;">
                                                        <a href="/Home/ProductDetails?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", @Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())" class="d-block overflow-hidden">
                                                            <img style="width:100%;" src="@Model.DtDetails.Rows[i]["PrimaryImage"].ToString()" alt="Product 01"
             class="card-img-top image-active fixedImgSize">
        <img style="width:100%;" src="@Model.DtDetails.Rows[i]["PrimaryImage"].ToString()" alt="Product 01"
             class="card-img-top image-hover fixedImgSize">
                                                           
                                                            

                                                        </a>
                                                        <div class="position-absolute pos-fixed-top-right d-inline-flex p-4 flex-column z-index-10">
                                                            <div class="content-change-vertical d-flex flex-column ml-auto">
                                                                @*<a href="#" data-toggle="tooltip" data-placement="left"
                                                                   title="Add to wish list" class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white border hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2">
                                                                    <i class="fas fa-star"></i>
                                                                </a>*@
                                                            </div>
                                                        </div>
                                                        <div class="position-absolute pos-fixed-bottom pb-4 px-4 w-100">
                                                            @Html.HiddenFor(m => m.Quantity)
                                                            
                                                            @*<a href="#" class="btn btn-primary btn-block">+ Add to Cart</a>*@

                                                            <input type="submit" class="btn btn-primary btn-block " name="Add" value="+ Add to Cart"  onclick="return fAddToCart(@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString())"/>
                                                            @Html.HiddenFor(m => m.Pk_ProductId)
                                                            
                                                            @*<a href="" class="btn btn-primary btn-block Add"   onclick=" return fgetproductid('@Model.DtDetails.Rows[i]["Pk_ProductId"].ToString()')">+ Add to Cart</a>*@
                                                            






                                                        </div>
                                                    </div>
                                                    <div class="card-body pt-4 px-0 pb-0">
                                                        <h3 class="card-title fs-16 font-weight-500 mb-1 lh-14375">
                                                            <a style="font-size: 19px;" href="#">@Model.DtDetails.Rows[i]["ProductName"].ToString()</a>
                                                        </h3>
                                                        <p class="text-primary mb-0 card-title lh-14375"><span style="font-weight: bold; font-size: 25px; color: #ed9c24;">₹@Model.DtDetails.Rows[i]["DP"].ToString() </span>&nbsp;&nbsp; <del>₹@Model.DtDetails.Rows[i]["OfferedPrice"].ToString()</del></p>

                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-7 pb-5 border-top">
            <div class="container container-xl">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-6 mb-xl-0">
                        <div class="media">
                            <img src="~/Content/image/icon-box-01.png" alt="Free Shipping" class="mr-3">
                            <div class="media-body">
                                <h5 class="fs-20 lh-1 mb-2 font-weight-500">Free Shipping</h5>
                                <p class="lh-1625">Free Shipping for orders over ₹130</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-6 mb-xl-0">
                        <div class="media">
                            <img src="~/Content/image/icon-box-03.png" alt="Money Guarantee" class="mr-3">
                            <div class="media-body">
                                <h5 class="fs-20 lh-1 mb-2 font-weight-500">Money Guarantee</h5>
                                <p class="lh-1625">Within 30 days for an exchange.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-6 mb-xl-0">
                        <div class="media">
                            <img src="~/Content/image/icon-box-04.png" alt="Online Support" class="mr-3">
                            <div class="media-body">
                                <h5 class="fs-20 lh-1 mb-2 font-weight-500">Online Support</h5>
                                <p class="lh-1625">24 hours a day, 7 days a week</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-6 mb-xl-0">
                        <div class="media">
                            <img src="~/Content/image/icon-box-05.png" alt="Flexible Payment" class="mr-3">
                            <div class="media-body">
                                <h5 class="fs-20 lh-1 mb-2 font-weight-500">Flexible Payment</h5>
                                <p class="lh-1625">Pay with Multiple Credit Cards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

}

    <div class="position-fixed pos-fixed-bottom-right p-6 z-index-10">
        <a href="#"
           class="gtf-back-to-top text-decoration-none bg-white text-primary hover-white bg-hover-primary shadow p-0 w-48px h-48px rounded-circle fs-20 d-flex align-items-center justify-content-center"
           title="Back To Top"><i class="fal fa-arrow-up"></i></a>
    </div>


  <script type="text/javascript">
        function fcheckquantity() {
            if ($("#Quantity").val() = 0) {
                alert("Please Add Quantity");
                return false;

            }
        }

      function fgetproductid(ProductId) {
          if (ProductId == null || ProductId == undefined || ProductId == NaN || ProductId == "0") {

              alert("Something went wrong. Please refresh the page and try again.");
              return false;
          }
          else {

          $('#Pk_ProductId').val(ProductId);
          }
      }
     




        //$(document).ready(function () {
        //    $("#divload").css({ 'display': 'none' })

        //});

      function fgetproductid(id) {
          debugger;
          $('#Pk_ProductId').val(id);
          $('#AddToCard').trigger('click');
        }

      //function GetCategoryDetail() {
      //    debugger;
      //      $.ajax({
      //          type: "GET",
      //          url: "/Home/Products",
      //          data: { Fk_CategoryId: $('#Fk_CategoryId').val() },
      //          contentType: "application/json; charset=utf-8",
      //          dataType: "json",
      //          success: function (response) {
      //              if (response != null) {
      //                  //$('#Mobile').val(response.Mobile);
      //                  //$('#Address').val(response.Address);
      //                  //$('#GSTNo').val(response.GSTNo);
      //              } else {
      //                  alert("Something went wrong");
      //              }
      //          },
      //          failure: function (response) {
      //              alert(response.responseText);
      //          },
      //          error: function (response) {
      //              alert(response.responseText);
      //          }
      //      });
      //  }
    </script>
