@model LifeOne.Models.Reports

@{
    ViewBag.Title = "InvoiceGSTReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Invoice GST Report</h4>
            @*<nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#-">Accounts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Invoice GST Report</li>
                </ol>
            </nav>*@
        </div>
        <div class="pbutton">
            <div class="right text-right">
                @*<span>
                    <a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>
                </span>*@
                <span>
                    <a href="#" class="btn btn-success btn-rounded btngreen" onclick="fCallPaging(1,1)" data-toggle="tooltip" data-placement="top" title="Download Excel"><i class="fa fa-file-excel-o"></i></a>
                    @*<button class="btn btn-success btn-rounded btnprint" onclick="printDiv('customers')" title="Print"><i class="fa fa-print"></i></button>*@
                    <button class="btn btn-success btn-rounded btngreen" id="btnpdf" data-toggle="tooltip" data-placement="top" title="Download Excel"><i class="fa fa-file-pdf-o"></i></button>

                </span>

            </div>
        </div>
    </div>




    <div id="no-more-tables">
        <form id="form1" method="post" style="height:0;">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            @using (Html.BeginForm("GetInvoiceGSTReport", "AdminReport", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                            {
                                <div class="row" id="advance-search" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" style="color:#727272 !important">
                                            <div class="row">
                                              
                                                <div class="col-12 col-md-2">
                                                    @Html.HiddenFor(m => m.Page)
                                                    @Html.HiddenFor(m => m.IsExport)
                                                    <div class="form-group">
                                                        <label>From Date</label>
                                                        @Html.TextBoxFor(m => m.FromDate, new { @type = "date", @class = "form-control", @placeholder = "From Date" })

                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2">
                                                    <div class="form-group">
                                                        <label>To Date</label>
                                                        @Html.TextBoxFor(m => m.ToDate, new { @type = "date", @class = "form-control", @placeholder = "To Date" })
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2">
                                                    <div class="form-group">
                                                        <label style="display:block;"></label>
                                                        <input type="submit" class="btn btn-success " style="margin-top:1.5em;display:none;" value="Search" id="BtnSearch">
                                                        <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" onclick="fCallPaging(1,0)">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="table-responsive" id="customers" style="height: 462px !important;">
                                <table class="table mb-0" id="tblCustomers">
                                    <thead>
                                        <tr>
                                            <th>#Sn.</th>
                                            <th>Invoice No.</th>
                                            <th>Invoice Date</th>
                                            <th>Customer Name</th>
                                            <th>Mobile No.</th>
                                            <th style="text-align:right">Total Amount</th>
                                            <th style="text-align:right">Taxable Amount</th>
                                            <th style="text-align:right">Tax Amount</th>
                                            <th>Invoice Type</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.dtGetInvoiceGSTReport.Rows.Count > 0)
                                        {
                                            var j = 1;
                                            //int i = 1;
                                            var page = Model.Pager.CurrentPage;
                                            page = (page - 1);
                                            j = ((page) * (Model.Pager.PageSize)); 
                                            for (var i = 0; i < Model.dtGetInvoiceGSTReport.Rows.Count; i++)
                                            {


                                                <tr>
                                                    <td>@(j+1)</td>
                                                    <td>@Model.dtGetInvoiceGSTReport.Rows[i]["InvoiceNo"].ToString()</td>
                                                    <td>@Model.dtGetInvoiceGSTReport.Rows[i]["InvoiceDate"].ToString()</td>
                                                    <td>@Model.dtGetInvoiceGSTReport.Rows[i]["CustomerName"].ToString()</td>
                                                    <td>@Model.dtGetInvoiceGSTReport.Rows[i]["MobileNo"].ToString()</td>
                                                    <td style="text-align:right">@Model.dtGetInvoiceGSTReport.Rows[i]["TotalAmount"].ToString()</td>
                                                    <td style="text-align:right">@Model.dtGetInvoiceGSTReport.Rows[i]["TaxableAmt"].ToString()</td>
                                                    <td style="text-align:right">@Model.dtGetInvoiceGSTReport.Rows[i]["TaxAmount"].ToString()</td>
                                                    <td >@Model.dtGetInvoiceGSTReport.Rows[i]["InvoiceType"].ToString()</td>

                                                </tr>
                                                j++;
                                            }

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <footer class="card-footer bg-white p-2">
                            <div class="d-md-flex align-items-center justify-content-between">

                                @if (Model != null)
                                {
                                    if (Model.Pager != null)
                                    {
                                        if (Model.Pager.EndPage > 1)
                                        {
                                            <div> <small class="text-muted inline">showing @Model.dtGetInvoiceGSTReport.Rows.Count  of @Model.dtGetInvoiceGSTReport.Rows[0]["TotalRecords"].ToString() items</small> </div>
                                            <div>
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    @if (Model.Pager.CurrentPage > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" onclick="fCallPaging(1,0)" href="#">First</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage - 1),0)" href="#">Previous</a>
                                                        </li>
                                                    }
                                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                    {
                                                        <li class="page-item @(page == Model.Pager.CurrentPage ? " active" : "" )">


                                                            <span><a class="page-link" onclick="fCallPaging(@page,0)" href="#">@page</a></span>
                                                        </li>
                                                    }
                                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                    {
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage + 1),0)" href="#">Next</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.TotalPages),0)" href="#">Last</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </footer>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>

        </form>
    </div>

</div>
<div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped mb-0" id="tableOrderDetail">
                    <thead>
                        <tr>
                            <th>#Sn.</th>
                            <th>Person Name</th>
                            <th>Contact</th>
                            <th>Number Of Sales</th>
                            <th>Total Sales</th>
                            <th>Total BV</th>


                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                    <tfoot id="tablefoot">

                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>
<div id="tblpdff" style="font-size:50px;">

</div>
<script>
 
    function fclaer() {
        $(".fclear").val('');
        $("#Page").val(1);
        $("#IsExport").val(0);
        window.location.reload();
    }

    function fCallPaging(val, IsExport) {

        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#IsExport").val(IsExport);
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');

    }

    $('#btnpdf').click(function () {
        debugger;
        var col = [0]; // coloms to remove

        var tbl = $('#tblCustomers').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 28,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Invoice GST Report',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "Invoice GST Report");
        doc.page++;
        doc.save('Invoice GST Report.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('tblCustomers').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Invoice GST Report</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

</script>
