@model LifeOne.Models.Reports

@{
    ViewBag.Title = "Package Way Activation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Package Wise Activation</h4>
         
        </div>
        <div class="pbutton">
            <div class="right text-right">
                @*<span>
            <a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>
        </span>*@
                <span>
                    <a href="#" class="btn btn-success btn-rounded btngreen" onclick="fCallPaging(1,1)"><i class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Download Excel"></i></a>
                    @*<button class="btn btn-success btn-rounded btnprint" onclick="printDiv('customers')" title="Print"><i class="fa fa-print"></i></button>*@
                    <button class="btn btn-success btn-rounded btnPdf" id="btnpdf" data-toggle="tooltip" data-placement="top" title="Download PDF"><i class="fa fa-file-pdf-o"></i></button>

                </span>

            </div>
        </div>
    </div>
    <div id="no-more-tables">
        <form id="form1" method="post" style="height:0;">

            <div class="row">
                @using (Html.BeginForm("PackageWayActivation", "AdminReport", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                {
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="row" id="advance-search" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" style="color:#727272 !important">
                                            <div class="row">
                                                @*<div class="col-12 col-md-2">
            <div class="form-group">

                <label>Login Id</label>
                 <input type="text" name="LoginID" id="LoginID" placeholder="Enter Login Id" class="form-control">


            </div>
        </div>*@
                                                <div class="col-12 col-md-2">
                                                    <div class="form-group">
                                                        <label>Package Name</label>
                                                        @Html.DropDownListFor(m => m.Pk_PackageID, new SelectList(ViewBag.PackageList, "Value", "Text"), new { @class = "form-control", @id = "Pk_PackageID" })
                                                        @Html.HiddenFor(m => m.Page)
                                                        @Html.HiddenFor(m => m.IsExport)
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <div class="form-group">
                                                        <label>Payment Mode</label>
                                                        @Html.DropDownListFor(m=>m.PaymentMode, new SelectList(ViewBag.PaymentModeList, "Value", "Text"), new { @class = "form-control",@id= "PaymentMode" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>From Date</label>
                                                        <input type="date" name="FromDate" id="fdate" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>To Date</label>
                                                        <input type="date" name="ToDate" id="tdate" class="form-control"/>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-2">
                                                    <div class="form-group">
                                                        <label style="display:block;"></label>
                                                        <input type="submit" class="btn btn-success " style="margin-top:1.5em;display:none;" value="Search" id="BtnSearch">
                                                        <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" onclick="fCallPaging(1,0)">
                                                        <input type="submit" class="btn btn-secondary" onClick="fclaer();" style="margin-top:1.7em;" value="Reset">

                                                    </div>
                                                </div>

                                            </div>
                                            </div>
                                    </div>
                                </div>

                            
                                <div class="table-responsive" id="customers" style="height: 462px !important;">
                                    <table class="table mb-0" id="tblReport">
                                        <thead>
                                            <tr>
                                                <th>#Sn.</th>
                                                <th>Login Id</th>
                                                <th>Display Name</th>
                                                <th>Package Name</th>
                                                <th>Mobile No</th>
                                                <th>Date of Joining</th>
                                                <th>Date of Activation</th>
                                                <th>Payment Mode</th>
                                                <th>Transaction Number</th>
                                                <th>Check Date</th>
                                                <th>Create Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.dtDetails.Rows.Count > 0)
                                            {
                                                int i = 0;
                                                int page = Model.Page ?? 0;
                                                page = (page - 1);


                                                i = ((page) * (Model.Size));
                                                for (var j = 0; j < Model.dtDetails.Rows.Count; j++)
                                                {

                                                    <tr>
                                                        <td>@(i + 1)</td>

                                                        <td>@Model.dtDetails.Rows[j]["LoginId"].ToString() </td>
                                                        <td>@Model.dtDetails.Rows[j]["DisplayName"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["PackageName"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["mobile"]</td>
                                                        <td>@Model.dtDetails.Rows[j]["DOJ"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["DOA"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["PaymentMode"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["TransNo"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["DDChequedate"].ToString()</td>
                                                        <td>@Model.dtDetails.Rows[j]["CreateDate"].ToString()</td>
                                                    </tr>
                                                    i++;
                                                }

                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <footer class="card-footer bg-white p-2">
                                <div class="d-md-flex align-items-center justify-content-between">

                                    @if (Model != null)
                                    {
                                        if (Model.Pager != null)
                                        {
                                            if (Model.Pager.EndPage > 1)
                                            {
                                                <div> <small class="text-muted inline">showing @Model.dtDetails.Rows.Count  of @Model.dtDetails.Rows[0]["TotalRecords"].ToString() items</small> </div>
                                                <div>
                                                    <ul class="pagination pagination-sm m-t-none m-b-none">
                                                        @if (Model.Pager.CurrentPage > 1)
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" onclick="fCallPaging(1,0)" href="#">First</a>

                                                            </li>
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage - 1),0)" href="#">Previous</a>
                                                            </li>
                                                        }
                                                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                        {
                                                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">


                                                                <span><a class="page-link" onclick="fCallPaging(@page,0)" href="#">@page</a></span>
                                                            </li>
                                                        }
                                                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                        {
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage + 1),0)" href="#">Next</a>

                                                            </li>
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.TotalPages),0)" href="#">Last</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </footer>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                 }
                    <!-- /.col -->
                </div>

        </form>
    </div>

</div>
<div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped mb-0" id="tableOrderDetail">
                    <thead>
                        <tr>
                            <th>#Sn.</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Taxable Amt</th>
                            <th>Tax Amt</th>

                            <th>Total Amt</th>


                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                    <tfoot id="tablefoot">

                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>
<div id="tblpdff" style="font-size:50px;">

</div>
<script>
    function fCallPaging(val, IsExport) {

        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#IsExport").val(IsExport);
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');
    }
    function fclaer() {
        $(".fclear").val('');
        $("#Page").val(1);
        $("#IsExport").val(0);
        window.location.reload();
    }
   

    $('#btnpdf').click(function () {
        debugger;
        var col = [0]; // coloms to remove

        var tbl = $('#tblReport').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth =27,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Package Way Activation',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "Package Way Activation");
        doc.page++;
        doc.save('Package Way Activation.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('tblReport').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Package Way Activation</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>
