@model LifeOne.Models.AdminManagement.AEntity.MPayoutReport
@{
    ViewBag.Title = "Print Payout Report For Bank";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>Print Payout Report For Bank</title>
</head>
<body style="
      margin: 10px 0;
      font-size: 12px;
      font-family: Arial, Verdana, Tahoma;
      line-height: 16px;
    ">
    <table cellspacing="0" cellpadding="0" style="
        width: 800px;
        margin: 0px auto;
        border: 1px solid #000;
        font-size: 12px;
        font-family: Arial, Verdana, Tahoma;
        line-height: 16px;
      ">
        <tbody id="PrintPayout">
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="
                              width: 100%;
                              vertical-align: top;
                              text-align: center;
                            "></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="
                              text-align: left;
                              border-bottom: 0px solid #000;
                            ">
                                                    <h2 style="
                                margin: 0px;
                                padding: 40px 0px 0px 0px;
                                font-size: 26px;
                                text-transform: uppercase;
                                text-align: center;
                              ">
                                                        lifeone wellness private limited
                                                    </h2>
                                                    <p style="
                                text-align: center;
                                border-bottom: 0px solid #000;
                                font-weight: 600;
                              ">
                                                        9-8 Indira Nagar Near Arvindo Park Munshi Puliya
                                                        Indira Nagar Lucknow Uttar Pradesh - 226016
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="
                              border-top: 1px solid #000;
                              width: 30%;
                              vertical-align: top;
                              padding: 10px 0px 0px 0px;
                            ">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 5px 5px">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><strong>To,</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>The Branch Manager</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Kotak Mahindra Bank</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Munshipuliya Branch</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                @*<td style="padding: 30px 0px 40px 5px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="1">
                                        <tbody>
                                            <tr>
                                                <td>Sub - Bulk Payment Transfer - Aug 2024 from Chq No.__________________ Ac No. 0512413558</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>*@
                            </tr>
                            <tr>
                                <td style="border-top:1px solid #000; vertical-align:top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="1">
                                        <tbody>
                                            <tr>
                                                <td style="background:#f1f1f1;border-right:1px solid #000;border-bottom:1px solid #000; text-align:center"><strong>S.No.</strong></td>
                                                <td style="background:#f1f1f1;border-right:1px solid #000;border-bottom:1px solid #000; text-align:center"><strong>Name</strong></td>
                                                <td style="background:#f1f1f1;border-right:1px solid #000;border-bottom:1px solid #000; text-align:center"><strong>Bank Name</strong></td>
                                                <td style="background:#f1f1f1;border-right:1px solid #000;border-bottom:1px solid #000; text-align:center"><strong>Account No.</strong></td>
                                                <td style="background:#f1f1f1;border-right:1px solid #000;border-bottom:1px solid #000; text-align:center"><strong>IFSC Code</strong></td>
                                                <td style="border-right:1px solid #000;background:#f1f1f1;border-bottom:1px solid #000; text-align:center"><strong>Amount ₹</strong></td>

                                            </tr>
                                            @if (Model != null && Model.Objlist.Count > 0)
                                            {
                                                decimal TotalAmount = 0;
                                                int i = 1;
                                                

                                                foreach (var item in Model.Objlist)
                                                {
                                                    TotalAmount += Convert.ToDecimal(@item.NetIncome);
                                                    <tr>
                                                        <td style="line-height:25px;border-right:1px solid #000;border-bottom:1px solid #000; text-align: center;">@(i)</td>
                                                        <td style="line-height:25px;border-right:1px solid #000;border-bottom:1px solid #000;">@item.Name</td>
                                                        <td style="border-right:1px solid #000;border-bottom:1px solid #000;">@item.BankName</td>
                                                        <td style="border-right:1px solid #000;border-bottom:1px solid #000; text-align: center;">@item.MemberAccNo</td>
                                                        <td style="border-right:1px solid #000;border-bottom:1px solid #000;">@item.IFSCCode</td>
                                                        <td style="border-bottom:1px solid #000; text-align: center;">@item.NetIncome</td>

                                                    </tr>
                                                  i++;
                                                }
                                                i++;
                                                <tr>
                                                        <td colspan="4"></td>
                                                        <td style="font-weight: 600;text-align: center;">TOTAL</td>
                                                        <td style="font-weight: 600;text-align: center;">@TotalAmount</td>
                                                    </tr>
                                             }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
</body>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
    function printDiv(PrintPayout) {
        debugger
        var printContents = document.getElementById(PrintPayout).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
    $(document).ready(function () {

        printDiv('PrintPayout');
    });

</script>





