@model LifeOne.Models.AssociateManagement.AssociateEntity.AssociateTeam
@{
    ViewBag.Title = "MyDownline";

}

<style>
    .alert-warning {
        background-color: #fcf8e3 !important;
        border-color: #faebcc !important;
    }
</style>
<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">My Downline</h4>
                <nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">UID</a></li>
                        <li class="breadcrumb-item"><a href="#">My Team</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Downline</li>
                    </ol>
                </nav>
            </div>
            <div class="pbutton">
                <div class="right text-right">
                    <span>
                        <a href="@Url.Action("ExportToExcelMyDownline","UIDTeam",new {Page=Model!=null && Model.Pager!=null&&Model.Pager.EndPage>0?Model.Pager.CurrentPage:1 })" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                    </span> <span>
                        <button class="btn btn-danger btn-custom btn-rounded btn-sm" id="btnpdf" title="PDF"><i class="fa fa-file-pdf-o"></i></button>
                    </span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0 pt-10" style="padding-top:15px !important;">
                        @using (Html.BeginForm("MyDownline", "UIDTeam", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 ">
                                    <div class="d-flex align-items-center justify-content-center mb-3">
                                        @*<a href="/Associate/AssociateTeam/MyDownline" class="btn btn-secondary mr-2">Root</a>*@
                                        <div class="input-group" style="float:left">
                                            @Html.TextBoxFor(m => m.SearchLoginId, new { @class = "form-control", @placeholder = "Enter Login Id" })
                                            <button type="submit" class="btn btn-success mr-2" style="border-radius: 0 5px 5px 0px;"><i class="fa fa-search"></i></button>
                                            @*<button type="button" class="btn btn-secondary">Go Up</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="table-responsive" >
                            <table class="table table-striped mb-0" id="MyDownlineList">
                                <thead>
                                    <tr>
                                        <th>#Sn.</th>
                                        <th>Login Id / Type</th>
                                        <th>Name</th>
                                        <th>Rank & Recognition</th>
                                        <th>Team UID</th>
                                        <th>Team BID</th>

                                        @*<th>Current PPV</th>
                                            <th>Current PQPV</th>
                                            <th>Current UPV</th>
                                            <th>Current UQPV</th>
                                            <th>Current GPV</th>
                                            <th>Current QGPV</th>*@
                                        <th class="text-right">Self Business</th>
                                        <th class="text-right">Team Business</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Downlines.Count > 0)
                                    {
                                        int SNo = 0;
                                        foreach (var item in Model.Downlines)
                                        {
                                            <tr>
                                                <td data-title="#SN:">@(SNo = SNo + 1)</td>
                                                <td data-title="LoginId:">
                                                    @item.LoginId @if (item.Type == "UID")
                                                    {
                                                        <label class="badge btn-danger">@item.Type</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge btn-success">@item.Type</label>
                                                    }
                                                </td>
                                                <td data-title="MemberName:">@item.FirstName @item.LastName</td>

                                                <td>@item.PerformanceLevel (@item.SelfBusiness)</td>
                                                @*<td data-title="Status:">
                                                        @if (@item.Status == "Active")
                                                        {
                                                            <div class="badge badge badge-success" style="background-color:green">Active</div>
                                                        }
                                                        else if (@item.Status == "InActive")
                                                        {
                                                            <div class="badge badge badge-danger" style="background-color:red">InActive</div>
                                                        }
                                                    </td>*@
                                                <td data-title="BIDCount">@item.BIDCount</td>
                                                <td data-title="UIDCount">@item.UIDCount</td>
                                                @*<td data-title="CurrPBV:">@item.CurrPBV</td>
                                                    <td data-title="CurrTBV:">@item.TotalCurrPBV</td>

                                                    <td data-title="TotalCurrTBV:">@item.TotalCurrTBV</td>
                                                    <td data-title="AirOrbitIncome:">@item.CurrTBV</td>
                                                    <td data-title="CurrGBV:">@item.CurrGBV</td>
                                                    <td data-title="TotalCurrGBV:">@item.TotalCurrGBV</td>*@
                                                <td class="text-right">@item.SelfBusiness</td>
                                                <td class="text-right">@item.TeamBusiness</td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        @*<tr>
                                                <td colspan="10">No Record Found..</td>
                                            </tr>*@
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <footer class="card-footer bg-white p-2">
                        <div class="d-md-flex align-items-center justify-content-between">

                            @if (Model != null)
                            {
                                if (Model.Pager != null)
                                {
                                    if (Model.Pager.EndPage > 1)
                                    {
                                        <div> <small class="text-muted inline">showing @Model.Downlines.Count  of @Model.Downlines[0].TotalRecords items</small> </div>
                                        <div>
                                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                                @if (Model.Pager.CurrentPage > 1)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="/UID/UIDTeam/MyDownline">First</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/UID/UIDTeam/MyDownline?Page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                    </li>
                                                }
                                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                {
                                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                        <a class="page-link" href="/UID/UIDTeam/MyDownline?Page=@page">@page</a>
                                                    </li>
                                                }
                                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="/UID/UIDTeam/MyDownline?Page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/UID/UIDTeam/MyDownline?Page=@(Model.Pager.TotalPages)">Last</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }

                            }

                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->

</div>


<script>
    $('#btnpdf').click(function () {
        debugger;
        var col = [0]; // coloms to remove

        var tbl = $('#MyDownlineList').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 20,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                //orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'MyDownline List',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "My Direct");
        doc.page++;
        doc.save('MyDirectList.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('MyDirectList').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>MyDirect List</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>