@model LifeOne.Models.AdminManagement.AEntity.MMemberList
@{
    ViewBag.Title = "Downline";
    
}


<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">My Downline</h4>
                <nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Downline</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Downline</li>
                    </ol>
                </nav>
            </div>

            <div class="pbutton">
                <div class="right text-right">
                    <span>
                        <button type="button" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnprint"><i class="fa fa-print"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h4 class="header-title mt-0 mb-1">My Downline</h4>
                                <p class="sub-header">
                                    View all your teams
                                </p>
                            </div><div class="col-md-3 navbar-custom pull-right" style="position:relative">
                                <div class="app-search">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <span data-feather="search"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" >
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#SNo:</th>
                                        <th>Customer ID / Customer Name</th>
                                        <th>Mobile / Email</th>
                                        <th>Joining Date</th>
                                        <th class="text-right">Shopping Amount</th>
                                        <th class="text-center">BV</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.MemberListDetail.Count > 0)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.MemberListDetail)
                                        {
                                            i = i + 1;

                                            <tr data-toggle="tooltip" data-placement="top" class="from">
                                                <td data-title="#SN:">@i</td>
                                                <td data-title="Member ID:">
                                                    <b>@item.LoginId</b><br>
                                                 <em>@item.MemberName</em>
                                                </td>
                                                <td data-title="Mobile" class="mid">
                                                    <b>@item.Mobile</b><br>
                                                    <em>@item.Email</em>
                                                </td>
                                                <td data-title="Joining Date" class="mid">@item.joiningDate</td>
                                                <td data-title="Product Amount(₹)" class="al-right">0</td>
                                                <td data-title="BV" class="text-center">0</td>
                                                <td data-title="Status" class="text-center">
                                                    @if (item.Status == "Active")
                                                    {<label class="label label-success">InActive</label>}
                                                    else
                                                    { <label class="label label-danger">InActive</label>}
                                                </td>
                                                <td data-title="Action" class="text-center"><a href="/Associate/AssociateViewProfile/Downline?Fk_MemId=@item.FK_MemId"   style="cursor:pointer"  title="View Downline" ><i class="fa fa-eye"></i> View</a></td>
                                            </tr>
                                        }
                                    }
                                        </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->

</div>

