@using LifeOne.Models.Manager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LifeOne | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/NewAssests/img/Lifeone logo Favicon.png">
    <!-- plugins -->
    <link href="~/Content/admin-assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- App css -->
    <link href="~/Content/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin-assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/admin-assets/css/app-dark.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/admin-assets/css/app.min.css" rel="stylesheet" type="text/css" />


    <style>
        .topbar-nav .metismenu li:hover ul.nav-second-level.mm-collapse {
            display: block;
        }

        ul li ul {
            /*   background: orange;*/
            /*  visibility: hidden;*/
            opacity: 1;
            /*  min-width: 5rem;*/
            /*  position: absolute;*/
            /* transition: all 0.5s ease;*/
            /*  margin-top: 1rem;*/
            /*   left: 0;*/
            /*  display: none;*/
        }

            ul li:hover > ul,
            ul li:focus-within > ul,
            ul li ul:hover,
            ul li ul:focus {
                /* visibility: visible;*/
                opacity: 1;
                /* display: block*/
            }

        /* ul li ul li {
                clear: both;
                width: 100%;
            }*/
        .topbar-nav .metismenu li:hover ul.nav-second-level.mm-collapse {
            display: block;
        }

        #preloader {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -30px 0 0 -30px;
        }

        #loader-area {
            position: fixed;
            z-index: 999999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            background: #fff;
            background-image: url('../../Content/assests/images/prettyPhoto/dark_rounded/loader.gif');
            background-repeat: no-repeat;
            background-position: center;
        }

        .hide {
            display: none;
        }

        .modal-header {
            display: block;
        }

        .content-page {
            overflow: auto !important;
        }
        /* .table-responsive {
            overflow-y: auto;
            height: 502px;
        }*/
        table {
            overflow-y: auto;
            height: 0vh; /* !!!  HEIGHT MUST BE IN [ vh ] !!! */
        }

        thead th {
            position: sticky;
            top: 0;
        }
    </style>

    <script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Content/dist/js/CommonJS.js?1.0"></script>



    @if (Request.RawUrl != "/Agriculture-Master" && Request.RawUrl != "/OrderReport")
    {
        <script src="~/Content/dist/js/Table_No_Data.js?1.0"></script>
    }
    <script src="~/Scripts/SessionTimerLayOut.js"></script>

    @{
        var conf = System.Web.Configuration.WebConfigurationManager.OpenWebConfiguration(System.Web.Hosting.HostingEnvironment.ApplicationVirtualPath);
        var section = (System.Web.Configuration.SessionStateSection)conf.GetSection("system.web/sessionState");
        string timeout = (section.Timeout.TotalMinutes - 5).ToString();
    }



</head>
<body data-layout="topnav">
    <div class="wrapper">
        <!-- preloader start -->
        <div id="preloader">
            <div id="loader-area">&nbsp;</div>
        </div>
        <!-- preloader end -->
        <!-- Topbar Start -->
        <div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
            <div class="container-fluid">
                <!-- LOGO -->
                <a href="/Admin-Dashboard" class="navbar-brand mr-0 mr-md-2 logo"> <span class="logo-lg"> <img src="~/home-assets/images/Lifeone-logo.png" alt="LifeOne" height="50" /> </span> <span class="logo-sm"> <img src="~/home-assets/images/Lifeone-logo.png" alt="" height="44"> </span> </a>
                <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
                    <li class="">
                        <button class="button-menu-mobile open-left disable-btn"> <i data-feather="menu" class="menu-icon"></i> <i data-feather="x" class="close-icon"></i> </button>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list align-self-center profile-dropdown">
                        <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="javascript: void(0);" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <div class="media user-profile ">

                                <img src="@(SessionManager.ProfilePic != null ? SessionManager.ProfilePic : "")" alt="user-image" class="rounded-circle align-self-center"
                                     onerror="this.src='/Content/Associate/assets/images/users/avatar-1.jpg'" />

                                <div class="media-body text-left">
                                    <h6 class="pro-user-name ml-2 my-0"> <span>@SessionManager.Name</span> <span class="pro-user-desc text-muted d-block mt-1">Administrator </span> </h6>
                                </div>
                                <span data-feather="chevron-down" class="ml-2 align-self-center"></span>
                            </div>

                        </a>
                        <div class="dropdown-menu profile-dropdown-items dropdown-menu-right">
                            @*<a href="/Admin-ViewProfile?FK_MemId=@SessionManager.Fk_MemId" class="dropdown-item notify-item"> <i data-feather="help-circle" class="icon-dual icon-xs mr-2"></i> <span>Profile</span> </a>*@
                            <a href="/Admin-ChangePassword" class="dropdown-item notify-item"> <i data-feather="file-text" class="icon-dual icon-xs mr-2"></i> <span>Change Password</span> </a>
                            <a href="/Admin-SupportRequest" class="dropdown-item notify-item"> <i data-feather="file-text" class="icon-dual icon-xs mr-2"></i> <span>Support Request</span> </a>
                            <a href="/Admin-ChangeProfilePicture" class="dropdown-item notify-item"> <i data-feather="" class="icon-dual icon-xs mr-2 image"></i> <span>Change Profile Picture</span> </a>

                            <div class="dropdown-divider"></div>
                            <a href="/home/Logout" class="dropdown-item notify-item"> <i data-feather="log-out" class="icon-dual icon-xs mr-2"></i> <span>Logout</span> </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- end Topbar -->



        <div class="topnav shadow-sm">
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-lg topbar-nav">
                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="metismenu" id="menu-bar">
                            @if (PermissionManager.IsTabPermit("Dashboard"))
                            {
                                <li> <a href="/Admin-Dashboard"> @*<i class="fa fa-dashboard"></i>*@ <span>Dashboard</span> </a> </li>
                            }

                            @if (PermissionManager.IsTabPermit("Masters"))
                            {
                                <li>
                                    <a href="#">  <span>Masters</span> <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        @if (PermissionManager.IsViewPermit("Support Type Master"))
                                        {
                                            <li><a href="/SupportType">Support Type Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("News Master"))
                                        {
                                            <li><a href="/News">News Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Bank Master"))
                                        {
                                            <li><a href="/Bank">Bank Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Supplier Master"))
                                        {
                                            <li><a href="/SupplierMasterList">Vendor Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Unit Master"))
                                        {
                                            <li><a href="/Unit">Unit Master</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Product Type"))
                                        {
                                            <li><a href="/ProductType">Product Type Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Product Master"))
                                        {
                                            <li><a href="/ProductMasterList">Product Master</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Package Master"))
                                        {
                                            <li><a href="/PackageMasterList">Package Master</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Change WebSite Popup"))
                                        {
                                            <li><a href="/Admin-ChangePopup">Change Website Pop-up</a></li>
                                        }

                                        @*@if (PermissionManager.IsViewPermit("Reward Detail"))
        {
            <li><a href="/Admin-RewardDetail">Reward Details Master</a></li>
        }

        @if (PermissionManager.IsViewPermit("Bonanza Detail"))
        {
            <li><a href="/Admin-BonanzaDetail">Bonanza Details Master</a></li>
        }*@






                                        @*<li><a href="/Admin/AgricultureMaster/AddMaster">Agriculture Master</a></li>*@


                                        @*@if (PermissionManager.IsViewPermit("Offer Date Master"))
        {
            <li><a href="/GetOfferDateMaster">Offer Date Master</a></li>
        }*@
                                        @if (PermissionManager.IsViewPermit("Role Master"))
                                        {
                                            <li><a href="/Role-Master-List">Role Master</a></li>
                                        }
                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                User Master
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">
                                                @if (PermissionManager.IsViewPermit("Employees"))
                                                {
                                                    <li><a href="/Admin-Employees">Employees</a></li>
                                                }

                                                @if (PermissionManager.IsViewPermit("Role Permission"))
                                                {
                                                    <li><a href="/Role-Permission-List">Role Permission</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Set Permission"))
                                                {
                                                    <li><a href="/Set-Permission-List">Set Permission</a></li>
                                                }
                                            </ul>
                                        </li>
                                        @* <li>
                                    <a href="javascript: void(0);" aria-expanded="false">Users<span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">










                                       @if (PermissionManager.IsViewPermit("Employee Registration"))
        {
            <li><a href="/Employee-Registration">Add Employees</a></li>
        }*@
                                        @*@if (PermissionManager.IsViewPermit("Role Master"))
        {
            <li><a href="/Role-Master-List">Role Master</a></li>
        }*@
                                        @*@if (PermissionManager.IsViewPermit("Form Type"))
        {
            <li><a href="/Form-Type-List">Form Type</a></li>
        }
        @if (PermissionManager.IsViewPermit("Form Master"))
        {
            <li><a href="/Form-Master-List">Form Master</a></li>
        }
                                    </ul>
                                        </li>*@

                                    </ul>
                                </li>
                            }
                            @if (PermissionManager.IsTabPermit("Direct Sellers"))
                            {
                                <li>
                                    <a href="#">  <span>Direct Sellers</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        @if (PermissionManager.IsViewPermit("Direct Seller Ragistration"))
                                        {
                                            <li><a href="/Admin_Ragistration">Direct Seller Ragistration</a></li>
                                        }  @if (PermissionManager.IsViewPermit("Direct Seller List"))
                                        {
                                            <li><a href="/DirectSellers">Direct Sellers List</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Direct"))
                                        {
                                            <li><a href="/Direct">Direct Report </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("User Downline Report"))
                                        {
                                            <li><a href="/Admin-DownlineReport">Downline Report</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Tree"))
                                        {
                                            <li><a href="/Associate-Tree">Genology Tree</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Block/Unblock Direct Seller"))
                                        {
                                            <li><a href="/BlockUnblockDetails">Block/Unblock Direct Seller</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Change Direct Seller Sponsor"))
                                        {
                                            <li> <a href="/Admin-Change-Member-Sponsor">Change Direct Seller's Sponsor</a> </li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Change Profile"))
                                        {
                                            <li>
                                                <a href="/Admin-Change-Profile-List">
                                                    <span class="sub-item">Change Profile </span>
                                                </a>
                                            </li>
                                        }

                                        @*@if (PermissionManager.IsViewPermit("KYC Approval"))
                                                {
                                                    <li> <a href="/KYCSection">KYC Approval</a> </li>
                                            }*@

                                        @if (PermissionManager.IsViewPermit("Verify KYC"))
                                        {
                                            <li> <a href="/VerifyKyc">Verify KYC</a> </li>
                                        }
                                        @*@if (PermissionManager.IsViewPermit("Advance Payment Details"))
                                            {
                                             <li><a href="/Advance-Payment">Advance Payment Details</a></li>
                                             }*@
                                        @*@if (PermissionManager.IsViewPermit("Notify Direct Sellers"))
                                            {
                                                <li> <a href="/Admin-NotifyMembers">Notify Direct Sellers</a> </li>

                                            }*@





                                        @*@if (PermissionManager.IsViewPermit("Downline"))
                                            {
                                                <li><a href="/Downline">Downline</a></li>
                                            }
                                            @if (PermissionManager.IsViewPermit("UpLine"))
                                            {
                                                <li><a href="/Upline">Upline</a></li>
                                            }*@
                                        @*<li> <a href="/Admin-TestimonialApproval">Approve Testimonial</a> </li>*@
                                    </ul>
                                </li>
                            }

                            @if (PermissionManager.IsTabPermit("Transactions"))
                            {
                                <li>
                                    <a href="#">  <span>Transactions</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        @if (PermissionManager.IsViewPermit("All Transaction Log"))
                                        {
                                            <li><a href="/AllTransactionLog">All Transactions Log</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Topup"))
                                        {
                                            <li> <a href="/Admin-Topup">Topup</a> </li>
                                        }
                                        @*@if (PermissionManager.IsViewPermit("Recharge/Bill Payment"))
                                            {

                                                <li><a href="/RechargeBillPaymentReport">Recharge/Bill Payment</a></li>
                                            }*@
                                        @*@if (PermissionManager.IsViewPermit("Razor Pay Payment Details"))
                                            {
                                                <li class="hide"><a href="/RazorPaymentSearch">RazorPay Payment</a></li>
                                            }*@

                                        @*@if (PermissionManager.IsViewPermit("Affiliate Shopping"))
                                            {
                                                <li><a href="/OtherShopping">Affiliate Shopping</a></li>
                                            }*@
                                        @*@if (PermissionManager.IsViewPermit("Other Shopping"))
                                            {
                                                <li><a href="/OrderReport">Other Shopping</a></li>
                                            }*@


                                        @*@if (PermissionManager.IsViewPermit("All Wallet Details"))
                                                 {
                                               <li><a href="/Allwalletdetails">All Wallet Details</a></li>
                                                       }
                                               @if (PermissionManager.IsViewPermit("Wallet Request Approval"))
                                                   {
                                            <li><a href="/WalletRequest">Wallet Request Approval</a></li>
                                               }
                                            @if (PermissionManager.IsViewPermit("Wallet Detail Ledger"))
                                                  {
                                            <li><a href="/WalletDetails">Wallet Detail Ledger</a></li>
                                                   }
                                            @if (PermissionManager.IsViewPermit("Refund Wallet Amount"))
                                                   {
                                            <li> <a href="/Admin-RefundAmount">Refund Wallet Amount</a> </li>
                                                }*@
                                        @*@if (PermissionManager.IsViewPermit("Block/Unblock Direct Seller"))
                                            {
                                                <li><a href="/BlockUnblockDetails">Block/Unblock Direct Seller</a></li>
                                            }

                                            @if (PermissionManager.IsViewPermit("Change Direct Seller Sponsor"))
                                            {
                                                <li> <a href="/Admin-Change-Member-Sponsor">Change Direct Seller Sponsor</a> </li>
                                            }
                                            @if (PermissionManager.IsViewPermit("Change Profile"))
                                            {
                                                <li>
                                                    <a href="/Admin-Change-Profile-List">
                                                        <span class="sub-item">Change Profile </span>
                                                    </a>
                                                </li>
                                            }

                                            @if (PermissionManager.IsViewPermit("KYC Approval"))
                                                    {
                                                        <li> <a href="/KYCSection">KYC Approval</a> </li>
                                                }

                                            @if (PermissionManager.IsViewPermit("Verify KYC"))
                                            {
                                                <li> <a href="/VerifyKyc">Verify KYC</a> </li>
                                            }
                                            @if (PermissionManager.IsViewPermit("Advance Payment Details"))
                                                {
                                                 <li><a href="/Advance-Payment">Advance Payment Details</a></li>
                                                 }
                                            @if (PermissionManager.IsViewPermit("Notify Direct Sellers"))
                                            {
                                                <li> <a href="/Admin-NotifyMembers">Notify Direct Sellers</a> </li>

                                            }*@


                                        @*@if (PermissionManager.IsViewPermit("Product GST Report"))
                                            {
                                                <li><a href="/ProductGSTReport">Product GST Report</a></li>
                                            }*@

                                    </ul>
                                </li>
                            }
                            @if (PermissionManager.IsTabPermit("Accounts"))
                            {
                                @*<i class="fa fa-credit-card"></i>*@
                                <li>
                                    <a href="#">  <span>Accounts</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">


                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                Open Order
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">
                                                @if (PermissionManager.IsViewPermit("Open Order"))
                                                {
                                                    <li><a href="/Admin/Admin/OpenOrderByAdmin">Open Order</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Open Order List"))
                                                {
                                                    <li><a href="/Admin/Admin/OpenOrderList">Open Order List</a></li>
                                                }
                                            </ul>
                                        </li>






                                        @if (PermissionManager.IsViewPermit("Cancel Invoice Report"))
                                        {
                                            <li><a href="/CancelInvoicRequest">Cancel Invoice Report</a></li>
                                        }
                                        
                                       



                                    </ul>
                                </li>
                            }


                            @if (PermissionManager.IsTabPermit("Report"))
                            {
                                <li>
                                    <a href="#">  <span>Report</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">



                                        @if (PermissionManager.IsViewPermit("Downline Payout Report"))
                                        {
                                            <li><a href="/Downline-Payout-Report">Downline Payout Report</a></li>
                                        }



                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                Business Report
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">


                                                @if (PermissionManager.IsViewPermit("Business Statistics Report"))
                                                {
                                                    <li><a href="/BusinessStatistics">Business Statistics</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("DS Direct Business Report"))
                                                {
                                                    <li><a href="/Direct_Seller_Direct_Business">Direct Seller's Direct Business</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("DS Repurchase Business Report"))
                                                {
                                                    <li><a href="/Admin-AssociateRepurchaseBusiness">Direct Seller's Repurchase Business</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Package Sales Report"))
                                                {
                                                    <li><a href="/PackageSaleReport">Package Sales Report</a></li>
                                                }

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                Payout
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">


                                                @if (PermissionManager.IsViewPermit("Payout Income Report"))
                                                {
                                                    <li><a href="/Admin-PayoutreportIncome">Payout Income Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Pending Payout Report"))
                                                {
                                                    <li><a href="/Admin-PendingPayoutReport">Pending Payout Report</a></li>
                                                }


                                                @if (PermissionManager.IsViewPermit("Payout Report For Bank"))
                                                {
                                                    <li><a href="/Payout-Report-For-Bank">Payout Report For Bank</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Update Payout Payment"))
                                                {
                                                    <li><a href="/Update-Payout-Payment">Update Payout Payment</a></li>
                                                }

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                Repurchase
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">
                                                @if (PermissionManager.IsViewPermit("Repurchase Payout Income Report"))
                                                {
                                                    <li><a href="/Admin-RepurchasePayoutreportIncome">Repurchase Payout Income Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Repurchase Pending Payout Report"))
                                                {
                                                    <li><a href="/Admin-RepurchaseUnPaidPayoutreport">Repurchase Pending Payout Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Repurchase Payout Report For Bank"))
                                                {
                                                    <li><a href="/Repurchase_Payout-Report-For-Bank">Repurchase Payout Report For Bank</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Repurchase Update Payout Payment"))
                                                {
                                                    <li><a href="/Repurchase-Update-Payout-Payment">Repurchase Update Payout Payment</a></li>
                                                }

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                GST
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">


                                                @if (PermissionManager.IsViewPermit("GST Report"))
                                                {
                                                    <li><a href="/GSTReport">GST Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Invoice GST Report"))
                                                {
                                                    <li><a href="/InvoiceGSTReport">Invoice GST Report</a></li>
                                                }

                                                @if (PermissionManager.IsViewPermit("Consolidated GST Report"))
                                                {
                                                    <li><a href="/ConsolidatedGSTReport">Consolidated GST Report</a></li>
                                                }

                                                @if (PermissionManager.IsViewPermit("HSNCode GST Report"))
                                                {
                                                    <li><a href="/StatewiseGSTReport">HSN Code GST Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Product GST Report"))
                                                {
                                                    <li><a href="/ProductGSTReport">Product GST Report</a></li>
                                                }

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                TDS
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">


                                                @if (PermissionManager.IsViewPermit("TDS Report"))
                                                {
                                                    <li><a href="/TDS-Report">TDS Report</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("PAN TDS Report"))
                                                {
                                                    <li><a href="/PanTDS-Report">PAN TDS Report</a></li>
                                                }

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript: void(0);" aria-expanded="false">
                                                Rewards
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="nav-third-level" aria-expanded="false">
                                                @if (PermissionManager.IsViewPermit("Monthly Bonanza Reward"))
                                                {
                                                    <li><a href="/Monthly-Bonanza-Reward">Monthly Bonanza Reward</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Life Time Reward"))
                                                {
                                                    <li><a href="/LifeTimeReward">Lifetime Reward</a></li>
                                                }
                                                @*@if (PermissionManager.IsViewPermit("Premium Club Direct Seller"))
                {
                    <li><a href="/PremiumClubMember">Premium Club Direct Seller</a></li>
                }*@
                                                @if (PermissionManager.IsViewPermit("Premium Club Qualifier"))
                                                {
                                                    <li><a href="/PremiumClubQualifier">Premium Club Qualifier</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Direct Seller Recognition"))
                                                {
                                                    <li><a href="/Admin/AdminReport/GetMembersRecognition">Direct Seller's Recognition</a></li>
                                                }
                                            </ul>
                                        </li>





                                        @if (PermissionManager.IsViewPermit("Shopping Order Details"))
                                        {
                                            <li><a href="/ShoppingOrderDetails"> Shopping Order Details</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Refund Amount"))
                                        {
                                            <li><a href="/Admin-RefundAmount">Refund Amount</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Package Way Activation"))
                                        {
                                            <li><a href="/PackageWayActivation">Package Wise Activation</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Repurchase Tally GST Report"))
                                        {
                                            <li><a href="/Admin-TallyGSTReport">Repurchase Tally GST Report</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Activation Tally GST Report"))
                                        {
                                            <li><a href="/Admin-ActivationTallyGSTReport">Activation Tally GST Report</a></li>
                                        }
                                    </ul>

                                </li>
                            }


                            @if (PermissionManager.IsTabPermit("Manage Stock"))
                            {
                                <li>
                                    <a href="#"> <span>Manage Stock</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">

                                        @if (PermissionManager.IsViewPermit("Generate Purchase Order"))
                                        {
                                            <li><a href="/Generate-Purchase-Order">Generate Purchase Order</a></li>
                                        }


                                        @if (PermissionManager.IsViewPermit("Purchase Order Details"))
                                        {
                                            <li><a href="/PurchaseOrderDetails">Purchase Order Details</a></li>
                                        }
                                        @*@if (PermissionManager.IsViewPermit("Purchase Order List"))
                                            {
                                                <li><a href="/PurchasrOrderList">Purchase Order List</a></li>
                                            }*@

                                        @*@if (PermissionManager.IsViewPermit("Stock Report"))
                                            {
                                                <li><a href="/Stock-Report">Stock Report</a></li>
                                            }*@
                                        @*@if (PermissionManager.IsViewPermit("Manage Stock"))
                                            {
                                                <li><a href="/Manage-Stock">Manage Stock</a></li>
                                            }*@



                                        @*@if (PermissionManager.IsViewPermit("Member Orders"))
                                            {
                                                <li><a href="/OrderedDetails">Member Orders</a></li>
                                            }*@
                                        @*@if (PermissionManager.IsViewPermit("Create Order"))
                                            {
                                                <li><a href="/CustomerDetail">Create Order</a></li>
                                            }*@
                                        @*@if (PermissionManager.IsViewPermit("Upgrade Package"))
                                            {
                                                <li><a href="/Admin-PackageUpgrade">Upgrade Package</a></li>
                                            }*@
                                        @if (PermissionManager.IsViewPermit("Ordered List"))
                                        {
                                            <li><a href="/Admin-OrderList">Ordered List</a></li>
                                        }

                                        @if (PermissionManager.IsViewPermit("Product Stock Report"))
                                        {
                                            <li><a href="/ProductStockReport">Product Stock Report</a></li>
                                        }



                                    </ul>
                                </li>
                            }
                            @if (PermissionManager.IsTabPermit("Franchises"))
                            {
                                <li>
                                    <a href="#">  <span>Franchisee</span>  <span class="menu-arrow"></span> </a>
                                    <ul class="nav-second-level" aria-expanded="false">
                                        @if (PermissionManager.IsViewPermit("Franchisee Request"))
                                        {
                                            <li><a href="/Franchise-Approval">Franchisee Request</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisees"))
                                        {
                                            <li><a href="/Franchise-Master-List">Franchisees</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Order Request"))
                                        {
                                            <li><a href="/View-New-Request">Order Request </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("E-Wallet Request"))
                                        {
                                            <li><a href="/GetFranchise-E-WalletReq">E-Wallet Request </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Activated Direct Seller"))
                                        {
                                            <li><a href="/ActiveMemberFranchise">Franchisee Activation Details </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Customer Orders"))
                                        {
                                            <li><a href="/CustomerOrder">Repurchase Details  </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Business"))
                                        {
                                            <li><a href="/FranchiseBusiness">Franchisee Business </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Sales Report"))
                                        {
                                            <li><a href="/FranchiseSales">Franchisee Sales Report </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Wallet Ledger"))
                                        {
                                            <li><a href="/Franchise-Wallet-Ledger">Franchisee Wallet Ledger </a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Stock Report"))
                                        {
                                            <li><a href="/FranchiseStock">Franchisee Stock Report</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Payout Report"))
                                        {
                                            <li><a href="/Franchise-Payout-Report">Franchisee Payout Report</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Payout Published Report"))
                                        {
                                            <li><a href="/Franchise-Payout-Published-Report">Franchisee Payout Published Report</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Pay Payout Report"))
                                        {
                                            <li><a href="/Pay-Payout-Report">Franchisee Unpaid Payout Report</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Verify Franchisee KYC"))
                                        {
                                            <li><a href="/VerifyFranchiseeKYC">Verify Franchisee KYC</a></li>
                                        }
                                        @if (PermissionManager.IsViewPermit("Franchisee Stock Return"))
                                        {
                                            <li><a href="/FranchiseeStockReturn">Franchisee Stock Return</a></li>
                                        }

                                    </ul>
                                </li>
                            }
                            @*@if (PermissionManager.IsTabPermit("Business Report"))
                                {
                                    <li>
                                        <a href="#"> <i class="fa fa-credit-card"></i> <span>Business Report</span>  <span class="menu-arrow"></span> </a>
                                        <ul class="nav-second-level" aria-expanded="false">
                                            @if (PermissionManager.IsViewPermit("Business Summary"))
                                            {
                                                <li><a href="#">Business Summary</a></li>
                                            }
                                        </ul>
                                    </li>
                                }*@

                            @*@if (PermissionManager.IsTabPermit("Users"))
                                {
                                    <li>
                                        <a href="#">  <span>Users</span>  <span class="menu-arrow"></span> </a>
                                        <ul class="nav-second-level" aria-expanded="false">


                                            @if (PermissionManager.IsViewPermit("Employee Registration"))
                                            {
                                                <li><a href="/Employee-Registration">Add Employees</a></li>
                                            }

                                            @if (PermissionManager.IsViewPermit("Employees"))
                                            {
                                                <li><a href="/Admin-Employees">Employees</a></li>
                                            }

                                            @if (PermissionManager.IsViewPermit("Role Master"))
                                            {
                                                <li><a href="/Role-Master-List">Role Master</a></li>
                                            }
                                            @if (PermissionManager.IsViewPermit("Form Type"))
                                                {
                                                    <li><a href="/Form-Type-List">Form Type</a></li>
                                                }
                                                @if (PermissionManager.IsViewPermit("Form Master"))
                                                {
                                                    <li><a href="/Form-Master-List">Form Master</a></li>
                                                }
                                            @if (PermissionManager.IsViewPermit("Role Permission"))
                                            {
                                                <li><a href="/Role-Permission-List">Role Permission</a></li>
                                            }
                                            @if (PermissionManager.IsViewPermit("Set Permission"))
                                            {
                                                <li><a href="/Set-Permission-List">Set Permission</a></li>
                                            }
                                        </ul>
                                    </li>
                                }*@
                            @if (PermissionManager.IsTabPermit("Permission Master"))
                            {
                                <li>
                                    <a href="/Admin-SupportRequest">  <span>Support</span>   </a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        <div class="content-page">
            <div class="content">
                <div id="CustomMessages"></div>
                @RenderBody()
            </div>
        </div>
        @*Footer Start*@
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">@DateTime.Now.Year &copy;  LifeOne. All Rights Reserved. </div>
                </div>
            </div>
        </footer>
        @*end Footer*@
    </div>
    <input type="hidden" id="TimeOut" value="@timeout" />
    <div class="modal fade" id="SessionModalExpireModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inactive Session Warning</h4>
                </div>
                <div class="modal-body SessionNotifaction" style=" padding: 3%;">
                    <p>Your session will expire in <b><strong id="SessionModalExpire"></strong> </b> minutes due to inactivity.</p>
                    <p>Please click continue to extend the session or log out.</p>
                </div>
                <div class="modal-footer session-footer-btn">
                    <button onclick="window.location.reload();" type="button" class="btn btn-success btn-sm">Continue</button>
                    <button onClick="window.location.href='/Admin'" type="button" class="btn btn-secondary btn-sm">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery 2.1.4 -->

    <script src="~/Content/dist/js/CommonJS.js?1.0"></script>

    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/plugins/chartjs/Chart.min.js"></script>
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>

    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="~/Scripts/PDF/dist/tableExport.js"></script>
    <script src="~/Scripts/PDF/dist/base64.js"></script>
    <script src="~/Scripts/PDF/dist/html2canvas.js"></script>
    <script src="~/Scripts/PDF/dist/jquery.base64.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.debug.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.min.js"></script>
    <script src="~/Scripts/PDF/dist/sprintf.js"></script>
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Vendor js -->
    <script src="~/Content/admin-assets/js/vendor.min.js"></script>
    <!-- optional plugins -->
    <script src="~/Content/admin-assets/libs/moment/moment.min.js"></script>
    <script src="~/Content/admin-assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/admin-assets/libs/flatpickr/flatpickr.min.js"></script>
    <!-- page js -->
    <script src="~/Content/admin-assets/js/pages/dashboard.init.js"></script>
    <!-- App js -->
    <script src="~/Content/admin-assets/js/app.min.js"></script>
    @*<script src="~/Content/dist/js/Table_No_Data.js?1.0"></script>*@
    <script>
        $(document).ready(function () {

            $("#advance-search").slideToggle("slow");

            $(".breadcrumb").hide();
            //$(".advance-search").click(function () {
            //   // $("#advance-search").slideToggle("slow");
            //});

        });
        /*------- Preloader JS Start ------*/
        $(window).on("load", function () {
            $("#preloader").fadeOut();
            $("#loader-area").fadeOut(9000);
        })
        /*------- Preloader JS End ------*/
        var referrer;
        $(document).ready(function () {
            referrer = document.referrer;
        });
        function BackPage() {
            location.href = referrer
        }
        function reLoadPage() {
            window.location.reload();
        }




    </script>
    @RenderSection("BODY", false)



</body>
</html>
