@using LifeOne.Models.Manager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>LifeOne Web User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/NewAssests/img/Lifeone logo Favicon.png">
    <!-- plugins -->
    <link href="~/Content/Associate/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Associate/assets/libs/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- App css -->
    <link href="~/Content/Associate/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Associate/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Associate/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dist/css/sweetalert.css" rel="stylesheet" />
    <style>
        #preloader {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -30px 0 0 -30px;
        }

        #loader-area {
            position: fixed;
            z-index: 999999;
            top: 0;
            background-image: url('../../Content/assests/images/prettyPhoto/dark_rounded/loader.gif');
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            background: #fff;
            background-repeat: no-repeat;
            background-position: center;
        }

        .img-part {
            position: relative;
        }

        span.recognition {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 10px;
            right: -10px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 999;
            line-height: 12px;
            padding: 5px;
            display: block;
            background: #fff;
            animation: mirrorflip 2s 0s linear infinite;
        }

        .gold {
            width: 100%;
            text-align: center;
            display: inline-block;
            padding: 4px;
            background: #ffbe0b;
            border-radius: 18px;
            line-height: 1;
            margin: 0 auto;
        }

        @@keyframes mirrorflip {
            0% {
                transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                -moz-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
            }

            50% {
                transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -moz-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
            }

            100% {
                transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                -moz-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
            }
        }
    </style>
    <style>
        .hide {
            display: none;
        }

        .table-responsive {
            overflow-y: auto;
            height: 502px;
        }

        }

        table {
            overflow-y: auto;
            height: 0vh; /* !!!  HEIGHT MUST BE IN [ vh ] !!! */
        }

        thead th {
            position: sticky;
            top: 0;
        }
    </style>
    <script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Content/Associate/assets/js/vendor.min.js"></script>
    <script src="~/Content/Associate/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/Content/Associate/assets/libs/moment/moment.min.js"></script>
    <script src="~/Content/Associate/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/Scripts/SessionTimerLayOut.js"></script>


    @{
        var conf = System.Web.Configuration.WebConfigurationManager.OpenWebConfiguration(System.Web.Hosting.HostingEnvironment.ApplicationVirtualPath);
        var section = (System.Web.Configuration.SessionStateSection)conf.GetSection("system.web/sessionState");
        string timeout = (section.Timeout.TotalMinutes - 5).ToString();
    }

</head>
<body>
    <div id="wrapper">
        <!-- preloader start -->
        <div id="preloader">
            <div id="loader-area">&nbsp;</div>
        </div>
        <!-- preloader end -->
        <!-- Topbar Start -->
        <div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
            <div class="container-fluid">
                <!-- LOGO --> 
                <a href="/Associate-Dashboard" class="navbar-brand mr-0 mr-md-2 logo" style=""> 
                <span class="logo-lg"> <img width="195"src="~/Content/WebsiteCss/assets/images/others/lifeonelogo.jpg" alt="LifeOne" /> 
                    </span>
                <span class="logo-sm">
                    <img src="http://lifeonewellness.com/home-assets/images/lifeonelogosm.png" alt="" height="48" 
                        > </span> </a>
                <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
                    <li class="">
                        <button class="button-menu-mobile open-left disable-btn"> <i data-feather="menu" class="menu-icon"></i> <i data-feather="x" class="close-icon"></i> </button>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
                    <li class="d-none d-sm-block">
                        <div class="app-search">
                            <form>
                                <div class="input-group">
                                    @*<input type="text" class="form-control" placeholder="Search...">
                                        <span data-feather="search"></span>*@
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown notification-list align-self-center profile-dropdown">
                        <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <div class="d-flex align-items-center user-profile ">
                                <div class="media-body text-left">
                                    <h6 class="pro-user-name d-block ml-2 my-0">
                                        <span>@SessionManager.Name</span> <span class="pro-user-desc  d-block mt-0">

                                           
                                        </span>
                                    </h6>
                                </div>
                                


                                <span data-feather="chevron-down" class="ml-2 align-self-center"></span>
                            </div>
                        </a>
                        <div class="dropdown-menu profile-dropdown-items dropdown-menu-right">
                            <a href="/View-Profile" class="dropdown-item notify-item"> <i data-feather="user" class="icon-dual icon-xs mr-2"></i> <span>My Account</span> </a>
                            <a href="/Change-Password" class="dropdown-item notify-item"> <i data-feather="file-text" class="icon-dual icon-xs mr-2"></i> <span>Change Password</span> </a>
                            <a href="/Associate-Support" class="dropdown-item notify-item"> <i data-feather="help-circle" class="icon-dual icon-xs mr-2"></i> <span>Support</span> </a>
                            @*<a href="/Change-ProfilePicture" class="dropdown-item notify-item"> <span>Change Profile Picture</span> </a>*@
                            <div class="dropdown-divider"></div>
                            <a href="/Home/Logout" class="dropdown-item notify-item"> <i data-feather="log-out" class="icon-dual icon-xs mr-2"></i> <span>Logout</span> </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left-side-menu">
            <div class="sidebar-content">
                <!--- Sidemenu -->
                <div id="sidebar-menu" class="slimscroll-menu">
                    <ul class="metismenu" id="menu-bar">

                        <li> <a href="/Associate-Dashboard"> <i class="fa fa-dashboard"></i><span> Dashboard </span> </a> </li>
                        <li>  <a href="/Home/Index"> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Back To Shop</span></a></li>
                        <li>
                            <a href="javascript: void(0);"> <i class="fa fa-user"></i> <span> My Account </span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/Welcome-letter">Welcome Letter</a></li>
                                <li><a href="/View-Profile">View Profile</a></li>
                                <li><a href="/Associate-Registration">Distributor Registration</a></li>
                                <li><a href="/Change-Password">Change Password</a></li>
                                <li><a href="/View-IdCard" target="_blank">Print Id Card</a></li>
                                <li><a href="/TopupbyAssociate">Topup </a></li>

                                @*<li><a href="/User/ChangeTransactionPassword">Change Trans. Password</a></li>*@
                                @*<li><a href="/RequestDetail-Associate">Request Details</a></li>*@
                            </ul>
                        </li>
                        <li> <a href="/KYC"> <i class="fa fa-file"></i><span> KYC </span> </a> </li>
                        @*<li> <a href="https://shop.lifeonewellness.com/" target="_blank"><i class="fa fa-shopping-cart"></i><span>Shopping </span> </a> </li>*@
                        @*<li> <a href="@Url.Action("Comingsoon","AssociateDashboard")"> <i class="fa fa-shopping-basket"></i><span>Online Shopping </span><label class="badge badge-danger">New</label> </a> </li>*@
                        <li>
                            <a href="javascript: void(0);"> <i class="fa fa-sitemap"></i><span>My Team</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                @*<li><a href="/Associate/AssociateViewProfile/DirectMembers">Direct Downline</a></li>*@
                                <li><a href="/Associate/Tree/GeneologyTree">Tree View</a></li>
                                <li><a href="/My-Direct">My Direct</a></li>
                                <li><a href="/My-Downline">All Downline</a></li>
                                @*<li><a href="/Associate/AssociateViewProfile/Downline">All Downline</a> </li>*@
                                <li><a href="/My-Downline?Leg=L">Left Downline</a> </li>
                                <li><a href="/My-Downline?Leg=R">Right Downline</a> </li>
                                <li><a href="/Distributor-Details">Distributor</a> </li>
                                @*<li><a href="#-">DownLine Tree</a></li>
                <li><a href="#-">Downline Support</a> </li>*@



                                @*<li><a href="/Associate/AssociateTeam/DownlineDocumentVerification">Document Verification</a></li>*@
                                @*<li><a href="/Associate/AssociateViewProfile/LevelTree">Level Tree</a> </li>*@
                            </ul>
                        </li>

                        <li>
                            @*<li> <a href="/Associate-PackagePurchaseHistory"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>My Order History </span> </a> </li>*@

                            <!--<ul class="nav-second-level" aria-expanded="false">-->
                            @*<li><a href="/Update-Package">Buy Package</a></li>*@
                            <!--<li><a href="/Associate-PackagePurchaseHistory">My Order History</a></li>
        </ul>-->
                            @*</li>*@
                        <li>
                            <a href="javascript: void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>My Business</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">

                                <li><a href="/BusinessSummary">Business Summary</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>My Order</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">

                                <li><a href="/Associate-PackagePurchaseHistory">My Order History</a></li>
                                <li><a href="/MyPackage">My Package</a></li>
                                @*<li><a href="/Associate-Utility">Utility Shopping</a></li>*@
                                <li><a href="/Associate-Order-Details">Shopping Orders</a></li>
                            </ul>
                        </li>

                        <!--<li>
        <a href="javascript: void(0);"><i class="fa fa-inr"></i> <span>Loyalty Income</span> <span class="menu-arrow"></span> </a>
        <ul class="nav-second-level" aria-expanded="false">-->
                        @*<li><a href="#-">Payout Summary</a></li>*@
                        <!--<li><a href="/Payout-Report">Payout Report</a></li>-->
                        @*<li><a href="/Payout-Leadger">Payout Ledger</a></li>*@
                        @*<li><a href="/Associate-PayoutIncomeDetails?PlanName=1">Direct Bonus</a></li>
        <li><a href="/Associate-PayoutIncomeDetails?PlanName=2">Matching Bonus</a></li>*@
                        <!--<li><a href="/Associate_MatchingBonus">Matching Bonus</a></li>
    <li><a href="/Associate_PerformanceBonus">Performance Bonus</a></li>

    <li><a href="/Associate-PayoutIncomeDetails?PlanName=3">Leadership Bonus</a></li>
    <li><a href="/Monthly-Bonanza">Monthly Bonanza</a></li>
    <li><a href="/Associate_Rewardlist">Rewards</a></li>
    <li><a href="/Associate_PinRecognition">Pin Recognition</a></li>-->
                        @*<li><a href="/Associate-IncomeDetails?PlanId=4">Sponsor Royalty</a></li>*@
                        @*<li><a href="/Associate-Rewards">Rewards</a></li>*@
                        @*<li><a href="/Associate-Bonanza">Bonanza</a></li>*@

                        <!--</ul>
    </li>-->

                        <li>
                            <a href="javascript: void(0);"><i class="fa fa-inr"></i> <span>My Earning</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">

                                <li><a href="/Payout-Report">Payout Report</a></li>
                                <li><a href="/Associate-Rewards">Rewards</a></li>
                                @*<li><a href="/Associate_Rewardlist">Rewards</a></li>*@
                                @*<li><a href="/Associate_RewardsandRecogination">Rewards and Recognition</a></li>*@
                                <li><a href="/Associate_PinRecognition">Pin Recognition</a></li>
                                <li><a href="/Associate_MatchingBonus">Matching Bonus</a></li>
                                @*<li><a href="/Associate_PerformanceBonus">Performance Bonus</a></li>*@


                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);"><i class="fa fa-inr"></i> <span>Wallet</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/EWallet_Request">EWallet Request</a></li>
                                <li><a href="/EWalletList">EWallet List</a></li>
                            </ul>
                        </li>
                        @*<li>
            <a href="javascript: void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Reward</span> <span class="menu-arrow"></span> </a>
            <ul class="nav-second-level" aria-expanded="false">

                <li><a href="/Associate-Rewards">Rewards</a></li>

            </ul>
        </li>*@

                        <li>
                            <a href="javascript: void(0);"><i class="fa fa-inr"></i> <span>Repurchase Income</span> <span class="menu-arrow"></span> </a>
                            <ul class="nav-second-level" aria-expanded="false">

                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=HMB">Matching Bonus</a></li>
                                @*<li><a href="/Associate-RepurchaseBonusIncome?PlanName=CarFund">Car Fund</a></li>
                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=HouseFund">House Fund</a></li>
                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=DirectorClub">Director Club</a></li>
                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=ChairmanClub">Chairman Club</a></li>
                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=LAR">LAR (Lifetime Achievement Royalty)</a></li>
                                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=YearlyBonus">Yearly Bonus</a></li>*@
                                @*<li><a href="/Associate-Rewards">Rewards</a></li>*@
                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=HouseFund">House Fund</a></li>
                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=DirectorClub">Director Club</a></li>
                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=ChairmanClub">Chairman Club</a></li>
                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=LAR">LAR (Lifetime Achievement Royalty)</a></li>
                <li><a href="/Associate-RepurchaseBonusIncome?PlanName=YearlyBonus">Yearly Bonus</a></li>
                                <li><a href="/Associate-Rewards">Rewards</a></li>
                                <li><a href="/Associate/AssociateReport/GetRecognition">Recognition</a></li>

                                @*<li><a href="javascript:void(0);">Rewards</a></li>*@
                            </ul>
                        </li>
                        <!--<li>
    <a href="javascript: void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Shopping</span> <span class="menu-arrow"></span> </a>
    <ul class="nav-second-level" aria-expanded="false">-->
                        @*<li><a href="/Associate-Products">Products</a></li>
        <li><a href="/Associate-CartList">Cart List</a></li>*@
                        <!--<li>  <a href="/Home/Products?id=@AesEncryption.Crypto.Encryption("LifeWellAP1234@Z", "1")">Back To Shop</a></li>


        </ul>
    </li>-->
                        @if (@SessionManager.PerformanceLevelId == "14" || @SessionManager.PerformanceLevelId == "15")
                        {
                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-briefcase"></i> <span>Premimum Club</span> <span class="menu-arrow"></span> </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/premimum-club-member">Premimum Club Member</a></li>
                                    <li><a href="/premimum-club-qualifier">Premimum Club Qualifier</a></li>
                                </ul>
                            </li>
                        }

                        @*<li>
            <a href="javascript: void(0);"><i class="fa fa-briefcase"></i> <span>Business</span> <span class="menu-arrow"></span> </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/Business-Summary">Business Summary</a></li>
            </ul>
        </li>*@
                        @*<li>
            <a href="javascript: void(0);"><i class="fa fa-map"></i> <span>Store</span> <span class="menu-arrow"></span> </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/Order-Product">Add Order</a></li>
                <li><a href="/Track-Purchase-Stock">Ordered Status</a></li>
            </ul>
        </li>*@


                        @*<li>
            <a href="javascript: void(0);"><i class="fa fa-map"></i> <span>Advance Payment</span> <span class="menu-arrow"></span> </a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/Associate-Advance-Payment">Advance Payment </a></li>

            </ul>
        </li>*@

                        @*<li><a href="/Associate-Advance-Payment"><i class="fa fa-inr"></i><span>Advance Payment </span> </a> </li>*@
                        <li><a href="/Associate-Support"><i class="fa fa-support"></i><span>Support </span> </a> </li>
                        <li><a href="/Home/Logout"><i data-feather="log-out"></i><span>Logout</span> </a> </li>
                    </ul>
                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->

        </div>


        <!-- App js -->
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div id="CustomMessages"></div>

            @RenderBody()
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">@DateTime.Now.Year &copy; LifeOne. All Rights Reserved. </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>
    </div>
    <input type="hidden" id="TimeOut" value="@timeout" />
    <div class="modal fade" id="SessionModalExpireModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inactive Session Warning</h4>
                </div>
                <div class="modal-body SessionNotifaction" style=" padding: 3%;">
                    <p>Your session will expire in <b><strong id="SessionModalExpire"></strong> </b> minutes due to inactivity.</p>
                    <p>Please click continue to extend the session or log out.</p>
                </div>
                <div class="modal-footer session-footer-btn">
                    <button onclick="window.location.reload();" type="button" class="btn btn-success btn-sm">Continue</button>
                    <button onClick="window.location.href='/Home/LogOut'" type="button" class="btn btn-secondary btn-sm">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor js -->
    <!-- optional plugins -->
    <!-- page js -->

    <script src="~/Content/Associate/assets/libs/dropzone/dropzone.min.js"></script>
    <!-- App js -->
    <script src="~/Content/Associate/assets/js/app.min.js"></script>
    <script src="~/Content/dist/js/sweetalert.min.js"></script>

    <script src="~/Content/Associate/assets/js/pages/dashboard.init.js"></script>

    <script src="~/Content/dist/js/CommonJS.js?1.0"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="~/Scripts/PDF/dist/tableExport.js"></script>
    <script src="~/Scripts/PDF/dist/base64.js"></script>
    <script src="~/Scripts/PDF/dist/html2canvas.js"></script>
    <script src="~/Scripts/PDF/dist/jquery.base64.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.debug.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.js"></script>
    <script src="~/Scripts/PDF/dist/jspdf.min.js"></script>
    <script src="~/Scripts/PDF/dist/sprintf.js"></script>
    @if (Request.RawUrl != "/Order-Product")
    {
        <script src="~/Content/dist/js/Table_No_Data.js?1.0"></script>
    }
    @*<script src="~/Content/admin-assets/js/app.min.js"></script>*@


    <script>
        $(document).ready(function () {
            $(".advance-search").click(function () {
                $("#advance-search").slideToggle("slow");
            });
            $(".breadcrumb").hide();
        });
        /*------- Preloader JS Start ------*/
        $(window).on("load", function () {
            $("#preloader").fadeOut();
            $("#loader-area").fadeOut(9000);
        })
        var referrer;
        $(document).ready(function () {
            referrer = document.referrer;
        });
        function BackPage() {
            location.href = referrer
        }
        function reLoadPage() {
            window.location.reload();
        }                                         /*------- Preloader JS End ------*/
    </script>
    @RenderSection("BODY", false)

</body>
</html>
