@model LifeOne.Models.Products

@{
    decimal FinalAmount = 0;
    decimal TotalPV = 0;
    decimal singleBV = 0;
    var Quantity = "";

}

<!--Start-->

<div id="shoppingCart" data-bs-scroll="false" class="offcanvas offcanvas-end">
    <div class="offcanvas-header fs-4">
        <h4 class="offcanvas-title fw-semibold">Shopping Bag</h4>
        <button type="button" class="btn-close btn-close-bg-none" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="far fa-times"></i>
        </button>
    </div>

    <div class="offcanvas-body me-xl-auto pt-0 mb-2 mb-xl-0">
        <form action="ShoppingCartList" method="Get" enctype="multipart/form-data" class="table-responsive-md shopping-cart pb-8 pb-lg-10">
            <table class="table table-borderless">
                <thead>

                </thead>
                <tbody>
                    @if (Model != null && Model.LstMenu.Count > 0)
                    {
                        int Count = 0;
                        foreach (var item in Model.LstMenu)
                        {

                            int i = 0;
                            Quantity = "Quantity" + i;
                            FinalAmount = FinalAmount + decimal.Parse(item.SubTotal);
                            <tr class="position-relative">
                                <td class="align-middle text-center">
                                    <a href="/Home/DeleteShoppingCart?id=@item.Pk_Id" class="d-block clear-product">
                                        <i class="far fa-times"></i>
                                    </a>
                                </td>
                                <td class="shop-product">
                                    <div class="d-flex align-items-center">
                                        <div class="me-6">
                                            <img src="@item.ProductImage" width="60" height="80" alt="">
                                        </div>
                                        <div class>
                                            <p class="card-text mb-1">
                                                <span class="fs-13px fw-500 text-decoration-line-through pe-3">₹@item.MRP</span>
                                                <span class="fs-15px fw-bold text-body-emphasis"><span id="updateQunatity_@Count">@item.Quantity</span> x<span></span> ₹@item.SalesPrice</span>
                                            </p>
                                            <p class="fw-500 text-body-emphasis">@item.ProductName</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="input-group position-relative shop-quantity" min="1" onclick="return updateQty(@Count,'@item.Fk_ProductId')">
                                        <a href="#" class="shop-down position-absolute minus z-index-2"><i class="far fa-minus"></i></a>
                                        <input type="text" class="form-control input-box form-control-sm px-10 py-4 fs-6 text-center border-0" value="@item.Quantity" name="@Quantity" id="Quantity_@Count" min="1">
                                        <a href="#" class="shop-up position-absolute plus z-index-2">
                                            <i class="far fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            Count++;
                            <input type="hidden" name="Count" value="@Count" />
                        }
                        @Html.HiddenFor(M => M.Pk_ProductId)
                        @Html.HiddenFor(M => M.Qty)
                        <input type="submit" id="BtnSearch" name="Update" value="Update" hidden />
                    }
                </tbody>
            </table>

        </form>
    </div>   
        <div class="offcanvas-footer flex-wrap">
            <div class="d-flex align-items-center justify-content-between w-100 mb-5">
                <span class="text-body-emphasis">Total price:</span>
                <span class="cart-total fw-bold text-body-emphasis" id="FianalAmount">₹@FinalAmount</span>
            </div>
            <a href="/Home/ShoppingCartList" class="btn btn-dark w-100 mb-7" title="Check Out">Check Out</a>

        </div>    
    </div>

<!--End-->


<script src="~/Content/NewAssests/js/main.js"></script>
<script>
    function updateQty(count,Fk_ProductId) {
        debugger;
        var count1 = $('input[name="Count"]').val();        
        var a = $('#Quantity_' + count ).val();       
        if (a < 1) {            
            $('#Quantity_' + count).val(1);           
        }
        if (a == 0 || a >= 100 || a == null) {
            return false;
        }
       // $('#Quantitybtn').val(a);
        $('#Pk_ProductId').val(Fk_ProductId);
       // $('#Qty').val($('#Quantity_' + count).val());
       // $('#BtnSearch').trigger('click');

        let Id = $('#Pk_ProductId').val();
        //let Qty = $('#Qty').val();       
        let Qty = $('#Quantity_' + count).val();       
        $.ajax({
            url: '/Home/UpdateShoppingQuantity',
            type: 'Post',
            data: { Id: Id, Qty: Qty },
            success: function (response) {
                console.log(response);
                debugger;
                var totalPrice = Number(response[0].Quantity) * Number(response[0].SalesPrice)
                if (response != null) {
                    var str = "";                   
                    //console.log(response);
                    $('#Pk_ProductId').text(response[0].Pk_ProductId);                   
                    $('#updateQunatity_'+count).text(response[0].Quantity);                   
                    $('#FianalAmount').text(response[0].TotalAmount);                   
                }

            }, error: function () {
              
            }
        });
    }
   
</script>

