@model LifeOne.Models.AssociateManagement.AssociateEntity.FranchiseReqListResponse
@using LifeOne.Models.Manager;

@{
    ViewBag.Title = "AllowFranchiseRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

@{
    string msg = (string)TempData["msg"];
    string code = Convert.ToString(TempData["code"]);
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        }
        else
        {
            <div class="alert alert-danger m-t-30" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        }
    }

}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Allow District Franchise</h4>
            <nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#-">Home</a></li>
                    <li class="breadcrumb-item"><a href="#-">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Allow District Franchise</li>
                </ol>
            </nav>
        </div>
        <div class="pbutton">
            <div class="right text-right">
                <span>
                    @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                </span>
                @if (PermissionManager.IsActionPermit("Allow Franchise Request", ViewOptions.FormSave))
                {
                    <a href="" id="btnAdd" class="btn btn-success btn-sm" onclick="return ResetPopup();" data-toggle="modal" title="Add New" Target="_blank" data-rel="tooltips" ToolTip="Edit" data-target="#myModal4">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New
                    </a>
                }
            </div>
        </div>
    </div>


    <div id="no-more-tables">
        <div class="row">

            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row" id="advance-search" style="display:none;">
                            <div class="col-md-12">
                                <div class="alert alert-warning" style="color:#727272 !important">
                                    <form action="" method="post">
                                        <div class="row">
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Login Id</label>
                                                    <input type="text" name="LoginId" id="LoginId" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="AssociateName" id="AssociateName" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                    <a href="/Admin-AllowFranchiseRequest" class="btn btn-secondary" style="margin-top:1.5em;">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive" >
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Login</th>
                                        <th>Name</th>
                                        <th>Franchise Type </th>
                                        <th>State</th>
                                        <th>District</th>
                                        <th>Create Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.FranchiseReqLists)
                                    {
                                        <tr>
                                            <td>@(count = count + 1)</td>
                                            <td>@item.LoginId</td>
                                            <td>@item.AssociateName</td>
                                            <td>@item.TypeName</td>
                                            <td>@item.StateName</td>
                                            <td>@item.DistrictName</td>
                                            <td>@item.CreateDate </td>
                                            <td class="text-right">
                                                @if (PermissionManager.IsActionPermit("Allow Franchise Request", ViewOptions.FormSave))
                                                {
                                                    <button type="button" class="btn btn-primary btn-sm" onclick="return OpenPopUp('@item.KeyId')"><i class="fa fa-pencil"></i></button>
                                                }
                                                @if (PermissionManager.IsActionPermit("Allow Franchise Request", ViewOptions.FormDelete))
                                                {
                                                    <a href="/Admin/Admin/DeleteFranchiseRequests?KeyId=@item.KeyId" onclick="return confirm('are you sure to delete this record?')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>

    @using (Html.BeginForm("AllowFranchiseRequestDetail", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">
                            Add/Update Franchise Request
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <input type="hidden" name="KeyId" id="KeyId" />
                            <div class="col-md-12">
                                <label class="form-control-placeholder" for="name">LoginID <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="LoginId" id="LoginID" maxlength="10" onchange="GetCustomerDetails()" />
                                <label class="text text-danger small" id="txtName"></label>
                            </div>
                            <div class="col-md-12">
                                <label class="form-control-placeholder" for="name">Franchise Type <span class="text-danger">*</span></label>
                                <select id="TypeName" name="TypeName" class="form-control">
                                    <option value="0">Select</option>
                                    <option value="1">State Franchise</option>
                                    <option value="3">District Franchise</option>
                                </select>

                            </div>
                            <div class="col-md-12">
                                <label class="form-control-placeholder" for="name">State <span class="text-danger">*</span></label>
                                @Html.DropDownListFor(m => m.StateId, (IEnumerable<SelectListItem>)ViewBag.ddlStateList, new { @class = "form-control" })
                            </div>
                            <div class="col-md-12">
                                <label class="form-control-placeholder" for="name">District <span class="text-danger">*</span></label>
                                <select name="DistrictId" id="DistrictId" class="form-control">
                                    <option value="0">Select Distict</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="Save" name="Save" class="btn btn-primary" value="Save" onclick="return validate();" />
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>

            </div>
            }

        </div>
    }
</div>
<script>
    function ResetPopup() {
    }





    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
    }

    $("#StateId").change(function () {

        DistrictList($("#StateId").val(), 0);
    });

    function DistrictList(StateID, DistictID) {
        $("#DistrictId").empty();
        $("#DistrictId").append($("<option     />").val('0').text('Select District'));
        if (StateID != null && StateID != undefined && StateID != '') {
            $.ajax({
                url: '/Admin/Admin/GetDistrictList?StateID=' + StateID,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $.each(data, function () {
                        $("#DistrictId").append($("<option     />").val(this.DistrictId).text(this.DistrictName));
                    });
                    if (DistictID > 0) {
                        $('#DistrictId [value=' + DistictID + ']').attr('selected', 'true');
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function GetCustomerDetails() {
        $('#txtName').text('');
        var _LoginID = $('#LoginID').val();
        if (_LoginID != "") {
            $.ajax({
                url: "/Admin/MemberParent/BindMemberParentDetailByLoginID",
                type: "POST",
                dataType: 'json',
                data: JSON.stringify({ LoginID: _LoginID }),
                contentType: "application/json",
                success: function (result) {
                    if (result != null) {
                        $('#txtName').text(result.MemberName);
                    }
                    else {
                        alert("Invalid Login ID");
                    }
                }
            });
        }
    }

    function validate() {
        if ($('#txtName').text() == '' || $('#txtName').text() == null || $('#txtName').text() == undefined) {
            $('#LoginID').focus();
            return false;
        }
        if ($('#TypeName').val() == '' || $('#TypeName').val() == null || $('#TypeName').val() == undefined) {
            $('#TypeName').focus();
            return false;
        }
        if ($('#StateId').val() == '' || $('#StateId').val() == null || $('#StateId').val() == undefined) {
            $('#StateId').focus();
            return false;
        }
        if ($('#DistrictId').val() == '' || $('#DistrictId').val() == null || $('#DistrictId').val() == undefined) {
            $('#DistrictId').focus();
            return false;
        }
    }

    function OpenPopUp(KeyID) {
        debugger;
        if (KeyID != null && KeyID != undefined && KeyID != '') {
            $('#Save').val('Update');
            $.ajax({
                url: "/Admin/Admin/AllowFranchiseRegistrationDetailById",
                type: "POST",
                dataType: 'json',
                data: JSON.stringify({ KeyId: KeyID }),
                contentType: "application/json",
                success: function (result) {
                    if (result != null) {
                        DistrictList(result.StateId, result.DistrictId);
                        $('#LoginID').val(result.LoginId);
                        GetCustomerDetails();
                        $('#TypeName [value=' + result.FK_FranchiseTypeId + ']').attr('selected', 'true');
                        $('#StateId').val(result.StateId);
                        $('#KeyId').val(result.KeyId);
                    }
                    //$("#DistrictId").val(result.DistrictId);
                    $("#myModal4").modal('show');
                }
            });
        }
    }
</script>