@model LifeOne.Models.AdminManagement.AEntity.MEmailSend
@{
    ViewBag.Title = "EmailRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/dist/css/sweetalert.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Email Request</h4>
            <nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#-">Admin</a></li>
                    <li class="breadcrumb-item"><a href="#-">Social Activity</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Email Request</li>
                </ol>
            </nav>
        </div>
        <div class="pbutton">
            <div class="right text-right">
                <span>
                    @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                </span>


            </div>
        </div>
    </div>

    <div id="no-more-tables">
        <form id="form1" method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("SendSMSList", "/Admin/SocialActivity", null, FormMethod.Post))
                            {
                                <div class="row" id="advance-search" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" style="color:#727272 !important">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label>Login ID</label>
                                                        <input type="text" name="LoginID" id="LoginID" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label style="display:block;"></label>
                                                        <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                        <a href="#" class="btn btn-danger" style="margin-top:1.5em;">Reset</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="table-responsive" >
                                <table class="table mb-0" id="TransactionLogList">
                                    <thead>
                                        <tr>
                                            <th>#Sn.</th>
                                            <th>Login Id</th>
                                            <th>Requset SendBy</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.LstSendEmail.Count > 0)
                                        {
                                            int SNo = 0;
                                            foreach (var item in Model.LstSendEmail)
                                            {
                                        <tr>
                                            <td>@(SNo = SNo + 1)</td>
                                            <td>@item.LoginId</td>
                                            <td>@item.Name</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Email</td>
                                            <td>@item.Subject</td>
                                            <td>@item.Message</td>
                                            <td>
                                                @if (item.IsSend == true)
                                                {
                                                    <label class="badge badge-success"> Send </label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-danger"> Not Send</label>
                                                }

                                            </td>
                                            <td>
                                                <button type="button" onclick="ViewDetails(@item.FK_MemId)" class="btn btn-info btn-sm"> View Details</button>
                                                @if (item.IsSend == false)
                                                {
                                                    <button type="button" onclick="Approve(@item.FK_MemId, '@item.Subject','@item.Message','@item.EmailAttachmentPath')" class="btn btn-success btn-sm"> Approve</button>
                                                }
                                            </td>


                                        </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <footer class="card-footer bg-white p-2">
                                <div class="d-md-flex align-items-center justify-content-between">

                                    @if (Model != null)
                                    {
                                        if (Model.Pager != null)
                                        {
                                            if (Model.Pager.EndPage > 1)
                                            {
                                                <div> <small class="text-muted inline">showing @Model.LstSendEmail.Count  of @Model.LstSendEmail[0].TotalRecord items</small> </div>
                                                <div>
                                                    <ul class="pagination pagination-sm m-t-none m-b-none">
                                                        @if (Model.Pager.CurrentPage > 1)
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="/AllTransactionLog">First</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="/AllTransactionLog?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                                            </li>
                                                        }
                                                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                        {
                                                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                                <a class="page-link" href="/AllTransactionLog?page=@page">@page</a>
                                                            </li>
                                                        }
                                                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" href="/AllTransactionLog?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="/AllTransactionLog?page=@(Model.Pager.TotalPages)">Last</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </footer>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>

        </form>
    </div>
    <div id="EmailList" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="card-title">Email Request Details</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style="max-height:500px">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>#Sn.</th>
                                    <th>Name</th>
                                    <th>Login Id</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>EmailCC</th>
                                    <th>EmailBCC</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="EmailDetails">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Content/dist/js/sweetalert.min.js"></script>
<script>
    var Email = [];
    function ViewDetails(Fk_MemId) {
        debugger
        var Sno = 1;
        $.ajax({
            type: "POST",
            url: "/Admin/SocialActivity/SendEmailDetails",
            data: { Fk_MemId: Fk_MemId },
            success: function (data) {
                if (data != null && data != "") {
                    if (data.LstSendEmail.length != null) {
                        $('#EmailDetails').empty();
                        for (var i = 0; i < data.LstSendEmail.length; i++) {
                            var Status = (data.LstSendEmail[i].IsSend == true) ? "<label class='badge badge-success'>Send</label>" : "<label class='badge badge-danger'>Not Send</label>";
                            $('#EmailDetails').append('<tr><td>' + Sno++ + '</td><td>' + data.LstSendEmail[i].Name + '</td><td>' + data.LstSendEmail[i].LoginId + '</td><td>' + data.LstSendEmail[i].Mobile + '</td><td>' + data.LstSendEmail[i].Email + '</td><td>' + data.LstSendEmail[i].EmailCC + '</td><td>' + data.LstSendEmail[i].EmailBCC + '</td><td>' + Status + '</td></tr>');
                        }
                        $('#EmailList').modal('show');
                    }

                }
            },
            error: function (data) {
                window.setTimeout(function () {
                    window.location.href = "/Admin/SocialActivity/EmailRequest";
                }, 3000);
            }
        });
    }

    function Approve(Fk_MemId, Subject, Message,EmailAttachmentPath) {
        Email = [];
         if (confirm('Are you sure to approve this Request?') == false) {
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/Admin/SocialActivity/SendEmailDetails",
            data: { Fk_MemId: Fk_MemId },
            success: function (data) {
                if (data != null && data != "") {
                    for (var i = 0; i < data.LstSendEmail.length; i++) {
                        Email.push(data.LstSendEmail[i].Email);
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Admin/SocialActivity/SendEmailUser",
                        data: { Fk_MemId: Fk_MemId, Subject: Subject,Message:Message,FilePath:EmailAttachmentPath, Email: ["dainik@quaeretech.com","devendra@quaeretech.com"] },
                        dataType: 'json',
                        containtType: 'application/json;charset=utf-8',
                        success: function (data) {
                            if (data != null && data != "") {
                                if (data.Flag == 1) {
                                    swal('', data.Msg, 'success');
                                    window.setTimeout(function () {
                                        window.location.href = "/Admin/SocialActivity/EmailRequest";
                                    }, 3000);
                                }
                                else {
                                    swal('', data.Msg, 'success');
                                    window.setTimeout(function () {
                                        window.location.href = "/Admin/SocialActivity/EmailRequest";
                                    }, 3000);
                                }
                            }
                        },
                    });
                }
            },

        });



    }
</script>