@model LifeOne.Models.AdminManagement.AEntity.CategoryModel
@using LifeOne.Models.Manager;
@{
    ViewBag.Title = "CropCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
@{
    string msg = (string)TempData["msg"];
    string code = Convert.ToString(TempData["code"]);
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>

        }
        else
        {
            <div class="alert alert-success m-t-30" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>




        }
    }

}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Crop Category Master</h4>
            <nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#-">Home</a></li>
                    <li class="breadcrumb-item"><a href="#-">Masters</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Crop Category</li>
                </ol>
            </nav>
        </div>
        <div class="pbutton">
            <div class="right text-right">
                @*<span>
                        <button type="button" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnprint"><i class="fa fa-print"></i></button>
                    </span> <span>
                        <button type="button" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                    </span>*@

                @if (PermissionManager.IsActionPermit("Crop Category", ViewOptions.FormSave))
                {
                    <a href="" id="btnAdd" class="btn btn-success btn-sm" onclick="return ResetPopup();" data-toggle="modal" title="Add New" Target="_blank" data-rel="tooltips" ToolTip="Edit" data-target="#myModal4">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New
                    </a>
                }

            </div>
        </div>
    </div>


    <div id="no-more-tables">
        <div class="row">

            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-9">
                                @*<h4 class="header-title mt-0 mb-1">Unit List</h4>*@
                            </div>
                            @*<div class="col-md-3 pull-right text-right" style="position:relative">

                                    <a class="btn btn-outline-warning small advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom">Search&nbsp;<i class="fa fa-search"></i></a>

                                </div>*@
                        </div>
                        <div class="row" id="advance-search" style="display:none;">
                            <div class="col-md-12">
                                <div class="alert alert-warning" style="color:#727272 !important">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Login ID</label>
                                                <input type="text" name="LoginID" id="LoginID" placeholder="" class="form-control">
                                            </div>
                                        </div>


                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label style="display:block;"></label>
                                                <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                <a href="/PlotBooking/BookingDetails" class="btn btn-danger" style="margin-top:1.5em;">Reset</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive" >
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Crop Name</th>
                                        <th>Image</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.CategoryList.Count > 0)
                                    {

                                        foreach (var item in Model.CategoryList)
                                        {
                                            <tr>
                                                <td>@(count = count + 1)</td>
                                                <td>@item.CropName</td>
                                                <td>                                                    
                                                    <img src="@(item.CropImage != null ? item.CropImage : "")" height="50" width="50" onerror="this.src = '';this.src='http://webapi.LifeOne.com/AndroidIcon/DashboardIcon/tour.png'" />
                                                </td>
                                                <td class="text-right">
                                                    @if (PermissionManager.IsActionPermit("Crop Category", ViewOptions.FormUpdate))
                                                    {

                                                        <button type="button" class="btn btn-primary btn-sm" onclick="return OpenPopUp('@item.Id', '@item.CropName', '@item.CropImage')" data-toggle="modal" Target="_blank" data-rel="tooltips" ToolTip="Edit" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                                                    }
                                                    @if (PermissionManager.IsActionPermit("Crop Category", ViewOptions.FormDelete))
                                                    {

                                                        <a href="/Master/CropCategoryDelete?Id=@item.Id" onclick="return confirm('Are you sure to delete this category ?')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
    </div>

    @using (Html.BeginForm("CropCategorySave", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="modal fade in" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Add/Update Crop Category Master</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">

                                @Html.HiddenFor(m => m.Id, new { @id = "Id" })

                                <div class="col-md-12">
                                    <label class="form-control-placeholder" for="name">Crop Name</label>
                                    <input type="text" class="form-control" name="CropName" id="CropName">
                                </div>
                                <div class="col-md-12">
                                    <label class="form-control-placeholder" for="name">Image</label>
                                    <input name="file" type="file" class="form-control" id="upimag" onchange="uploadFile('CropImage', this)" />
                                    @Html.HiddenFor(Model => Model.CropImage)
                                </div>
                                <br />
                                <br />
                                @*<div class="col-md-12">
                                    <img src="@(Model.CropImage != null ? Model.CropImage : "")" id="CrImg" onerror="this.src = '';this.src='http://webapi.LifeOne.com/AndroidIcon/DashboardIcon/tour.png'" width="150" height="150" />
                                </div>*@

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="Save" name="Save" class="btn btn-primary" value="Save" onclick="return validate();" />

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>

        </div>
    }

</div>
<script>
    function ResetPopup() {
        $('#Id').val('');
        $('#CropName').val('');
        $('#CropImage').val('');
        $('#CrImg').attr("src", '');
        $('#Save').val('Save')
        $("#Save").show();
    }

    function OpenPopUp(pk_id, name, cropImage) {
        $('#Save').val('Update');
        $('#Id').val(pk_id);
        $('#CropName').val(name);
        $('#CropImage').val(cropImage.replace('~', ''));
        $('#CrImg').attr("src", cropImage.replace('~', ''));
    }

    function validate() {
        if ($('#CropName').val() == '' || $('#CropName').val() == null || $('#CropName').val() == undefined) {
            $('#CropName').focus();
            return false;
        }

        if ($('#CropImage').val() == '' || $('#CropImage').val() == null || $('#CropImage').val() == undefined) {
            $('#upimag').focus();
            return false;
        }
    }

    function uploadFile(documentType, fileobj) {
        var fileInput = fileobj;
        if (fileInput.files.length === 0) {
            return;
        }
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append("documentType", documentType);
        formData.append("file", file);
        $.ajax({
            url: "/api/Image/UploadKyc",
            data: formData,
            processData: false,
            type: 'POST',
            contentType: false,
            success: function (data) {
                if (data.response == "success") {
                    debugger
                    $('#CropImage').val(data.filepath.replace('~', ''));
                    $('#CrImg').attr("src", data.filepath.replace('~', ''));
                }
            }
        });
    }
</script>