@model LifeOne.Models.ProductsDetail
@{
    ViewBag.Title = "OfferDateMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string msg = (string)TempData["msg"];
    string code = (string)TempData["code"];
    if (msg != null)
    {
        if (code.Equals("1"))
        {
<div class="alert alert-success m-t-30 msgdiv" id="divsuccess">
    <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
</div>

        }
        else
        {
<div class="alert alert-danger m-t-30 msgdiv" id="divUpdate">
    <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
</div>
        }
    }
}
<div class="container-fluid">


    <div class="row page-titles">

        <div class="ptitle">
            <h4 class="mb-1 mt-0">Offer Date Master</h4>
            @*<nav aria-label="breadcrumb" class="float-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#-">Masters</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Offer Date Master</li>
                </ol>
            </nav>*@
            @*@if (ViewBag.msg!= "" || ViewBag.msg!= null)
            {
            <h4>@ViewBag.msg</h4>
            }*@
        </div>
    </div>
    <div id="no-more-tables">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row" id="advance-search" style="display:none;">
                            <div class="col-md-12">
                                <div class="alert alert-warning" style="color:#727272 !important">
                                    <form action="OfferDateMaster" method="post">
                                        <div class="row">
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>BV</label>
                                                    @Html.TextBoxFor(m => m.BV, new { @class = "form-control", @maxlength = "4", @onkeypress = "return isNumberKey(event)" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>From Date</label>

                                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @type = "Date", @placeholder = "dd-mm-yyyy" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>To Date</label>
                                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @type = "Date", @placeholder = "dd-mm-yyyy" })
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="@ViewBag.Btn" name="@ViewBag.Btn" onclick="return validate()" id="BtnSearch">
                                                    <a href="/Admin/Master/GetOfferDateMaster" class="btn btn-secondary" style="margin-top:1.5em;">Cancel</a>
                                                    @Html.HiddenFor(m => m.PK_OfferMasterId)
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>


    </div>
</div>

<script>
    //$(document).ready(function () {
    ////    debugger;
    //    $("#FromDate").attr("type", "date").format('dd/mm/yyyy').datepicker({ dateFormat: 'dd/mm/yy' })
    //    //$("#FromDate").attr("type", "date").ormat('dd/mm/yyyy')

    //});

    function validate() {
        debugger;
        if ($("#BV").val() == 0 || $("#BV").val() == null) {
            alert("Please Fill BV");
            $("#ToDate").focus()
            return false;
        }
        if ($("#FromDate").val() == "" || $("#FromDate").val() == null) {
            alert("Please Fill From Date");
            $("#FromDate").focus()
            return false;
        }
        if ($("#ToDate").val() == "" || $("#ToDate").val() == null) {
            alert("Please Fill To Date");
            $("#ToDate").focus()
            return false;
        }

        if ($("#FromDate").val() > $("#ToDate").val()) {
            alert("From Date Must Be Less Then To Date")
            $("#ToDate").focus()
            $("#FromDate").focus()
            return false;
        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
    }
</script>