@model LifeOne.Models.AdminManagement.AEntity.MPayoutReport
@{
    ViewBag.Title = "PayoutReport";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<style>
    .alert-warning {
        background-color: #fcf8e3 !important;
        border-color: #faebcc !important;
    }

    .tableincome {
    }

        .tableincome td:first-child {
            background: #fbfbfb;
            max-width: 40%;
        }

        .tableincome td {
            font-weight: bold;
        }
</style>
<div class="content">
    <div class="content-wrapper-before"></div>
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0 text-white">Payout Report</h4>
                @*<nav aria-label="breadcrumb" class="float-left mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Associate-Dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#">Loyality Income</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payout Report</li>
                        </ol>
                    </nav>*@
            </div>
            <div class="pbutton">
                <div class="right text-right">
                    <span>  <a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a></span>
                    @*<span>
                            <a href="/Associate/AssociateReport/PayoutReportExportExcel" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                        </span><span>
                            <button type="button" class="btn btn-success btn-rounded btnPdf"><i class="fa fa-file-pdf-o"></i></button>
                        </span>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body p-0">

                        <div class="row" id="advance-search" style="display:none;">
                            <div class="col-md-12">
                                @using (Html.BeginForm("PayoutReport", "AssociateReport", FormMethod.Post))
                                {
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Payout No</label>
                                                    @*<input type="text" name="PayoutNo" id="PayoutNo" placeholder="" class="form-control">*@
                                                    @Html.DropDownListFor(m => m.PayoutNo, new SelectList(ViewBag.PayoutMaster, "Value", "Text"), new { @class = "form-control", @id = "PayoutNo" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>From Date</label>
                                                    <input type="date" name="FromDate" id="FromDate" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>To Date</label>
                                                    <input type="date" name="ToDate" id="ToDate" placeholder="" class="form-control ">
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label class="display">&nbsp;</label>
                                                    <input type="submit" class="btn btn-success" value="Search" id="BtnSearch">
                                                    <a href="/Associate/AssociateReport/PayoutReport" class="btn btn-secondary">Reset</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                        <div class="table-responsive" >
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th nowrap>#Sn.</th>
                                        <th nowrap>Payout No</th>

                                        <th class="text-right">Referral Bonus</th>
                                        <th class="text-right">Matching Bonus</th>
                                        <th class="text-right">Leadership Bonus</th>

                                        @*<th class="text-left">Advance-Amt</th>
                                            <th class="text-left">Adjustment</th>*@
                                        <th class="text-right">Gross Amount</th>
                                        <th class="text-right">TDS Amount</th>
                                        <th class="text-right">Processing Fee</th>
                                        <th class="text-right">Net Amount</th>
                                        <th class="text-left">Payout Date</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null && Model.Objlist.Count > 0)
                                    {
                                        int SNo = 0;
                                        decimal TotalDirectIncome = 0;
                                        decimal TotalBinaryIncome = 0;
                                        decimal TotalLeaderBonusIncome = 0;
                                        decimal TotalAdvance = 0;
                                        decimal TotalAdjustmentAmount = 0;
                                        decimal TotalGrossAmount = 0;
                                        decimal TotalTDSAmount = 0;
                                        decimal TotalProcessingFee = 0;
                                        decimal TotalNetAmount = 0;


                                        foreach (var item in Model.Objlist)
                                        {
                                            TotalDirectIncome += @item.DirectIncome;
                                            TotalBinaryIncome += @item.BinaryIncome;
                                            TotalLeaderBonusIncome += @item.LeadershipBonus;
                                            TotalAdvance += @item.AdvanceAmt;
                                            TotalAdjustmentAmount += @item.AdvAdjustedAmt;
                                            TotalGrossAmount += @item.GrossAmount;
                                            TotalTDSAmount += @item.TDSAmount;
                                            TotalProcessingFee += @item.ProcessingFee;
                                            TotalNetAmount += @item.NetAmount;

                                            <tr>
                                                <td data-title="#SN:">@(SNo = SNo + 1)</td>
                                                <td data-title="PayoutNo:">@item.PayoutNo</td>
                                                <td class="text-right" data-title="DirectIncome:">@item.DirectIncome</td>
                                                <td class="text-right" data-title="BinaryIncome:">@item.BinaryIncome</td>
                                                <td class="text-right" data-title="SponsorRoyalty:">@item.LeadershipBonus</td>
                                                @*<td class="text-right" data-title="Advance:">@item.AdvanceAmt</td>
                                                    <td class="text-right" data-title="Adjustment:">@item.AdvAdjustedAmt</td>*@

                                                <td class="text-right" data-title="Gross Amount:">@item.GrossAmount</td>
                                                <td class="text-right" data-title="TDS Amount:">@item.TDSAmount</td>
                                                <td class="text-right" data-title="Processing Fee:">@item.ProcessingFee</td>
                                                <td class="text-right" data-title="Net Amount:">@item.NetAmount</td>
                                                <td class="text-left" data-title="Closing Date:">@item.ClosingDate</td>
                                                <td class="text-left" data-title="Paid UnPaid Status:">
                                                    @if (@item.PaidUnPaidStatus == "Paid")
                                                    {
                                                        <span class="badge badge-success">@item.PaidUnPaidStatus</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">@item.PaidUnPaidStatus</span>
                                                    }

                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm text-right" href="/StatementDetails?FK_MemId=@LifeOne.Models.Common.UrlEncodingDecoding.Encode(item.FK_MemId.ToString())&PayoutNo=@LifeOne.Models.Common.UrlEncodingDecoding.Encode(item.PayoutNo.ToString())">Statement</a>

                                                </td>
                                            </tr>
                                        }

                                        <tr><td></td><td><b>Total :</b></td><td class="text-right">@TotalDirectIncome</td><td class="text-right">@TotalBinaryIncome</td>
                                    <td class="text-right">@TotalLeaderBonusIncome</td>@*<td class="text-right">@TotalAdvance</td><td class="text-right">@TotalAdjustmentAmount</td>*@
                                    <td class="text-right">@TotalGrossAmount</td><td class="text-right">@TotalTDSAmount</td><td class="text-right">@TotalProcessingFee</td><td class="text-right">@TotalNetAmount</td><td></td><td></td></tr>
                                    }
                                    else
                                    {
                                        @*<tr>
                                                <td colspan="10">No Record Found..</td>
                                            </tr>*@
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Payout Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style="max-height:600px;">
                        <table class="table" id="TblEmpList">
                            <thead>
                                <tr>
                                    <th>From Id</th>
                                    <th>Display Name</th>
                                    <th>Business Amount</th>
                                    <th>Commission Percentage</th>
                                    <th>Income Type</th>
                                    <th>Closing Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody id="tblData"></tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><b>Total</b></td>
                                    <td><b><span id="spnTotal"></span></b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- container-fluid -->
    <div id="myModalIncm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Income Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style="max-height:600px;">
                        <table class="table tableincome" id="TblList">
                            <tbody id="tblDataIncome"></tbody>

                        </table>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script>
    function GetStatementDetails(FK_MemId) {
        $.ajax({
            method: 'POST',
            url: '/Associate/AssociateReport/StatementDetails',
            data: { FK_MemId: FK_MemId },
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data != null) {
                    var total = 0;
                    $('#tblData').html('');
                    $('#myModal').modal("show");
                    for (var i = 0; i < data.lstStatement.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + data.lstStatement[i].LoginId + "</td>");
                        tr.append("<td>" + data.lstStatement[i].DisplayName + "</td>");
                        tr.append("<td>" + data.lstStatement[i].BusinessAmount + "</td>");
                        tr.append("<td>" + data.lstStatement[i].CommissionPercentage + "</td>");
                        tr.append("<td>" + data.lstStatement[i].IncomeType + "</td>");
                        tr.append("<td>" + data.lstStatement[i].CurrentDate + "</td>");
                        tr.append("<td>" + data.lstStatement[i].Amount + "</td>");
                        $('#tblData').append(tr);
                        total = total + Math.round(parseFloat(data.lstStatement[i].Amount));
                    }
                    $("#spnTotal").html(total);
                }
            }
        });
    }

    function GetIncomeDetails(ID, Payout) {
        debugger;
        $.ajax({
            method: 'POST',
            url: '/Associate/AssociateReport/IncomeReport',
            data: { LoginId: ID, PayoutNo: Payout },
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data != null) {
                    $('#tblDataIncome').html('');
                    $('#myModalIncm').modal("show");
                    for (var i = 0; i < data.Objlist.length; i++) {
                        tr1 = $('<tr/>');
                        tr1.append("<td>Self Income</td>");
                        tr1.append("<td>" + data.Objlist[i].SelfIncome + "</td>");
                        $('#tblDataIncome').append(tr1);
                        tr2 = $('<tr/>');
                        tr2.append("<td>Team Income</td>");
                        tr2.append("<td>" + parseFloat(data.Objlist[i].TeamIncome).toFixed(2) + "</td>");
                        $('#tblDataIncome').append(tr2);
                        tr3 = $('<tr/>');
                        tr3.append("<td>Air Orbit Income</td>");
                        tr3.append("<td>" + data.Objlist[i].AirOrbitIncome + "</td>");
                        $('#tblDataIncome').append(tr3);
                        tr4 = $('<tr/>');
                        tr4.append("<td>Water Orbit Income</td>");
                        tr4.append("<td>" + data.Objlist[i].WaterOrbitIncome + "</td>");
                        $('#tblDataIncome').append(tr4);
                        tr5 = $('<tr/>');
                        tr5.append("<td>Space Orbit Income</td>");
                        tr5.append("<td>" + data.Objlist[i].SpaceOrbitIncome + "</td>");
                        $('#tblDataIncome').append(tr5);
                        tr6 = $('<tr/>');
                        tr6.append("<td>Royalty Income</td>");
                        tr6.append("<td>" + data.Objlist[i].SmartRoyaltyIncome + "</td>");
                        $('#tblDataIncome').append(tr6);
                        tr7 = $('<tr/>');
                        tr7.append("<td>Orbit Royalty Income</td>");
                        tr7.append("<td>" + data.Objlist[i].SmartOrbitRoyaltyIncome + "</td>");
                        $('#tblDataIncome').append(tr7);
                        tr8 = $('<tr/>');
                        tr8.append("<td>Leadership Income</td>");
                        tr8.append("<td>" + data.Objlist[i].SmartLeadershipIncome + "</td>");
                        $('#tblDataIncome').append(tr8);
                        tr9 = $('<tr/>');
                        tr9.append("<td>Club Bonus</td>");
                        tr9.append("<td>" + data.Objlist[i].GlobalAchieverClubBonus + "</td>");
                        $('#tblDataIncome').append(tr9);
                        //tr10 = $('<tr/>');
                        //tr10.append("<td>Total</td>");
                        //tr10.append("<td>" + parseFloat(data.Objlist[i].SelfIncome + data.Objlist[i].TeamIncome + data.Objlist[i].AirOrbitIncome + data.Objlist[i].WaterOrbitIncome + data.Objlist[i].SpaceOrbitIncome + data.Objlist[i].SmartRoyaltyIncome + data.Objlist[i].SmartOrbitRoyaltyIncome + data.Objlist[i].SmartLeadershipIncome + data.Objlist[i].GlobalAchieverClubBonus) + "</td>");
                        //$('#tblDataIncome').append(tr10);
                        tr10 = $('<tr/>');
                        tr10.append("<td>Smart Offer Point</td>");
                        tr10.append("<td>" + data.Objlist[i].SmartOfferPoint + " Points </td>");
                        $('#tblDataIncome').append(tr10);
                        tr11 = $('<tr/>');
                        tr11.append("<td>Total</td>");
                        tr11.append("<td>" + parseFloat(data.Objlist[i].SelfIncome + data.Objlist[i].TeamIncome + data.Objlist[i].AirOrbitIncome + data.Objlist[i].WaterOrbitIncome + data.Objlist[i].SpaceOrbitIncome + data.Objlist[i].SmartRoyaltyIncome + data.Objlist[i].SmartOrbitRoyaltyIncome + data.Objlist[i].SmartLeadershipIncome + data.Objlist[i].GlobalAchieverClubBonus) + "</td>");
                        $('#tblDataIncome').append(tr11);
                    }
                }
            }
        });
    }
</script>