@model LifeOne.Models.Modelreward
@{
    ViewBag.Title = "PinRecognition";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}

@using (Html.BeginForm("PinRecognition", "AssociateReport", FormMethod.Post, new { @id = "form1" }))
{
    <div class="content">
        <div class="content-wrapper-before"></div>
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="ptitle">
                    <h4 class="mb-1 mt-0 text-white">Pin Recognition</h4>
                    <nav aria-label="breadcrumb" class="float-left mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Associate-Dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#">Loyalty Income</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Pin Recognition</li>
                        </ol>
                    </nav>
                </div>

            </div>
            

            <div class="row">
                <div class="col-12">
                    <div class="card no-border">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table  table-striped" id="datatables">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Pin Name</th>

                                            <th>Achieved On</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.Rewardslst != null)
                                            {
                                                int SNO = 0;
                                                foreach (var item in Model.Rewardslst)
                                                {
                                                    <tr>
                                                        <td>@(SNO = SNO + 1)</td>
                                                        <td class="text-left">
                                                            <img src="@item.PinImage" width="32" /><span style="font-size:16px;font-weight:500"> @item.RewardName</span>
                                                            @if (item.Status == "Achieved")
                                                            {
                                                                <span class="badge bg-success">@item.Status</span>
                                                            }
                                                            else if (item.Status == "Pending")
                                                            {
                                                                <span class="badge bg-warning">@item.Status</span>
                                                            }
                                                            else if (item.Status == "Skipped")
                                                            {
                                                                <span class="badge bg-danger">@item.Status</span>
                                                            }
                                                            else if (item.Status == "Claimed")
                                                            {
                                                                <span class="badge bg-info">@item.Status</span>
                                                            }
                                                            else if (item.Status == "Claim Denied")
                                                            {
                                                                <span class="badge bg-danger">@item.Status</span>
                                                            }
                                                        </td>


                                                        <td>@item.AchievedOn</td>



                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

