
@model IEnumerable<LifeOne.Models.AdminManagement.AEntity.AssociateBusinessReportModel>
@{
    ViewBag.Title = "AssociateMonthlyBusinessReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<style>
    .pull-right {
        float: right;
    }
</style>
<div class="row page-titles">
    <div class="ptitle">
        <h3 class="text-themecolor">Direct Seller's Monthly Business Report</h3>
        <ol class="breadcrumb"><li class="breadcrumb-item"><a href="javascript:void(0);">Report</a></li><li class="active breadcrumb-item" aria-current="page">Associate Monthly Business Report</li></ol>
    </div>


</div>
<div class="row">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-header">


            </div>
            @using (Html.BeginForm("AssociateMonthlyBusinessReport", "ManagePayout", FormMethod.Post))
            {
                <div class="card-body">
                    <br />
                 
                    <div class="row" id="advance-search" style="display:none;">
                        <div class="col-md-12">
                            <div class="alert alert-warning" style="color:#727272 !important">
                                <div class="row">
                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="text" class="form-control" id="LoginId" name="LoginId" placeholder="Login ID" value="@ViewBag.LoginId" />
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="date" class="form-control" id="Fromdate" name="FromDate" value="@ViewBag.FromDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="date" class="form-control" id="ToDate" name="ToDate" value="@ViewBag.ToDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="text" id="txtSelfBVFrom" name="SelfBVFrom" class="form-control" value="@ViewBag.SelfBVFrom" placeholder="Self BV From" />
                                        </div>
                                    </div>

                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="text" class="form-control" id="txtSelfBVTo" name="SelfBVTo" value="@ViewBag.SelfBVTo" placeholder="Self BV To" />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="text" class="form-control" id="txtTeamBVFrom" name="TeamBVFrom" value="@ViewBag.TeamBVFrom" placeholder="Team BV From" />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="position:relative">
                                        <div class="form-group" style="padding-left: 10px;">
                                            <input type="text" class="form-control" id="txtTeamBVTo" name="TeamBVTo" value="@ViewBag.TeamBVTo" placeholder="Team BV To" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="form-group">
                                            <input type="submit" name="submit" id="btnsubmit" value="Search" class="btn btn-success  waves-effect waves-light float-right" />
                                        </div>
                                    </div>


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="testTable">
                        <table id="example" class="table color-table inverse-table table-bordered">
                            <thead>
                                <tr>

                                    <th>S.No.</th>
                                    <th>Login ID</th>
                                    <th>Direct Seller Name</th>
                                    <th>Self BV</th>
                                    <th>Team BV</th>
                                    <th>BV</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    decimal TotalBV = 0;
                                }
                                @if (Model != null)
                                {
                                    int Sno = 0;

                                    foreach (var item in Model)
                                    {
                                        TotalBV += Convert.ToDecimal(@item.TotalBV);
                                        <tr>
                                            <td>@(Sno = Sno + 1)</td>
                                            <td>@item.LoginId</td>
                                            <td>@item.DispayName</td>
                                            <td>@item.SelfBV</td>
                                            <td>@item.TeamBV</td>
                                            <td>@item.TotalBV</td>

                                        </tr>


                                    }


                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" align="right"><b>Total BV</b></td>
                                    <td><b>@TotalBV</b></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //$('#Fromdate').datepicker({
        //    format: 'DD/MM/YYYY',
        //});
        //$('#ToDate').datepicker({
        //    format: 'DD/MM/YYYY',
        //});
       
    });

    function IsValidate() {

        if ($('#LoginId').val() != '') {
            if ($('#FromDate').val() == '') {

                alert('Please Select FromDate AND ToDate');
                $('#FromDate').focus();
                return false;
            }

            else if ($('#ToDate').val() == '') {

                alert('Please Select ToDate');
                $('#ToDate').focus();
                return false;
            }
        }
        return true;

    }

</script>

