@model LifeOne.Models.AdminManagement.AEntity.MAdminFranchiseSell
@using LifeOne.Models.Manager;

@{
    ViewBag.Title = "MAdminFranchiseSell";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<style>
    .search-box-content {
        display: none;
        padding: 0 15px;
    }
</style>



<div class="container-fluid">
    @using (Html.BeginForm("FranchiseSell", "AdminReport", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        @*<section class="content-header">
                <div class="col-md-4">
                    <h1> <small>Vendor Details</small> </h1>
                    <ol class="breadcrumb" style="clear:both;background:none; padding:0px;">
                        <li><a href="#-">Home</a></li>
                        <li><a href="#-">Admin</a></li>
                        <li class="active">Vendor Details</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <div class="psearch">
                        @Html.DropDownListFor(model => model.Searchby, new List<SelectListItem>() {
                                                new SelectListItem { Text="--select--",Value="Name"},
                                                new SelectListItem { Text="Mobile",Value="Mobile"},
                                                 new SelectListItem { Text="Name",Value="Name"}

                                                }, new { @class = "form-control", @style = "width:30%; float:left; border-right:0px;border-radius:2px 0 0 2px" })
                        <div class="input-group" style="display:block; width:70%; float:left;">

                            @Html.TextBoxFor(model => model.SearchParam, new { @class = "form-control rsearch", @placeholder = "Search..." })
                            <button class="btn btn-success" style="display:block !important;" ng-click="GetMemberData()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pbutton">
                        <div class="right text-right">
                            <span>

                                Total Amount:@(Model != null && Model.Objlist.Count > 0 && Model.Objlist[0].TotalAmount != null ? Model.Objlist[0].TotalAmount : 0)
                            </span>
                        </div>
                    </div>
                </div>
            </section>*@
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">Franchisee Sale</h4>
                <nav aria-label="breadcrumb" class="float-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#-">Home</a></li>
                        <li class="breadcrumb-item"><a href="#-">Reports</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Franchisee Sale Report</li>
                    </ol>
                </nav>
            </div>
            <div class="pbutton">
                <div class="right text-right">
                    <span>
                        @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                    </span>
                    <span>
                        @*<a href="@Url.Action("ExportToExcelVendorDetails","AdminReport",new {Page=Model!=null && Model.Pager!=null&&Model.Pager.EndPage>0?Model.Pager.CurrentPage:1 })" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>*@
                        <button class="btn btn-success btn-rounded btnprint" onclick="printDiv('customers')" title="Print"><i class="fa fa-print"></i></button>
                        <button class="btn btn-success btn-rounded btngreen" data-toggle="tooltip" data-placement="top" title="Download PDF" id="btnpdf"><i class="fa fa-file-pdf-o"></i></button>

                    </span>

                </div>
            </div>
        </div>
        <div id="no-more-tables">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body">

                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            @*<input type="hidden" value="@(Model.fk_MemId == null ? 0 : Model.fk_MemId) " name="fk_MemId" />*@
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">

                                                    <label>Date</label><br />
                                                    <div id="Datetime" class="input-group date " data-date-format="dd-mm-yyyy">

                                                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control selectdate", })

                                                        @*<span class="input-group-addon"><i class="fa fa-calendar"></i></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @if (SessionManager.Usertype == "3")
                                            {
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">

                                                        <label>Franchisee</label>
                                                        @Html.DropDownListFor(m => m.fk_MemId, (IEnumerable<SelectListItem>)ViewBag.FranchiseDll, new { @class = "form-control" })


                                                    </div>
                                                </div>
                                            }
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                                                    <input type="button" class="btn btn-secondary" onClick="window.location.reload();" style="margin-top:1.5em;" value="Reset">
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="table-responsive" id="customers">
                                <table class="table table-striped mb-0" id="tblCustomers">
                                    <thead>
                                        <tr>
                                            <th>#Sn.</th>
                                            <th>Sell Date</th>
                                            @*<th>Invoice No.</th>*@
                                            @*<th>Product Name</th>*@
                                            @*<th>Quantity</th>*@
                                            <th>Product Amount</th>
                                            <th>Total BV</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.objList.Count > 0)
                                        {
                                            int SNo = 0;
                                            foreach (var item in Model.objList)
                                            {

                                                <tr>
                                                    <td data-title="#SN:">@(SNo = SNo + 1)</td>

                                                    <td data-title="Name:">@item.Saledate</td>
                                                    @*<td data-title="ProductName:">@item.ProductName</td>*@
                                                    @*<td data-title="Mobile:">@item.InvoiceNo</td>

        <td data-title="Email:">@item.Quantity</td>
        <td data-title="Email:">@item.PrdAmt</td>*@
                                                    <td data-title="Email:"><a href="@Url.Action("FranchiseSellDateWise","AdminReport",new { Saledate = item.Saledate, fk_MemId = Model.fk_MemId })">@item.TotalPv</a></td>
                                                    <td data-title="Email:">@item.TotalAmt</td>
                                                    @*<td data-title="Email:">@item.TotalprdAmtSum</td>*@
                                                    @*<td data-title="Email:">@item.PaidAmt</td>*@
                                                    <th>
                                                        <a href="@Url.Action("FranchiseSellDateWise","AdminReport",new { Saledate = item.Saledate, fk_MemId = Model.fk_MemId })" ToolTip="View Deatils Date Wise" class="btn btn-warning btn-sm">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </th>


                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<footer class="panel-footer">
                                <div class="row">


                                    @if (Model != null)
                                    {
                                        if (Model.Pager != null)
                                        {
                                            if (Model.Pager.EndPage > 1)
                                            {
                                                <div class="col-sm-6 text-left"> <small class="text-muted inline">showing @Model.Objlist[0].TotalRecord of @Model.Objlist.Count items</small> </div>
                                                <div class="col-sm-6 text-right text-center-xs">
                                                    <ul class="pagination pagination-sm m-t-none m-b-none">
                                                        @if (Model.Pager.CurrentPage > 1)
                                                        {
                                                            <li>
                                                                <a href="/Admin/AdminReport/VendorDetails?Name=@Model.Name&LoginId=@Model.LoginId&Mobile=@Model.Mobile">First</a>
                                                            </li>
                                                            <li>
                                                                <a href="/Admin/AdminReport/VendorDetails?page=@(Model.Pager.CurrentPage - 1)&Name=@Model.Name&LoginId=@Model.LoginId&Mobile=@Model.Mobile">Previous</a>
                                                            </li>
                                                        }
                                                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                        {
                                                            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                                                <a href="/Admin/AdminReport/VendorDetails?page=@page&Name=@Model.Name&LoginId=@Model.LoginId&Mobile=@Model.Mobile">@page</a>
                                                            </li>
                                                        }
                                                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                        {
                                                            <li>
                                                                <a href="/Admin/AdminReport/VendorDetails?page=@(Model.Pager.CurrentPage + 1)&Name=@Model.Name&LoginId=@Model.LoginId&Mobile=@Model.Mobile">Next</a>
                                                            </li>
                                                            <li>
                                                                <a href="/Admin/AdminReport/VendorDetails?page=@(Model.Pager.TotalPages)&Name=@Model.Name&LoginId=@Model.LoginId&Mobile=@Model.Mobile">Last</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </footer>*@

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>

        </div>



    }

</div>
<div id="tblpdff" style="font-size:50px;">

</div>


@section body{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $(function () {
            $('input[name="Date"]').daterangepicker({
                //opens: 'left'
                
                timePicker: true,
                startDate: moment().startOf('month'),
        endDate: moment().endOf('month'),
                locale: {
                    format: 'DD/M/YYYY'
                }
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
        
    </script>
}
<script type="text/javascript">
    $(function () {

        /*$('input[name="Date"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'DD/M/YYYY'
            }
        });*/

    });
</script>
<script>
    function ChangeIntuptType() {
        var dllval = $('#SearchDll').val();
        $('#search').attr('name', dllval);
        return false;
    }

</script>
<script>

    $('#btnpdf').click(function () {
        debugger;
        var col = [0,4]; // coloms to remove

        var tbl = $('#tblCustomers').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 30,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Franchisee Sale',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "Franchisee Sale");
        doc.page++;
        doc.save('Franchisee Sale.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('tblCustomers').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Franchisee Sale</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

    // PRINT THE CONTENTS-----------------------------
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }



</script>

