@model LifeOne.Models.AdminManagement.AEntity.MPayoutReport
@{
    ViewBag.Title = "Payout Report For Bank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <div class="row page-titles">
        <div class="ptitle">
            <h4 class="mb-1 mt-0">Payout Report For Bank</h4>
            @*<nav aria-label="breadcrumb" class="float-left">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#-">Accounts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payout Report For Bank</li>
                    </ol>
                </nav>*@
        </div>
        <div class="pbutton">
            <div class="right text-right">
                <span>
                    @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                </span>
                <span>
                    <a href="#" onclick="fCallPaging(1,1)" class="btn btn-success btn-rounded btngreen" data-toggle="tooltip" data-placement="top" title="Download Excel"><i class="fa fa-file-excel-o"></i></a>
                    @*<button class="btn btn-default btn-custom btn-rounded btn-sm" onclick="printDiv('customers')" title="Print"><i class="fa fa-print"></i></button>*@
                    <button class="btn btn-success btn-rounded btnPdf" id="btnpdf" data-toggle="tooltip" data-placement="top" title="Download PDF" ><i class="fa fa-file-pdf-o"></i></button>

                </span>

            </div>
        </div>
    </div>

    <div id="no-more-tables">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">

                        <form action="" method="post">
                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">

                                            <div class="col-md-2">
                                                @Html.HiddenFor(m => m.Page)
                                                @Html.HiddenFor(m => m.IsExport)
                                                <div class="form-group">
                                                    <label>From Date</label>

                                                    <input type="date" name="fdate" id="fdate" class="form-control" value="@ViewBag.fdate" />

                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @*<label>To Date</label>*@

                                                    <label>To Date</label>
                                                    <input type="date" name="tdate" id="tdate" class="form-control" value="@ViewBag.tdate" />

                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Payout No</label>
                                                    @Html.DropDownListFor(m => m.PayoutNo, new SelectList(ViewBag.PayoutMaster, "Value", "Text"), new { @class = "form-control", @id = "PayoutNo" })

                                                    @*<input type="text" id="payoutNo" name="payoutNo" class="form-control" value="@ViewBag.PayoutNo" />*@

                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Direct Seller Id</label>

                                                    <input type="text" id="MemberLoginId" name="MemberLoginId" placeholder="Enter Direct Seller Id" class="form-control" value="@ViewBag.LoginId" />
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch" >
                                                    
                                                    <a href="/Payout-Report-For-Bank" class="btn btn-secondary" onClick="fclaer();" style="margin-top:1.5em;">Reset</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive" id="customers">
                            <table class="table table-striped mb-0" id="tblCustomers">
                                <thead>
                                    <tr>
                                        <th align="left" scope="col">#Sn.</th>
                                        <th align="left" scope="col">Direct Seller Id</th>
                                        <th align="left" scope="col">Direct Seller</th>
                                        <th align="left" scope="col">Mobile No</th>
                                        <th align="left" scope="col">Payout No.</th>
                                        <th align="left" scope="col">Date</th>
                                        <th align="left" scope="col">Bank Name</th>
                                        <th align="left" scope="col">IFSC Code </th>
                                        <th align="left" scope="col">Bank Branch</th>
                                        <th align="left" scope="col">Account No</th>
                                        <th align="left" scope="col">Net Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Objlist.Count > 0)
                                    {
                                       
                                        int i = 1;
                                        int page = Model.Pager.CurrentPage;
                                        page = (page - 1);
                                        i = ((page) * (Model.Pager.PageSize));


                                        foreach (var item in Model.Objlist)
                                        {

                                            <tr>
                                                <td data-title="#SN:">@(i+1)</td>
                                                <td>@item.LoginId</td>
                                                <td>@item.Name</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.PayountNo</td>
                                                <td>@item.ClosingDate</td>
                                                <th>@item.BankName</th>
                                                <th>@item.IFSCCode</th>
                                                <th>@item.MemberBranch</th>
                                                <th>@item.MemberAccNo</th>
                                                <td>@item.NetIncome</td>
                                            </tr>
                                            i++;
                                        }
                                        i++; 
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="text-align:center" colspan="12">No Record Found..</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>


                        <footer class="card-footer bg-white p-2">
                            <div class="d-md-flex align-items-center justify-content-between">

                                @if (Model != null)
                                {
                                    if (Model.Pager != null)
                                    {
                                        if (Model.Pager.EndPage > 1)
                                        {
                                            <div> <small class="text-muted inline">showing @Model.Objlist.Count  of @Model.Objlist[0].TotalRecords items</small> </div>
                                            <div>
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    @if (Model.Pager.CurrentPage > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" onclick="fCallPaging(1,0)" href="#">First</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage - 1),0)" href="#">Previous</a>
                                                        </li>
                                                    }
                                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                    {
                                                        <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">


                                                            <span><a class="page-link" onclick="fCallPaging(@page,0)" href="#">@page</a></span>
                                                        </li>
                                                    }
                                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                    {
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage + 1),0)" href="#">Next</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.TotalPages),0)" href="#">Last</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </footer>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>

</div>
<div id="tblpdff" style="font-size:50px;">

</div>
<script>
    function fCallPaging(val, IsExport) {
    
        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#IsExport").val(IsExport);
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');

    }
</script>
<script>
    function fclaer() {
        $(".fclear").val('');
        $("#Page").val(1);
        $("#IsExport").val(0);
        window.location.reload();
    }




    function btnpdf() {
        var col = [0]; // coloms to remove

        var tbl = $('#tblCustomers').clone();
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 35,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'PayoutReport List',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "PayoutReport");
        doc.page++;
        doc.save('PayoutReport.pdf');

    }


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('DepartmentTable').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>PaymentDetailsReport</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }

    // PRINT THE CONTENTS-----------------------------
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }


    //function GetPayoutReport() {

    //    var _fromdate = $("#fdate").val();
    //    var _Todate = $("#tdate").val();
    //    var _payoutNo = $("#payoutNo").val() == '' ? 0 : parseInt($("#payoutNo").val());
    //    var _LoginId = $("#MemberLoginId").val();
    //    if (_payoutNo == '') {
    //        if (_LoginId == '') {
    //        }
    //        if (_fromdate == '' || _Todate == '') {
    //            alert("Please Fill atleast one filter criteria ie either Payout No, or Direct Seller Id or From and to Date. ");
    //            return false;
    //        }
    //    }


    //};

//Create PDf

    
    // PRINT THE CONTENTS-----------------------------
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

</script>