@model LifeOne.Models.AssociateManagement.AssociateEntity.RewardsModel
@{
    ViewBag.Title = "Rewards";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}


<style>
    .pull-right {
        float: right;
    }
</style>
<div class="content-wrapper-before"></div>
<div class="row page-titles">
    <div class="ptitle">
        <h3 class="text-themecolor text-white">Bonanza Details</h3>
        <ol class="breadcrumb"><li class="breadcrumb-item"><a href="#">Loyalty Income </a></li><li class="active breadcrumb-item" aria-current="page">Bonanza</li></ol>
    </div>


</div>
<div class="row">

    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive" id="testTable">
                    <table class="table color-table inverse-table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Image</th>
                                <th>Reward</th>
                                <th>Target</th>
                                <th>Current</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Acheived On</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Rewardslst != null)
                                {
                                    int SNO = 0;
                                    foreach (var item in Model.Rewardslst)
                                    {
                                        <tr>
                                            <td>@(SNO = SNO + 1)</td>
                                            <td><img src="@item.RewardImg" style="height:50px;width:50px;" /></td>
                                            <td>@item.RewardName</td>
                                            <td>@item.TargetPoint</td>
                                            <td>

                                                <span>Current: <label class="badge badge-success">@item.CurrentBusiness</label></span>&nbsp;&nbsp;
                                                <span>Balance Target: <label class="badge badge-success">@item.BalanceBusiness</label></span><br />

                                            </td>

                                            <td>
                                                <span><b>@item.FromDate</b></span> To <span><b>@item.ToDate</b></span>
                                            </td>
                                            <td>

                                                @if (item.Status == "Achieved")
                                                {
                                                    <span class="badge badge-success">@item.Status</span>
                                                }
                                                else if (item.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">@item.Status</span>
                                                }
                                                else if (item.Status == "Skipped")
                                                {
                                                    <span class="badge badge-danger">@item.Status</span>
                                                }
                                                else if (item.Status == "Claimed")
                                                {
                                                    <span class="badge badge-info">@item.Status</span>
                                                }
                                                else if (item.Status == "Claim Denied")
                                                {
                                                    <span class="badge badge-red">@item.Status</span>
                                                }

                                                else if (item.Status == "Approved By Admin")
                                                {
                                                    @*<span class="badge badge-primary">@item.Status</span>*@
                                                    <a class="text-primary" style="cursor:pointer;text-decoration:underline" onclick="ShowBankDetails(@item.PK_RId)"><span class="badge badge-primary">@item.Status</span></a>
                                                }

                                            </td>
                                            <td>@item.AchievedOn</td>

                                            @if (item.Status == "Achieved")
                                            {
                                                <td>
                                                    <a href="javascript:void(0);" class="btn btn-success btn-sm" onclick="Claim(@item.PK_RId)">Claim</a>&nbsp;
                                                    <a href="javascript:void(0);" class="btn btn-danger btn-sm" onclick="Skip(@item.PK_RId)">Skip</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                        </tr>
                                    }
                                }
                            }

                        </tbody>

                    </table>
                    @*<div>
                            <h4>1 Point = Rs. 50000 business.</h4>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalBankDetails" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="max-width: 50%!important;">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" style="width:100%">
                        Bank Detail
                        <button type="button" class="close text-right" data-dismiss="modal">x</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" >

                        <table class="table small table-hover">
                            <thead>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Payment Mode</th>
                                    <th>Cheque No</th>
                                    <th>Cheque Date</th>
                                    <th>Branch</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>

                            <tbody id="tbankdetail">
                            </tbody>

                        </table>


                    </div>

                </div>


            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function Claim(pId) {

        if (confirm('Do you want to Sent Request ?')) {

            if (pId == "") {

                return false;
            }
            else {
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    tradition: true,
                    url: '/Accounts/BonanzaClaim',
                    data: JSON.stringify({ rId: pId }),
                    success: function (data) {
                        if (data.Msg == "1") {
                            alert('Request Claim Successfully!');
                            location.href = "/Accounts/Rewards";
                            return false;
                        }

                        else {
                            alert('Please Try Again!!');
                            return false;
                        }
                    },
                    error: function (error) {
                        alert('Something went wrong !!');
                        return false
                    }
                });
            }
        }
    }

    function Skip(pId) {

        if (confirm('Do you want to Skip this Bonanza ?')) {
            if (pId == "") {
                return false;
            }
            else {

                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    tradition: true,
                    url: '/Accounts/BonanzaSkip',
                    data: JSON.stringify({ rId: pId }),
                    success: function (data) {
                        if (data.Msg == "1") {
                            alert('Skipped Successfully!!');
                            location.href = "/Accounts/Rewards";
                            return false;
                        }
                        else if (data.Msg == "2") {

                            alert('Already Skipped !!');
                            location.href = "/Accounts/Rewards";
                            return false;
                        }
                        else {
                            alert('Please Try Again!!');
                            return false;
                        }
                    },
                    error: function (error) {
                        alert('Something went wrong !!');
                    }
                });
            }
        }
    }

    function ShowBankDetails(pId) {

        var srno = 0;
        $("#tbankdetail").html('');


        if (pId == "") {

            return false;
        }
        else {
            $.ajax({
                type: 'post',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                tradition: true,
                url: '/Accounts/ShowBankDetailsReward',
                data: JSON.stringify({ rId: pId }),
                success: function (data) {

                    $('#ModalBankDetails').modal('show');



                    $("#tbankdetail").append(
                        '<tr>' +
                        '<td>' + data.ChequeDDBankName + '</td>' +
                        '<td>' + data.PaymentModeName + '</td>' +
                        '<td>' + data.ChequeDDNo + '</td>' +
                        '<td>' + data.ChequeDDDate + '</td>' +
                        '<td>' + data.BankBranch + '</td>' +
                        '<td>' + data.PaidAmount + '</td>' +
                        '</tr>')

                },
                error: function (error) {
                    alert('Something went wrong !!');
                    return false
                }
            });
        }

    }
</script>
