@model LifeOne.Models.AssociateManagement.AssociateEntity.AssosiateRequest

@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
@{
    string msg = (string)TempData["Message"];
    string code = Convert.ToString(TempData["Flag"]);
    if (msg != null)
    {
        if (code.Equals("1"))
        {
            <div class="alert alert-success m-t-30" id="divsuccess">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <strong>Success!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        }
        else
        {
            <div class="alert alert-success m-t-30" id="divUpdate">
                <i class="mdi mdi-checkbox-multiple-marked-outline"></i>  <strong>Error!</strong> @msg
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
        }
    }
}

<div>
    @using (Html.BeginForm("EWalletRequest", "AssociatePlanIncome", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="content">
            <div class="content-wrapper-before"></div>
            <div class="row page-titles">
                <div class="ptitle">
                    <h4 class="mb-1 mt-0 text-white">EWallet Request</h4>
                    @*<nav aria-label="breadcrumb" class="float-left mt-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Associate-Dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">My Account</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>*@
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="formtab">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Login Id</label>
                                            @*<input type="text" asp-for="LoginId" class="form-control" readonly />*@
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @id = "LoginId", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            @*<input type="text" asp-for="Name" class="form-control" readonly />*@
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Amount</label>
                                            @*<input type="text" asp-for="Amount" class="form-control" placeholder="Amount" maxlength="10" onkeypress="return isNumberKey(event)" />*@
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @id = "Amount", @onkeypress = "return isNumberKey(event)" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Payment Mode</label>
                                            @Html.DropDownListFor(model => model.PaymentMode,
         new SelectList(new List<SelectListItem> {
             new SelectListItem { Text = "Select", Value = "0" },
             new SelectListItem { Text = "Cash", Value = "Cash" },
             new SelectListItem { Text = "Cheque", Value = "Cheque" },
             new SelectListItem { Text = "UPI", Value = "UPI" },
             new SelectListItem { Text = "DD", Value = "DD" },
             new SelectListItem { Text = "NEFT", Value = "NEFT" },
             new SelectListItem { Text = "RTGS", Value = "RTGS" },
             //new SelectListItem { Text = "Gateway", Value = "Gateway" }
         }, "Value", "Text"),
         new { @class = "form-control", @id = "PaymentMode", @onchange = "ChangePaymentMode();", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="ChequeDDNo_id" style="display:none;">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-placeholder" for="name" id="changeLabelName">NEFT/RTGS/Check/DD No</label>
                                            @Html.TextBoxFor(m => m.ChequeDD_No, new { @class = "form-control", @id = "ChequeDD_No" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row" id="Bank_id" style="display:none;">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Bank Name</label>
                                            @Html.DropDownListFor(m => m.BankId, new SelectList(ViewBag.BankDDL, "Value", "Text"), new { @class = "form-control", @id = "BankId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="Date_id" style="display:none">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>

                                            @Html.TextBoxFor(m => m.Date, new { @class = "datepicker-all form-control", @id = "Date", @type = "date" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <br />
                                            <button type="button" value="Save" class="btn btn-success" onclick="return validate();" name="Save" id="Save">Request Amount</button>
                                            @*<input type="submit" value="Save Request" name="Request" id="Request" class="btn btn-success" onclick="return validate();"/>*@

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker-all").datepicker({
            maxDate: '0',
            yearRange: "-100:",
            showAnim: "slide",
            dateFormat: "mm-dd-yy",
            changeMonth: true,
            changeYear: true,
        });
        $('#Amount').val('');
    });
    function validate() {
        debugger;
        $(".errortext").removeClass("errortext");
        if ($('#Amount').val() == 0 && $('#Amount').val() <= 0) {
            //$("#Amount").addClass('errortext');
            alert('Please Enter Amount');
            $("#Amount").focus()
            return false;
        }
        if ($('#PaymentMode').val() == '0') {
            //$("#PaymentMode").addClass('errortext');
            alert('Please select Payment mode');
            $("#PaymentMode").focus()
            return false;
        }
        if ($('#PaymentMode').val() != "Cash" && $('#PaymentMode').val() != "Free" && $('#PaymentMode').val() != "UPI" && $('#PaymentMode').val() != "Gateway") {
           
            if ($('#ChequeDD_No').val().trim() == "") {
                alert('Please enter Cheque/DD/RTGS/NEFT No.');
                $('#ChequeDD_No').focus();
                return false;
            }
            var selectedText = $('#BankId option:selected').val().trim();

            if (selectedText == "0" || selectedText == "" || selectedText == null) {
                alert('Please Select Bank.');
                $('#BankId').focus();
                return false;
            }
            if ($('#Date').val() == "") {
                alert('Please enter Date');
                $('#Date').focus();
                return false;
            }

        }
        else if ($('#PaymentMode').val() == "UPI") {
            if ($('#ChequeDD_No').val().trim() == "") {
                alert('Please enter UPI.');
                $('#ChequeDD_No').focus();
                return false;
            }
        }

        $.ajax({
            url: '/Associate/AssociatePlanIncome/RequestEwallet',
            type: 'Post',
            data: { LoginId: $('#LoginId').val(), Amount: $('#Amount').val(), PaymentMode: $('#PaymentMode').val(), ChequeDD_No: $('#ChequeDD_No').val(), BankId: $('#BankId').val() },
            success: function (response) {
                if (response.Flag == 1) {
                    //window.location = "/Home/RazorPayPaymentPage";
                    window.location = "/Associate/AssociatePlanIncome/EWalletList";
                }
                else {
                    alert(response.Message)
                }
               
            }, error: function () {
               

            }
        });
       
    }


    function ChangePaymentMode() {
        debugger;
        var PMode = $("#PaymentMode").val();
        if (PMode == "Cash" || PMode == "0" || PMode == "Free" || PMode == "Gateway") {
            $("#ChequeDDNo_id").hide();
            $("#Bank_id").hide();
            $("#Date_id").hide();
        }
        else if (PMode == "UPI") {
            $('#changeLabelName').text('UPI Number');
            $("#ChequeDDNo_id").show();
            $("#Bank_id").hide();
            $("#Date_id").hide();
        }
        else {
            $('#changeLabelName').text('NEFT/RTGS/Check/DD No');
            $("#Bank_id").show();
            $("#Date_id").show();
            $("#ChequeDDNo_id").show();
        }

    }

    $("#amount").keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode;
        if ((charCode >= 48 && charCode <= 57) || charCode == 46 || charCode == 8) {
            var value = $(this).val();
            if (charCode == 46 && value.indexOf('.') != -1) {
                e.preventDefault();
            }
        } else {
            e.preventDefault();
        }
    });



</script>

