@model LifeOne.Models.AssociateManagement.AssociateEntity.AssciateIncomeModel
@{
    ViewBag.Title = "IncomeDetails";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}

<style>
    .alert-warning {
        background-color: #fcf8e3 !important;
        border-color: #faebcc !important;
    }
</style>
<div class="content">
    <div class="content-wrapper-before"></div>
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0 text-white">@ViewBag.IncomeType</h4>
                <nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Associate</a></li>
                        <li class="breadcrumb-item"><a href="#">My Income</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.IncomeType</li>
                    </ol>
                </nav>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                        </div>

                        <div class="table-responsive" >
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th nowrap>#Sn.</th>
                                        <th nowrap>Login Id</th>
                                        <th nowrap>Display Name</th>
                                        <th nowrap>Closing Date</th>
                                        <th nowrap>Payout No</th>
                                        <th nowrap>Commission</th>
                                        <th nowrap>Net Amount</th>
                                        <th nowrap>Income Type</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                    {
                                        int SNo = 0;
                                        foreach (var item in Model.AssciateIncomeList)
                                        {
                                            <tr>
                                                <td data-title="#SN:">@(SNo = SNo + 1)</td>
                                                <td data-title="LoginId:">@item.LoginID</td>
                                                <td data-title="DisplayName:">@item.DisplayName</td>
                                                <td data-title="ClosingDate:">@item.ClosingDate</td>
                                                <td data-title="PayoutNo:">@item.PayoutNo</td>
                                                <td data-title="CommissionPercentage:">@item.CommissionPercentage</td>
                                                <td data-title="NetAmount:">@item.NetAmount</td>
                                                <td data-title="PlanName:">@item.PlanName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3">No Record Found..</td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>

                    <footer class="card-footer bg-white p-2">
                        <div class="d-md-flex align-items-center justify-content-between">

                            @if (Model != null)
                            {
                                if (Model.Pager != null)
                                {
                                    if (Model.Pager.EndPage > 1)
                                    {
                                        <div> <small class="text-muted inline">showing @Model.AssciateIncomeList.Count  of @Model.AssciateIncomeList[0].TotalRecords items</small> </div>
                                        <div>
                                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                                @if (Model.Pager.CurrentPage > 1)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="/Associate/AssociatePlanIncome/IncomeDetails?PlanId=@Model.PlanId">First</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/Associate/AssociatePlanIncome/IncomeDetails?Page=@(Model.Pager.CurrentPage - 1)&PlanId=@Model.PlanId">Previous</a>
                                                    </li>
                                                }
                                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                {
                                                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                        <a class="page-link" href="/Associate/AssociatePlanIncome/IncomeDetails?Page=@page&PlanId=@Model.PlanId">@page</a>
                                                    </li>
                                                }
                                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" href="/Associate/AssociatePlanIncome/IncomeDetails?Page=@(Model.Pager.CurrentPage + 1)&PlanId=@Model.PlanId">Next</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/Associate/AssociatePlanIncome/IncomeDetails?Page=@(Model.Pager.TotalPages)&PlanId=@Model.PlanId">Last</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }

                            }

                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->

</div>


