@model LifeOne.Models.Reports

@{
    ViewBag.Title = "BusinessStatistics";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<script src="~/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Content/dist/js/CommonJS.js?1.0"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<div class="content-wrapper-before"></div>
@using (Html.BeginForm("GetBusinessStatistics", "AssociateReport", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0 text-white">My Business</h4>

                @*<nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Associate-Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">My Business</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Business Summary</li>
                    </ol>
                </nav>*@
            </div>

        </div>
        <div class="row">

            <!-- end col -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="formtab">
                            <div class="row">
                                <div class="col-md-2" style="position:relative">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div id="Datetime" class="input-group date " data-date-format="dd-mm-yyyy">
                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fclear", @name = "FromDate", @type = "date" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="position:relative">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div id="Datetime" class="input-group date " data-date-format="dd-mm-yyyy">
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control fclear", @name = "ToDate", @type = "date" })

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 tm-sc-button mt-10">
                                    <br />
                                    <button type="submit" class="btn btn-warning" id="SaveBtn">Submit</button>
                                </div>
                            </div>

                            <div class="row">



                                <div class="col-md-5 col-xl-2">
                                    <div class="card" style="background: #69abff">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Total Sponsoring </span>
                                                    <p><h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["TotalSponsoring"].ToString()</h2></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-2">
                                    <div class="card" style="background: #36cd9a">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white"> Active Sponsoring</span>
                                                    <p><h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["ActiveSponsoring"].ToString()</h2></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-2">
                                    <div class="card" style="background:#ff6780">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Inactive Sponsoring</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["InactiveSponsoring"].ToString()</h2></p>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-3">
                                    <div class="card" style="background:#333333">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Direct Bv</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["DirectBv"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 col-xl-3">
                                    <div class="card" style="background: #dbb44b">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Direct Business</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["DirectBusiness"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #6a4b4b">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white"> Left BV</span>
                                                    <p><h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["LeftBV"].ToString()</h2></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #6a4b4b">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Right BV</span>
                                                    <p> <h2 class="mb-0 text-white">@Model.dtBusinessDetails.Rows[0]["RightBV"].ToString()</h2></p>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #ff6958">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Matching BV</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["MatchingBV"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #e47ea3">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Left BV Repurchase</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["LeftBVRepurchase"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #e47ea3">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Right BV Repurchase</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["RightBVRepurchase"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xl-4">
                                    <div class="card" style="background: #5f5465">
                                        <div class="card-body p-0 min-auto">
                                            <div class="media p-3">
                                                <div class="media-body">
                                                    <span class="text-uppercase font-size-12 font-weight-bold text-white">Matching BV Repurchase</span>
                                                    <p> <h2 class="mb-0 text-white"> @Model.dtBusinessDetails.Rows[0]["MatchingBVRepurchase"].ToString()</h2></p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="card-header">
                                                <h5> Direct Sponsoring</h5>
                                            </div>
                                            <br />
                                            <div class="table-responsive" id="customers">
                                                <table class="table mb-0" id="tblCustomers">
                                                    <thead>
                                                        <tr>

                                                            <th>Login Id</th>
                                                            <th>Name</th>
                                                            <th>Package</th>
                                                            <th>Franchise LoginId</th>
                                                            <th>Franchise Name</th>
                                                            <th>Topup Date</th>
                                                            <th>Joining Date</th>
                                                            <th>PayMent Mode</th>
                                                            <th style="text-align:right">Amount</th>
                                                            <th style="text-align:right">BV</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null && Model.dtDirectBusiness.Rows.Count > 0)
                                                        {

                                                            for (var i = 0; i < Model.dtDirectBusiness.Rows.Count; i++)
                                                            {

                                                                <tr>

                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["LoginId"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["Name"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["PackageName"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["FLoginId"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["FranchiseName"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["TopupDate"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["JoiningDate"].ToString()</td>
                                                                    <td style="width:312px;">@Model.dtDirectBusiness.Rows[i]["PayMentMode"].ToString()</td>
                                                                    <td style="text-align:right">@Model.dtDirectBusiness.Rows[i]["Amount"].ToString()</td>
                                                                    <td style="text-align:right">@Model.dtDirectBusiness.Rows[i]["BV"].ToString()</td>

                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
