@model LifeOne.Models.HomeManagement.HEntity.MCustomerRegistration
@{
    ViewBag.Title = "AdminRagistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/dist/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/dist/js/sweetalert.min.js"></script>

<style>
    /*    .bg-body-secondary {
        --bs-bg-opacity: 1;
        background-color: #f5f5f5 !important;
    }
    h2, .h2 {
        font-size: 2.5rem;
    }
    .breadcrumb-item.active {
        color: #000;
    }*/
</style>

@using (Html.BeginForm("AdminRagistration", "Admin", FormMethod.Post, new { @id = "form1" }))
{
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">Direct Seller Ragistration</h4>
                @*<ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="/Admin-Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"> <a href="">Transactions</a></li>
                    <li class="active breadcrumb-item" aria-current="page">TopUp</li></ol>*@
            </div>

            <div class="psearch">
                <div class="input-group">

                </div>
            </div>
        </div>

        <div class="row">
            @if (ViewBag.Alert != null)
            {
                <div class="col-md-12" id="alertBoxx">

                    <div class="alert  alert-dismissible fade show" style="background-color:lightgreen;border-color:#faebcc;" role="alert">
                        <strong> @Html.Raw(ViewBag.Alert)</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                </div>
            }

            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="card card-outline-info">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Sponsor Code<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.InviteCode, new { @class = "form-control", @autocomplete = "Off", @onchange = "GetReferDetails(this.id)", @placeholder = "Sponsor Code" })
                                                    @Html.HiddenFor(Model => Model.Fk_SponserId)
                                                    @Html.HiddenFor(Model => Model.Fk_MemId)
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Sponsor Name<span style="color:red;">*</span></label>
                                                    <input id="sponsorName" name="sponsorName" class="form-control" type="text" disabled value="@Html.DisplayFor(Model => Model.SponserName)">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Place Id <span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.PlaceUnderId, new { @id = "PlaceUnderId", @class = "form-control", @autocomplete = "Off", @onchange = "GetPaceUnderIdReferDetails(this.id)", @placeholder = "Place Id" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Place Name<span style="color:red;">*</span></label>
                                                    <input id="placeIdName" name="sponsorName" class="form-control" type="text" disabled value="@Html.DisplayFor(Model => Model.SponserName)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <label class="control-label">Placement <span class="text-danger">*</span></label>

                                                <div class="custom_radio">
                                                    <input type="radio" id="Male" name="Leg" value="L">
                                                    <label for="Left">Left</label>
                                                    <input type="radio" id="Female" name="Leg" value="R">
                                                    <label for="Right">Right</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Date Of Birth<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.DOB, new { @id = "DOB", @autocomplete = "off", @class = "form-control fdatepicker", @style = "height: 52px; border: 2px solid #e4ecf2;border-radius: inherit;", @placeholder = "DD/MM/YYYY" })
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Full Name<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.Name, new { @id = "Name", @class = "form-control" })
                                                    <span class="small">(Full Name as on your PAN CARD)</span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Mobile No.<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.MobileNo, new { @id = "MobileNo", @class = "form-control only-numeric", @onchange = "checkMobile(this.id)", @maxlength = "10" })
                                                    <span class="small">This mobile no. will be used for all official communications.</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Password<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @id = "Password", @type = "password", @autocomplete = "off", onchange = "checkPassword()" })
                                                    <span class="small">Password must be minimum 6 characters long, you can use number or letters of your choice.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Confirm Password<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.ConPassword, new { @id = "ConPassword", @class = "form-control", @type = "password" })
                                                    <span class="small">Confirm password should match password entered above.</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">Pin Code.<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.Pincode, new { @id = "Pincode", @class = "form-control only-numeric", @maxlength = "6", @minlength = "6", @onchange = " return GetDistrictCityStateDetailsByPincode(this.id)" })

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">State<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.StateName, new { @id = "StateName", @class = "form-control", @readonly = "readonly" })
                                                    @Html.HiddenFor(Model => Model.StateId, new { @id = "StateId" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="name">City<span style="color:red;">*</span></label>
                                                    @Html.TextBoxFor(Model => Model.DistrictName, new { @id = "DistrictName", @class = "form-control", @readonly = "readonly" })
                                                    @*<input class="form-control" type="text" id="DistrictName" name="DistrictName">*@
                                                    @Html.HiddenFor(Model => Model.DistrictId, new { @id = "DistrictId" })
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6">

                                                <input type="button" name="Save" class="btn btn-fill btn-success" id="register" style="display:@ViewBag.add;" onclick="Savedata(1)" value="Register" />
                                                @*<input type="submit" id="Save" name="Save" class="btn btn-fill btn-success" style="display:none;" value="Submit" />*@
                                                <input type="submit" id="Save" name="Save" class="btn btn-fill btn-success" style="display:none;" value="Submit" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <span id="dbResponse" style="color:red"></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    $('.fdatepicker').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        yearRange: 'c-100:c+10'
    });
    function Savedata(i) {
        debugger;
        var InviteCode = $('#InviteCode').val();
        var SponserName = $('#sponsorName').val();
        var PlaceUnderId = $('#PlaceUnderId').val();
        var Fk_SponserId = $('#Fk_SponserId').val();
        var Name = $("#Name").val();
        var MobileNo = $("#MobileNo").val();
        var Pincode = $("#Pincode").val();
        var DistrictName = $("#DistrictName").val();
        var StateName = $("#StateName").val();
        var Leg = $('[name="Leg"]:checked').val();
        var Password = $("#Password").val();
        var ConPassword = $("#ConPassword").val();
        var DOB = $("#DOB").val();





        if (InviteCode == '' || InviteCode == undefined || InviteCode == null) {
            swal('', "Please Enter Referal Id", 'warning');
            status = false;
            showTab(savetab - 1);
            savetab = 0;
            currentTab = 0;
            return false;
        }
        else {
            status = true;
        }
        if (PlaceUnderId == '' || PlaceUnderId == undefined || PlaceUnderId == null) {
            swal('', "Please Enter Place Under Id", 'warning');
            return false;
        }
        if (Leg == '' || Leg == undefined || Leg == null) {
            swal('', "Please Select Leg", 'warning');
            return false;
        }
        if (DOB == '' || DOB == undefined || DOB == null) {
            swal('', "Please enter DOB", 'warning');

            return false;
        }
        if (Name == '' || Name == undefined || Name == null) {
            swal('', "Please enter name", 'warning');


            savetab = 0;
            currentTab = 0;
            return false;
        }

        if (MobileNo == '' || MobileNo == undefined || MobileNo == null) {
            swal('', "Please enter MobileNo.", 'warning');
            status = false;

            return false;
        }
        if (Password == '' || Password == undefined || Password == null) {
            swal('', "Please enter Password", 'warning');

            return false;
        }

        if (ConPassword == '' || ConPassword == undefined || ConPassword == null) {
            swal('', "Please enter Confirm Password", 'warning');

            return false;
        }

        if (Password != ConPassword) {
            swal('', "password or Confirm Password does not match", 'warning');

            return false;
        }


        if (Pincode == "" || Pincode == undefined || Pincode == '0') {
            swal('', "Please enter Pincode", 'warning');

            return false;
        }

        if (DistrictName == "" || DistrictName == undefined) {
            swal('', "Please enter District Name", 'warning');

            return false;
        }
        if (StateName == "" || StateName == undefined) {
            swal('', "Please enter State ", 'warning');

            return false;
        }




        var CustomerDetails = {
            InvitedBy: InviteCode,
            SponserName: SponserName,
            PlaceUnderId: PlaceUnderId,
            Fk_SponserId: Fk_SponserId,
            FirstName: Name,
            MobileNo: MobileNo,
            Pincode: Pincode,
            City: DistrictName,
            State: StateName,
            Leg: Leg,
            //  Gender: Gender,
            DOB: DOB,
            Password: Password,

        }

        $.post("/Home/CustomerPrimaryDetails", CustomerDetails, function (data, err) {
            debugger;

            if (data.Flag == "1") {
                swal('', "Details Saved Successfull", 'success');
                window.setTimeout(function () {
                    window.location.reload();
                }, 3000);
                /*window.location.href = "/Home/Congratulations";*/
            }
            else {
                swal('', data.Msg, 'error');
            }
        });

    }
    function GetReferDetails(id) {

        debugger;
        if ($("#InviteCode").val() == "") {
            swal("", "Please enter Sponsor Code", "warning");
            document.getElementById('sponsorName').value = "";
            return false;
        }
        $.ajax({
            url: '/Home/GetReferDetailsWithPlaceHolderId',
            type: 'post',
            dataType: 'json',
            data: { Fk_SponserId: $("#InviteCode").val() },
            success: function (data) {


                if (data.Code == 0) {
                    swal('', data.Remark, 'error');
                    document.getElementById(id).value = "";

                    return;
                }

                if (data.Name == null) {
                    $("#InviteCode").val('');
                    $('#sponsorName').val('');
                    $("#PlaceUnderId").val('')
                    $("#placeIdName").val('')
                    $("#PlaceUnderId").attr("disabled", false);
                    swal('', "Invalid Id", 'error');
                    document.getElementById(id).value = "";
                    return;
                }

                if (data.Name != "" || data.Name != null) {

                    if (data.PlaceIdName != "") {
                        $("#PlaceUnderId").val(data.PlaceIdStatus)
                        $("#placeIdName").val(data.PlaceIdName)
                        $("#PlaceUnderId").attr("disabled", true);
                    }
                    else {
                        $("#PlaceUnderId").val('')
                        $("#placeIdName").val('')
                        $("#PlaceUnderId").attr("disabled", false);
                    }

                    $('#sponsorName').val(data.Name);
                    $('#Fk_SponserId').val(data.Fk_MemId);
                }


            }
        });
    }
    function GetPaceUnderIdReferDetails(id) {
        if (!$('PlaceUnderId').is(':disabled')) {
            if ($("#PlaceUnderId").val() == "") {
                swal("", "Please enter Place Id", "warning");
                document.getElementById('placeIdName').value = "";
                return false;
            }
            $.ajax({
                url: '/Home/GetPalceUnderId',
                type: 'post',
                dataType: 'json',
                data: { Fk_SponserId: $("#InviteCode").val(), Fk_PlaceId: $("#PlaceUnderId").val() },
                success: function (data) {


                    if (data.Code == 0) {
                        swal('', data.Remark, 'error');
                        $("#Left").attr("disabled", true);
                        $("#Right").attr("disabled", true);
                        document.getElementById(id).value = "";
                        return;
                    }
                    if (data.Name != "") {
                        $("#placeIdName").val(data.Name)
                    }
                    else {
                        $("#PlaceUnderId").val('');
                        swal('', "Invalid Id", 'error');
                        document.getElementById(id).value = "";
                        return;
                    }


                }
            });
        }

    }
    function GetDistrictCityStateDetailsByPincode(id) {

        if ($('#Pincode').val == "" || $('#Pincode').val() == 0 || $('#Pincode').val().length != 6) {
            swal('', "Please Enter 6 digit valid Pincode", 'warning');
            $("#StateId").val('');
            $("#DistrictId").val('');
            document.getElementById(id).value = "";
            return false;
        }

        $.ajax({

            url: '/Home/GetStateCityTehsilByPincode',
            type: "POST",
            data: JSON.stringify({ "Pincode": $('#Pincode').val() }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log(response);
                if (response != null) {

                    $("#DistrictName").val(response.DistrictName);
                    $("#StateName").val(response.StateName);
                    window.sessionStorage.setItem("regDistrictDetail", JSON.stringify(response));
                }
                else {
                    swal('', "data does not exists", 'warning');
                    $("#StateName").val('');
                    $("#DistrictName").val('');
                    return false;
                }
            },
            error: function (er) {
                swal('', "Please Re-enter the pincode", 'error');
                document.getElementById(id).value = "";
                $("#StateName").val('');
                $("#DistrictName").val('');
                return false;
            }
        });
    }
    function validateAddress() {
        if ($("Address").val() == "") {
            swal("Please Enter the Address");
        }
    }
    function checkPassword() {
        if ($("Password").val() == "") {
            swal("Please Enter the Address");
        }
        //else if ($("Password").val() == "") {

        //}
    }
    function checkMobile(id) {
        var charCode = document.getElementById(id).value;
        var matchpattern = /^[6-9][0-9]{9}$/;
        var val = matchpattern.test(charCode);

        if (!val) {
            swal('', "Please enter 10 digit mobile number", 'warning');
            document.getElementById(id).value = "";
        }
    }
</script>

