@model LifeOne.Models.FranchiseManagement.FEntity.FranchiseEWalletRequest

@{
    /**/

    ViewBag.Title = "GetFranchiseeEwalletRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("GetFranchiseEwalletRequest", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="row" id="advance-search" style="display:none;">
        <div class="col-md-12">
            <div class="alert alert-warning" style="color:#727272 !important">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="input-group" style="float:left">
                                <select class="form-control" name="Status" id="ddlStatus">
                                    <option value="">--ALL--</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Pending">Pending</option>                                  
                                </select>
                            </div>
                            @*@Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Enter Direct Seller Id" })*@
                        </div>
                    </div>                   
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label style="display:block;"></label>
                            <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">
                            <a href="/GetFranchise-E-WalletReq" class="btn btn-secondary" style="margin-top:1.5em;">Reset</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">E-Wallet Request</h4>
                @*<nav aria-label="breadcrumb" class="float-left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Admin-Dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#-">Franchisee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ewallet Request</li>
                        </ol>
                    </nav>*@
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                    <tr>
                        <th>#Sn.</th>
                        <th>Login Id</th>
                        <th>Direct Seller</th>
                        <th>Requested Date</th>
                        <th>Amount </th>
                        <th>Payment Mode</th>
                        <th>Transaction No</th>
                        <th>Transaction Date</th>
                        <th>Bank Name</th>
                        <th>Bank Branch</th>
                        <th>Upload File</th>
                        <th>Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.dtRequestDetails != null)
                        {
                            if (Model.dtRequestDetails.Rows.Count > 0)
                            {
                                int j = 1;
                                for (int i = 0; i <= Model.dtRequestDetails.Rows.Count - 1; i++)
                                {
                                    <tr class="text-left">
                                        <td>@j</td>

                                        <td>@Model.dtRequestDetails.Rows[i]["LoginID"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["PersonName"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["RequestedDate"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["Amount"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["PaymentMode"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["TransactionNo"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["TransactionDate"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["BankName"].ToString()</td>
                                        <td>@Model.dtRequestDetails.Rows[i]["BankBranch"].ToString()</td>
                                        <td>
                                            @if (Model.dtRequestDetails.Rows[i]["FileUpload"].ToString() == "")
                                            {
                                                <p>No Image</p>
                                            }
                                            else
                                            {
                                                <a href="@Model.dtRequestDetails.Rows[i]["FileUpload"].ToString()" target="_blank">
                                                    <img src="@Model.dtRequestDetails.Rows[i]["FileUpload"].ToString()" style="width:50px;height:50px" />
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            @if (Model.dtRequestDetails.Rows[i]["Status"].ToString() == "Approved")
                                            {

                                                <span class="badge badge-success">@Model.dtRequestDetails.Rows[i]["Status"].ToString()</span>
                                            }
                                            else if (Model.dtRequestDetails.Rows[i]["Status"].ToString() == "Pending")
                                            {

                                                <span class="badge badge-danger">@Model.dtRequestDetails.Rows[i]["Status"].ToString()</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">@Model.dtRequestDetails.Rows[i]["Status"].ToString()</span>
                                            }

                                        </td>

                                        <td>
                                            @if (Model.dtRequestDetails.Rows[i]["Status"].ToString() == "Pending")
                                            {
                                                <a class="btn btn-success btn-sm" href="/Admin/Admin/ApproveFranchiseEwallet?id=@Model.dtRequestDetails.Rows[i]["Pk_RequestId"].ToString()&&Status=Approved"
                                                   onclick="return confirm('Are you sure you want to approve this request?');">
                                                    Approve Request

                                                </a>
                                                <a class="btn btn-danger btn-sm" href="/Admin/Admin/ApproveFranchiseEwallet?id=@Model.dtRequestDetails.Rows[i]["Pk_RequestId"].ToString()&&Status=Declined"
                                                   onclick="return confirm('Are you sure you want to decline this request?');">
                                                    Decline Request
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    j++;
                                }
                            }

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

