@model LifeOne.Models.AdminManagement.AEntity.TopupHistory
@{
    ViewBag.Title = "TopupHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    @using (Html.BeginForm("TopupHistory", "Admin"))
    {
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">Topup History</h4>
            </div>
            <div class="pbutton">
                <div class="right text-right">

                    @*<span>
                            <a href="#" onclick="fCallPaging(1,1)" data-toggle="tooltip" data-placement="top" title="Download Excel" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>

                            <button class="btn btn-success btn-rounded btngreen" id="btnpdf" data-toggle="tooltip" data-placement="top" title="Download PDF"><i class="fa fa-file-pdf-o"></i></button>
                        </span>*@
                </div>
            </div>
        </div>

        <div id="no-more-tables">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            @Html.HiddenFor(m => m.Page)
                                            @*@Html.HiddenFor(m => m.IsExport)*@
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>UTR No</label>
                                                    @Html.TextBoxFor(m => m.UTRNo, new { @class = "form-control", @placeholder = "Enter UTR No" })
                                                </div>
                                            </div>
                                            @*<div class="col-12 col-md-3">
                                                    <div class="form-group">
                                                        <label>Package Name</label>
                                                        @Html.TextBoxFor(m => m.PackageName, new { @class = "form-control", @placeholder = "Enter Package Name" })
                                                    </div>
                                                </div>*@
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Package Name</label>
                                                    @Html.DropDownListFor(m => m.FK_PackageId, new SelectList(ViewBag.ddlPackageList, "Value", "Text"), new { @class = "form-control" })
                                                    <input type="hidden" id="hdnPackageName" name="ProductName" />
                                                </div>
                                            </div>
                                            @*<div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="form-control-placeholder" for="name">Package</label>
                                                        @Html.DropDownListFor(m => m.FK_PackageId, new SelectList(ViewBag.ddlPackageList, "Value", "Text"), new { @class = "form-control clearIniFields", @onchange = "getPackageAmount()", @required = "required" })
                                                        <input type="hidden" id="hdnPackageName" name="ProductName" />
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Joining Form Date</label>
                                                    @Html.TextBoxFor(m => m.JoiningFormDate, new { @class = "form-control", @Type = "date" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Joining To Date</label>
                                                    @Html.TextBoxFor(m => m.JoiningToDate, new { @class = "form-control", @Type = "date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Topup Form Date</label>
                                                    @Html.TextBoxFor(m => m.TopupFormDate, new { @class = "form-control", @Type = "date" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Topup To Date</label>
                                                    @Html.TextBoxFor(m => m.TopupToDate, new { @class = "form-control", @Type = "date" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success" style="margin-top:1.5em;display:none;" value="Search" id="BtnSearch">
                                                    <input type="submit" class="btn btn-success" style="margin-top:1.5em;" value="Search" onclick="fCallPaging(1,0)">
                                                    <input type="submit" class="btn btn-secondary" onClick="fclaer()" style="margin-top:1.5em;" value="Reset">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive" id="customers">
                            <table class="table table-striped mb-0" id="tblCustomers">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>ToLoginId</th>
                                        <th>FromLoginId</th>
                                        <th>FullName</th>
                                        <th>UTR No</th>
                                        <th>Package Name</th>
                                        <th>DOJ</th>
                                        <th>Topup Date</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.dtDetails.Rows.Count > 0)
                                    {
                                        int i = 0;
                                        int page = Model.Page ?? 0;
                                        page = (page - 1);
                                        i = ((page) * (Model.Size));
                                        for (var j = 0; j < Model.dtDetails.Rows.Count; j++)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@Model.dtDetails.Rows[j]["ToLoginId"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["FromLoginId"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["FullName"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["TransactionNo"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["PackageName"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["JoiningDate"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["CreateDate"].ToString()</td>
                                                <td>@Model.dtDetails.Rows[j]["Amount"].ToString()</td>
                                                <td>
                                                    <a href="/Admin/AdminReport/TopupInvoice?id=@Model.dtDetails.Rows[j]["Pk_TransId"].ToString()" target="_blank" class="btn-sm btn btn-info" title="View Invoice"><i class="fa fa-file"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        // Handle empty or null Model scenario
                                    }
                                </tbody>
                            </table>
                        </div>
                        <footer class="card-footer bg-white p-2">
                            <div class="d-md-flex align-items-center justify-content-between">

                                @if (Model != null)
                                {
                                    if (Model.Pager != null)
                                    {
                                        if (Model.Pager.EndPage > 1)
                                        {
                                            <div> <small class="text-muted inline">showing Model.dtDetails.Rows.Count  of @Model.Pager.TotalItems items</small> </div>
                                            <div>
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    @if (Model.Pager.CurrentPage > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" onclick="fCallPaging(1,0)" href="#">First</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage - 1),0)" href="#">Previous</a>
                                                        </li>
                                                    }
                                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                    {
                                                        <li class="page-item @(page == Model.Pager.CurrentPage ? " active" : "" )">


                                                            <span><a class="page-link" onclick="fCallPaging(@page,0)" href="#">@page</a></span>
                                                        </li>
                                                    }
                                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                    {
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage + 1),0)" href="#">Next</a>

                                                        </li>
                                                        <li class="page-item">

                                                            <a class="page-link" onclick="fCallPaging(@(Model.Pager.TotalPages),0)" href="#">Last</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<div id="tblpdff" style="font-size:50px;">

</div>
<script>
    function fCallPaging(val, IsExport) {
        debugger
        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#IsExport").val(IsExport);
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');

    }
    function fclaer() {
        $(".fclear").val('');
        $("#Page").val(1);
        $("#IsExport").val(0);
        $("#UTRNo").val('');
        $("#FK_PackageId").val(0);
        $("#JoiningFormDate").val('');
        $("#JoiningToDate").val('');
        $("#TopupFormDate").val('');
        $("#TopupToDate").val('');
        window.location.reload();
    }

</script>


