
@{
    ViewBag.Title = "TopupHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    @using (Html.BeginForm("TopupHistory", "Admin"))
    {
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">Topup History</h4>
            </div>
            <div class="pbutton">
                <div class="right text-right">
                    <span>
                        @*<a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a>*@
                    </span>
                    <span>
                        <a href="#" onclick="fCallPaging(1,1)" data-toggle="tooltip" data-placement="top" title="Download Excel" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                        @*<button class="btn btn-success btn-rounded btnprint"  onclick="printDiv('customers')" title="Print"><i class="fa fa-print"></i></button>*@
                        <button class="btn btn-success btn-rounded btngreen" id="btnpdf" data-toggle="tooltip" data-placement="top" title="Download PDF"><i class="fa fa-file-pdf-o"></i></button>

                    </span>

                </div>
            </div>
        </div>
        <div id="no-more-tables">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body">

                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label>Login Id</label>
                                                    @*@Html.HiddenFor(m => m.Page)
                                                    @Html.HiddenFor(m => m.IsExport)*@
                                                    
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;display:none;" value="Search" id="BtnSearch">
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" onclick="fCallPaging(1,0)">
                                                    <input type="button" class="btn btn-secondary" onClick="fclaer()" style="margin-top:1.5em;" value="Reset">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive" id="customers">
                                <table class="table table-striped mb-0" id="tblCustomers">
                                    <thead>

                                        <tr>
                                            <th nowrap>#Sn.</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>

                            </div>
                            <footer class="card-footer bg-white p-2">
                                <div class="d-md-flex align-items-center justify-content-between">

                                    @if (Model != null)
                                    {
                                        if (Model.Pager != null)
                                        {
                                            if (Model.Pager.EndPage > 1)
                                            {
                                                <div> <small class="text-muted inline">showing @Model.Objlist.Count  of @Model.Pager.TotalItems items</small> </div>
                                                <div>
                                                    <ul class="pagination pagination-sm m-t-none m-b-none">
                                                        @if (Model.Pager.CurrentPage > 1)
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" onclick="fCallPaging(1,0)" href="#">First</a>

                                                            </li>
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage - 1),0)" href="#">Previous</a>
                                                            </li>
                                                        }
                                                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                        {
                                                            <li class="page-item @(page == Model.Pager.CurrentPage ? " active" : "" )">


                                                                <span><a class="page-link" onclick="fCallPaging(@page,0)" href="#">@page</a></span>
                                                            </li>
                                                        }
                                                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                        {
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.CurrentPage + 1),0)" href="#">Next</a>

                                                            </li>
                                                            <li class="page-item">

                                                                <a class="page-link" onclick="fCallPaging(@(Model.Pager.TotalPages),0)" href="#">Last</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </footer>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>

    }
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Statement Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table" id="TblEmpList">
                            <thead>
                                <tr>
                                    <th>Login Id</th>
                                    <th>FirstName</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.dtDetails.Rows.Count > 0)
                                {
                                    int i = 0;
                                    int page = Model.Page ?? 0;
                                    page = (page - 1);


                                    i = ((page) * (Model.Size));

                                    for (var j = 0; j < Model.dtDetails.Rows.Count; j++)
                                    {

                                        <tr>
                                            <td>@(i = i + 1)</td>
                                            <td>@Model.dtDetails.Rows[j]["LoginId"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[j]["FirstName"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[j]["Amount"].ToString()</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                                else
                                {

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<div id="tblpdff" style="font-size:50px;">

</div>
<script>
    function fCallPaging(val, IsExport) {
        debugger
        if (val == undefined || val == NaN || val == null || val == "" || val == 0) {
            val = 1;
        }
        $("#IsExport").val(IsExport);
        $("#Page").val(val);
        $('#BtnSearch').trigger('click');

    }
    function fclaer() {
        $(".fclear").val('');
        $("#Page").val(1);
        $("#IsExport").val(0);
        window.location.reload();
    }

</script>


