@model LifeOne.Models.AdminManagement.AEntity.FranchiseDashboardViewModel


@{
    ViewBag.Title = "FranchiseDashboard";
    Layout = "~/Views/Shared/_FranchiseLayout.cshtml";
}


<div class="container-fluid">
    <div class="row page-title">
        <div class="col-sm-12 col-xl-12">
            <h4 class="mb-1 mt-0">Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Wallet Balance</span>
                            <h2 class="mb-0">&#x20B9;@Model.FranchiseAmounts.WalletAmt</h2>
                        </div>
                        <div class="align-self-end"><a href="/franchisewalletledger">View More</a>  </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Product Stock Amount</span>
                            <h2 class="mb-0">&#x20B9;@Model.FranchiseAmounts.ProductStockAmt</h2>
                        </div>
                        <div class="align-self-end"><a href="/Franchise-MyStockDetails">View More</a>  </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Franchise Payout</span>
                            <h2 class="mb-0">@Model.FranchiseAmounts.UnpaidIncome</h2>
                        </div>
                        <div class="align-self-end"> <a href="/Franchise-Payout">View More</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Direct Seller Sale Amount</span>
                            <h2 class="mb-0">&#x20B9;@Model.FranchiseAmounts.AssociatSaleAmt</h2>
                        </div>
                        <div class="align-self-end"> <a href="/ViewFranchise-Supply-OrderStatus">View More</a> </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Associate Sale BV</span>
                            <h2 class="mb-0">@Model.FranchiseAmounts.AssociateSaleBv</h2>
                        </div>
                        <div class="align-self-end"> <a href="/ViewFranchise-Supply-OrderStatus">View More</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Pending Order Activation</span>
                            <h2 class="mb-0">@Model.FranchiseAmounts.PendingOrderActivation</h2>
                        </div>
                        <div class="align-self-end"> <a href="/ViewFranchise-Supply-OrderStatus">View More</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-0">
                    <div class="media p-3">
                        <div class="media-body">
                            <span class="text-muted text-uppercase font-size-12 font-weight-bold">Pending Received PO</span>
                            <h2 class="mb-0">@Model.FranchiseAmounts.PendingRecivepo</h2>
                        </div>
                        <div class="align-self-end"> <a href="/Franchise-View-Requested-OrderStatus">View More</a> </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>

    <!-- stats + charts -->
    <!-- row -->
    <!-- products -->
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mt-0 mb-0 header-title">Orders</h5>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        google.charts.load("current", { packages: ["corechart"] });
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Status', ''],
                                ['Approved', @Model.FranchiseOrders.ActiveOrder],
                                ['Pending', @Model.FranchiseOrders.PendingOrder],
                            ]);

                            var options = {
                                //title: 'My Daily Activities',
                                pieHole: 0.4,
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                            chart.draw(data, options);
                        }
                    </script>
                    <div id="donutchart" style="width: 100%; height:300px;"></div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col-->
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action("ExportToExcelPaidDetails","Franchise")" class="btn btn-success btn-sm float-right"> <i class='uil uil-export ml-1'></i> Export </a>
                    <h5 class="card-title mt-0 mb-0 header-title">Paid</h5>
                    <div class="table-responsive mt-4">
                        <table class="table table-hover table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">Invoice No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Paid Amount</th>
                                    <th scope="col">Total BV</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.FranchisePaidList.Count > 0)
                                {
                                    int sno = 0;
                                    foreach (var item in Model.FranchisePaidList)
                                    {

                                        <tr>
                                            <td>@(sno = sno + 1)</td>
                                            <td>@item.InvoiceNo</td>
                                            <td>@item.Name</td>
                                            <td>@item.PaidAmt</td>
                                            <td>@item.TotalPv</td>
                                            <td>@item.Status</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive-->
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col-->
    </div>
    <!-- end row -->



</div>





