@using LifeOne.Models.Manager
@model LifeOne.Models.FranchiseManagement.FEntity.MOrder
@{
    ViewBag.Title = "Request Order Status";
    Layout = "~/Views/Shared/_FranchiseLayout.cshtml";
}

<style>
    .modal-footer {
        background: white;
        width: 100%;
    }

    .modal-body {
        position: relative;
    }

    @@media (min-width: 992px) .modal-lg, .modal-xl {
        max-width: 1150px;
    }
</style>


<div class="container-fluid">
    @using (Html.BeginForm("ViewRequestdOrderStatus", "FranchiseOrderStatus", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="row page-titles">
            <div class="ptitle">
                <h4 class="mb-1 mt-0">Requested Order Status</h4>

                @*<nav aria-label="breadcrumb" class="float-left mt-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Franchise-Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Manage Stock</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Requested Order Status</li>
                    </ol>
                </nav>*@
            </div>
            <div class="pbutton">
                <div class="right text-right">

                    @*<span><a class="advance-search" title="Click here for search" data-toggle="tooltip" data-placement="bottom" href="#-">Search</a></span>*@


                    <span>
                        <a href="@Url.Action("ExportToExcelRequestdOrderList","FranchiseOrderStatus",new {Page=Model!=null && Model.Pager!=null&&Model.Pager.EndPage>0?Model.Pager.CurrentPage:1 })" class="btn btn-success btn-rounded btngreen"><i class="fa fa-file-excel-o"></i></a>
                    </span>
                    <span>
                        <button type="button" class="btn btn-success btn-rounded btnPdf" id="btnpdf"><i class="fa fa-file-pdf-o"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div id="no-more-tables">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body">


                            <div class="row" id="advance-search" style="display:none;">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" style="color:#727272 !important">
                                        <div class="row">
                                            @*<input type="hidden" value="@(Model.fk_MemId == null ? 0 : Model.fk_MemId) " name="fk_MemId" />*@
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Order No</label><br />
                                                    <div id="Datetime" class="input-group date " data-date-format="dd-mm-yyyy">
                                                        @Html.TextBoxFor(m => m.OrderNo, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Date</label><br />
                                                    <div id="Datetime" class="input-group date " data-date-format="dd-mm-yyyy">
                                                        @Html.TextBoxFor(m => m.ApproveDate, new { @class = "form-control selectdate", })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label style="display:block;"></label>
                                                    <input type="submit" class="btn btn-success " style="margin-top:1.5em;" value="Search" id="BtnSearch">

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>




                            <div class="table-responsive" >
                                <table class="table table-striped mb-0" id="tblRequestedOrder">
                                    <thead>
                                        <tr>
                                            <th><b>SNo.</b></th>
                                            <th><b>Order No</b></th>
                                            <th><b>Qty.</b></th>
                                            <th><b>Total&nbsp;PV</b></th>
                                            <th><b>Payment&nbsp;Type</b></th>
                                            <th><b>Order</b></th>
                                            <th><b>Order&nbsp;Status</b></th>
                                            <th><b>Payment&nbsp;Status</b></th>
                                            <th><b>Approved&nbsp;Dt</b></th>
                                            <th><b>Shipped&nbsp;Dt</b></th>
                                            @*<th><b>Invoice</b></th>*@
                                            <th><b>Action</b></th>
                                            @*<th><b>Shipping&nbsp;Status</b></th>
                                                <th><b>Receive&nbsp;Items</b></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.LstOrder != null && Model.LstOrder.Count > 0)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.LstOrder)
                                            {
                                                <tr>
                                                    <td align="left">@(i = i + 1)</td>
                                                    <td align="left"><span> <a href="#" style="text-decoration:underline" data-toggle="modal" data-target="#myModal" onclick="ShowItem(@item.PK_RId)">@item.OrderNo</a></span></td>
                                                    <td align="left"><span>@item.ItemQty</span></td>
                                                    <td align="left"><span>@item.TotalPV</span></td>
                                                    <td align="left"><span>@item.PaymentType</span></td>
                                                    <td align="left">
                                                        <span>Date&nbsp;:&nbsp;@item.OrderDate</span><br />
                                                        <span>Amount&nbsp;:&nbsp;@item.Amount</span>
                                                    </td>
                                                    @if (item.OrderStatus == "Pending")
                                                    {
                                                        <td><span class="label label-danger">@item.OrderStatus</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-success">@item.OrderStatus</span></td>
                                                    }
                                                    @if (item.PaymentStatus == "Pending")
                                                    {
                                                        <td><span class="label label-danger">@item.PaymentStatus</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-success">@item.PaymentStatus</span></td>
                                                    }
                                                    <td align="left"><span>@item.ApproveDate</span></td>
                                                    <td align="left"><span>@item.ShippedDate</span></td>
                                                    <td>
                                                        @if (item.ApproveDate == "--")
                                                        {
                                                            @*<input type="button" value="Download" class="btn btn-default btn-sm" disabled  title="View Invoice"/>*@
                                                            <button type="button" class="btn btn-info btn-sm" disabled title="View Invoice"><i class="fa fa-file"></i></button>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Franchise/FranchiseOrderStatus/TaxInvoice?OrderId=@item.PK_RId" target="_blank" class="btn-sm btn  btn-info " title="View Invoice"><i class="fa fa-file"></i></a>
                                                        }
                                                        @if (item.ShippingStatus == "0")
                                                        {
                                                            <button type="button" class="btn btn-success btn-sm" disabled title="View Shipping Details">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-success btn-sm" id="btnshowpopupdelivery" onclick="BindOrderShippingDetails(@item.PK_RId)" data-toggle="modal" data-target="#myModaldelivery" title="View Shipping Details"> <i class="fa fa-eye"></i></button>
                                                        }
                                                        @if (item.ReciveStatus == "Pending")
                                                        {
                                                            <button type="button" class="btn btn-primary btn-sm" title="Receive Items" data-toggle="modal" data-target="#myModal" onclick="ShowItem(@item.PK_RId,1)">
                                                                Receive Item
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-primary btn-sm" title="Receive Items" disabled>
                                                                Receive Item
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            @*<tr colspan="7">
                                                    <td>No Record Found..</td>
                                                </tr>*@
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <footer class="card-footer bg-white p-2">
                            <div class="d-md-flex align-items-center justify-content-between">
                                @if (Model != null)
                                {
                                    if (Model.Pager != null)
                                    {
                                        if (Model.Pager.EndPage > 1)
                                        {
                                            <div> <small class="text-muted inline">showing @Model.LstOrder.Count  of @Model.LstOrder[0].TotalRecords items</small> </div>
                                            <div>
                                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    @if (Model.Pager.CurrentPage > 1)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="/Franchise/FranchiseOrderStatus/ViewRequestdOrderStatus?OrderNo=@Model.OrderNo&ApproveDate=@Model.ApproveDate">First</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="/Franchise/FranchiseOrderStatus/ViewRequestdOrderStatus?page=@(Model.Pager.CurrentPage - 1)&OrderNo=@Model.OrderNo&ApproveDate=@Model.ApproveDate">Previous</a>
                                                        </li>
                                                    }
                                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                                    {
                                                        <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                                            <a class="page-link" href="/Franchise/FranchiseOrderStatus/ViewRequestdOrderStatus?page=@page&OrderNo=@Model.OrderNo&ApproveDate=@Model.ApproveDate">@page</a>
                                                        </li>
                                                    }
                                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                                    {
                                                        <li class="page-item">
                                                            <a class="page-link" href="/Franchise/FranchiseOrderStatus/ViewRequestdOrderStatus?page=@(Model.Pager.CurrentPage + 1)&OrderNo=@Model.OrderNo&ApproveDate=@Model.ApproveDate">Next</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="/Franchise/FranchiseOrderStatus/ViewRequestdOrderStatus?page=@(Model.Pager.TotalPages)&OrderNo=@Model.OrderNo&ApproveDate=@Model.ApproveDate">Last</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </footer>
                    </div>


                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Item Details</h4>
                    </div>
                    <div class="modal-body">
                        <div id="CustomMessages1"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" >
                                    <table id="Productdetails" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Product&nbsp;Type</th>
                                                <th>Product&nbsp;Name</th>
                                                <th>Product&nbsp;Amt</th>
                                                <th>Requested&nbsp;Qty</th>
                                                <th>Approved&nbsp;Qty</th>
                                                <th>Final&nbsp;Amt</th>
                                                <th>Point&nbsp;Value</th>
                                                <th>Total&nbsp;PV</th>
                                                @*<th>Approved&nbsp;Qty</th>*@
                                                <th>Remark</th>
                                                @*<th>Status</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="ReqId" class="hide"></span>
                        <button type="button" class="btn btn-success" id="btnRec" style="display:none" onclick="ReceivedStcok()">Receive</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div id="myModaldelivery" class="modal fade">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Shipping Information</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Doc No</label>
                                <input name="txtDocNo" type="text" id="txtDocNo" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>Doc Date</label>
                                <input name="txtDocDate" type="text" id="txtDocDate" class="form-control datepicker-all" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>No. of Carton</label>
                                <input name="txtNoofCarton" type="text" id="txtNoofCarton" class="form-control" readonly="readonly" disabled>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <label>Vehical No</label>
                                <input name="txtVehicalNo" type="text" id="txtVehicalNo" class="form-control" readonly="readonly" disabled>

                            </div>

                            <div class="col-sm-4">
                                <label>PersonName</label>
                                <input name="txtPersonName" type="text" id="txtPersonName" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>MobileNo</label>
                                <input name="txtMobileNo" type="text" maxlength="10" id="txtMobileNo" class="form-control" onkeypress="return onlyNos(event,this);" readonly="readonly" disabled>

                            </div>



                        </div>

                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-12">

                                <label>Delivery Address</label>
                                <textarea name="txtDeliAdd" rows="3" cols="100" id="txtDeliAdd" class="form-control" readonly="readonly" disabled></textarea>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>State</label>
                                <input name="txtDelState" type="text" id="txtDelState" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>City</label>
                                <input name="txtDelCity" type="text" id="txtDelCity" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>Pin Code</label>
                                <input name="txtDelPinCode" type="text" maxlength="6" id="txtDelPinCode" class="form-control" readonly="readonly" disabled>

                            </div>
                        </div>


                        <div class="row">

                            <div class="col-sm-4">
                                <label>Mode Of Transport</label>
                                <select name="ddlModeOfTransport" id="ddlModeOfTransport" class="form-control" disabled>
                                    <option value="0">Select</option>
                                    <option value="Road">Road</option>
                                    <option value="Flight">Flight</option>
                                    <option value="Train">Train</option>
                                    <option value="Courier">Courier</option>

                                </select>

                            </div>

                            <div class="col-sm-4">
                                <label>Courier Name</label>
                                <input name="txtCourierName" type="text" id="txtCourierName" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>Courier Ref. No</label>
                                <input name="txtRefNo" type="text" id="txtRefNo" class="form-control" readonly="readonly" disabled>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <label>Freight Charges</label>
                                <input name="txtFreightCharges" type="text" id="txtFreightCharges" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>Discount</label>
                                <input name="txtDiscount" type="text" id="txtDiscount" class="form-control" readonly="readonly" disabled>

                            </div>
                            <div class="col-sm-4">
                                <label>Electronic Ref No</label>
                                <input name="txtElectronicRefNo" type="text" id="txtElectronicRefNo" class="form-control" readonly="readonly" disabled>

                            </div>

                        </div>

                    </div>
                    <div class="modal-footer pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

@section body{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $(function () {
            $('input[name="ApproveDate"]').daterangepicker({
                //opens: 'left'
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'DD/M/YYYY'
                }
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>
}
<script>

    function BindOrderShippingDetails(RequestId) {

        $.ajax({
            type: "POST",
            url: "/Franchise/FranchiseOrderStatus/GetEditFranchiseItemInformation",
            data: '{RequestId: "' + JSON.stringify(RequestId) + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (deliveryArr) {
                var i = 0;
                $("#txtDocNo").val(deliveryArr[i].DocNo);
                $("#txtDocDate").val(deliveryArr[i].DocDate);
                $("#txtNoofCarton").val(deliveryArr[i].NoOfCarton);
                $("#ddlModeOfTransport").val(deliveryArr[i].ModeOfTrip);
                $("#txtVehicalNo").val(deliveryArr[i].VehicalNo);

                $("#txtDeliAdd").val(deliveryArr[i].DeliveryAddress);
                $("#txtDelState").val(deliveryArr[i].State);
                $("#txtDelCity").val(deliveryArr[i].City);
                $("#txtDelPinCode").val(deliveryArr[i].PinCode);


                $("#txtCourierName").val(deliveryArr[i].CourierName);
                $("#txtFreightCharges").val(deliveryArr[i].FreightCharge);
                $("#txtDiscount").val(deliveryArr[i].Discount);


                $("#txtPersonName").val(deliveryArr[i].PersonName);
                $("#txtMobileNo").val(deliveryArr[i].MobileNo);
                $("#txtElectronicRefNo").val(deliveryArr[i].ElectronicRefNo);

                $("#txtRefNo").val(deliveryArr[i].RefNo);
            },
            error: function (err) {
                showSnazzyErrorMessage1(err.statusText);
                return false;
            }
        });
    }

    function ShowItem(RequestId, key) {
        var ReqId = RequestId;
        $.ajax({
            url: "/Franchise/FranchiseOrderStatus/ViewRequestItemDetail",
            type: "POST",
            dataType: 'json',
            data: JSON.stringify({ RequestId: ReqId }),
            contentType: "application/json",
            success: function (result) {

                if (result != undefined && result != '') {
                    if (key == 1) {
                        $("#ReqId").text(ReqId);
                        $("#btnRec").show();
                    }
                    else
                        $("#btnRec").hide();


                    $("#Productdetails tbody").html('');

                    var str = "";
                    var str1 = "";
                    var TotalProdAmt = 0;
                    var TotalReqQty = 0;
                    var TotalAppQty = 0;
                    var FinalAmt = 0;
                    for (var i = 0; i < result.length; i++) {
                        var status = ""
                        var css = ""
                        if (result[i].PrdWiseStsId == 5) {
                            status = "Approved"
                            css = "label label-success"
                        }
                        else if (result[i].PrdWiseStsId == 6) {
                            status = "Decline"
                            css = "label label-danger"
                        }
                        else {
                            status = "Pending"
                            css = "label label-warning"
                        }

                        debugger
                        TotalProdAmt = parseInt(TotalProdAmt) + parseFloat(result[i].Amount);
                        TotalReqQty = parseInt(TotalReqQty) + parseFloat(result[i].ReqQnty);
                        TotalAppQty = parseInt(TotalAppQty) + parseFloat(result[i].ApprovalQty);
                        //FinalAmt = parseInt(FinalAmt) + parseFloat(((result[i].Amount) * (result[i].ReqQnty)));
                        FinalAmt = parseInt(FinalAmt) + parseFloat(((result[i].Amount) * (result[i].ApprovalQty)));

                        str += "<tr ><td nowrap>" + result[i].ProductType + "</td><td>" + result[i].ProductName + "</td><td>" + result[i].Amount + "</td><td>" + result[i].ReqQnty + "</td><td>" + result[i].ApprovalQty + "</td><td>" + ((result[i].Amount) * (result[i].ApprovalQty)) + "</td><td>" + result[i].PointValue + "</td><td>" + result[i].TotalPV + "</td><td>" + result[i].PrdWiseRmrk + "</td></tr>";
                    }

                    str += "<tr><th colspan='2'>Total</th><th>" + TotalProdAmt + "</th><th>" + TotalReqQty + "</th><th>" + TotalAppQty + "</th><th >" + FinalAmt + "</th><th></th><th></th><th></th></tr>";

                    $("#Productdetails tbody").html(str);
                }
            },
            error: function (err) {
                showSnazzyErrorMessage1(err.statusText);
                return false;
            }
        });
    }

    function ReceivedStcok() {
        if (!confirm("Are you sure to receive ?")) {
            return false;
        }
        var ReqId = $('#ReqId').text();
        if (ReqId != null && ReqId != undefined) {
            $.ajax({
                url: "/Franchise/FranchiseOrderStatus/ReceiveFranchiseOrder",
                type: "POST",
                dataType: 'json',
                data: JSON.stringify({ RequestId: ReqId }),
                contentType: "application/json",
                success: function (result) {
                    $('#ReqId').text('')
                    window.location.reload();
                },
                error: function (err) {
                    showSnazzyErrorMessage1(err.statusText);
                    return false;
                }
            });
        }

        else
            return false;
    }

    $('#btnpdf').click(function () {
        debugger;
        var col = [2, 0]; // coloms to remove

        var tbl = $('#tblRequestedOrder').clone();
        $('.t').addClass('hide');
        var tablenew = tbl.get(0);

        for (var c = 0; c < col.length; c++) {
            for (var i = 0; i < tablenew.rows.length; i++) {

                var tableRow = tablenew.rows[i];

                for (var j = 0; j < tableRow.cells.length; j++) {
                    if (j == col[c]) {
                        tableRow.cells[j].remove();

                    }
                }
            }
        }


        var table1 =
            tableToJson(tbl.get(0)),
            cellWidth = 35,
            rowCount = 0,
            cellContents,
            leftMargin = 2,
            topMargin = 12,
            topMarginTable = 55,
            headerRowHeight = 13,
            rowHeight = 9,

            l = {
                orientation: 'l',
                unit: 'mm',
                format: 'a4',
                compress: true,
                fontSize: 8,
                lineHeight: 1,
                autoSize: false,
                printHeaders: true
            };
        var doc = new jsPDF(l, '', '', '');
        doc.page = 1; // use this as a counter.

        function footer() {
            doc.text(150, 285, 'page ' + doc.page); //print number bottom right

            doc.page++;
        };

        doc.setProperties({
            title: 'Requested Order List',
            subject: 'This is the subject',
            author: 'author',
            keywords: 'generated, javascript, web 2.0, ajax',
            creator: 'author'
        });

        doc.cellInitialize();

        $.each(table1, function (i, row) {

            rowCount++;

            $.each(row, function (j, cellContent) {

                if (rowCount == 1) {
                    doc.margins = 1;
                    doc.setFont("helvetica");
                    doc.setFontType("bold");
                    doc.setFontSize(9);

                    doc.cell(leftMargin, topMargin, cellWidth, headerRowHeight, cellContent, i)
                }
                else if (rowCount == 2) {
                    doc.margins = 1;
                    doc.setFont("times");
                    doc.setFontType("Times New Roman");  // or for normal font type use ------ doc.setFontType("normal");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);
                }
                else {

                    doc.margins = 1;
                    doc.setFont("courier ");
                    doc.setFontType("Times New Roman ");
                    doc.setFontSize(8.5);

                    doc.cell(leftMargin, topMargin, cellWidth, rowHeight, cellContent, i);  // 1st=left margin    2nd parameter=top margin,     3rd=row cell width      4th=Row height
                }
            })
        })

        doc.text(150, 285, 'page ' + doc.page); //print number bottom right
        doc.setFontSize(25);
        doc.setFillColor('#DCDCDC');
        doc.rect(1, 0, 400, 10, "F");
        doc.setTextColor(0, 0, 0);
        doc.text(110, 8, "RequestedOrderList");
        doc.page++;
        doc.save('RequestedOrderList.pdf');

    });


    function tableToJson(table) {
        var data = [];

        // first row needs to be headers
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }


        // go through cells
        for (var i = 0; i < table.rows.length; i++) {

            var tableRow = table.rows[i];
            var rowData = {};

            for (var j = 0; j < tableRow.cells.length; j++) {

                rowData[headers[j]] = tableRow.cells[j].textContent.trim() == "" ? "-" : tableRow.cells[j].textContent.trim();

            }

            data.push(rowData);
        }

        return data;
    }

    // createPDF--------------
    function createPDF() {
        var sTable = document.getElementById('DepartmentTable').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Requested Order Detail</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }


</script>

